/*main.css*/
body{
    margin: 0;
    color: #333;
    text-rendering: optimizelegibility;
    _background-attachment: fixed;
    _background-image: url(about:blank);
}
a:hover{
  text-decoration: none !important;
}
label{
  font-weight: normal !important;
  padding: 5px 8px 0 !important;
  /*height: 100%;*/
  text-align: right;
}
input{
  height: 100%;
  border: 1px solid #dbdbdb;
  padding: 6px !important;
  background-color: #fdfbfb;
}
input:focus{
  border: 1px solid #e94828;
  outline: none;
  background-color: #fdfbfb;
}
.no-padding{
  padding: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.bg{
  padding-top: 18px;
}
.red-button {
  border-radius: 3px;
  height: 32px;
  border: 1px solid #f16144;
  background-color: #f16144;
  color: white;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  margin: 0 5px;
}
.red-button:hover {
  background-color: #f27b64;
}
.red-button:active {
  background-color: #d23d1f;
}
.white-button {
  border: 1px solid #e94828;
  border-radius: 3px;
  height: 34px;
  background-color: white;
  margin: 0 5px;
  color: #e94828;
  outline-style: none;
  cursor: pointer;
}
.white-button:hover {
  background-color: #e94828;
  color: white;
}
.white-button:active {
  background-color: #d23d1f;
  outline-style: none;
  color: white;
}
.right-area{
    border:1px solid #dbdbdb;
    font-size: 14px;
    color: #888181;
    background-color: white;
    border-radius: 5px;
    margin-left: 40px;
    margin-bottom: 30px;
    min-height: 600px !important;
}
/*loginAndRegiste.css*/
.bg-login{
  height: 412px;
}
.login-area{
  height: 380px;
}
.regist-area{
  height: 480px;
}
.login-left-area,
.regist-left-area{  
  min-height: 92% !important;
  border: 2px solid #d9d5d6;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 1px 1px #d9d5d6;
  padding: 0;
}
.login-left-area{
  margin-top: 20px;
  height: 90%;
}
.login-right-area,
.regist-right-area{
  height: 92%;
}
.login-right-area{
  background: url(/images/sprite.png) -1527px -780px no-repeat;
}
.regist-right-area{
  background: url(/images/sprite.png) -1574px -695px no-repeat;
}
.p-login-right,
.p-regist-right{
  height: 99%;
  padding-top: 170px;
  text-align: center;
}
.p-login-right a,
.p-regist-right a{
  color: #e94828;
  font-weight: bold;
}
.p-login-right a:hover,
.p-regist-right a:hover{
  color: #e94828;
  text-decoration: underline;
}
.login-title{
  height: 55px;
  width: 100.9%;
  margin-top: -2px;
  margin-left: -2px;
  padding-top: 18px;
  padding-left: 30px;
  background-color: #eb5b3c;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.form-login,
.form-regist{
  padding-top: 30px;
}
.p-checkbox,
.p-remember{
  float:left; 
}
.p-checkbox{
  height: 15px;
  width: 15px;
  margin-top: 0 !important;
  padding: 0 !important;
}
.p-remember{
  font-size: 12px;
}
.p-forget{
  float: right;
  color: #b8b8b8;
  font-size: 12px;
}
.p-forget:hover{
  color: #d8271c;
  text-decoration: underline;
}
.bg-regist{
  height: 535px;
  padding-top: 30px;
}
.a-regist{
  font-size: 21px;
  height: 50px;
  padding-top: 10px;
  padding-left: 20px;
  text-align: center;
  display: block;
  text-decoration: none;
}
.a-regist:hover{
  text-decoration: none;
  color: inherit;
}
.red-regist{
  color: white;
  background-color: #e94929;
}
.red-regist:hover{
  color: white;
}
.grey-regist{
  color: #817774;
  background-color: #dfceca;
}
.a-phone-regist{
  border-top-left-radius: 5px;
}
.a-mail-regist{
  border-top-right-radius: 5px;
}
.pic-verify {
  height: 34px;
  cursor: pointer;
}
.refresh-pic{
  height: 34px;
  background: url(/images/sprite.png) -392px -857px no-repeat;
  cursor: pointer;
}
.triangle-container{
  padding-left: 25px;
}
.triangle{
  height: 12px;

  background: url(/images/sprite.png) -1565px -1183px no-repeat;
}
/*agreement*/
.agreement-area{
  background-color: white;
  border: 1px solid #dbdbdb;
  padding: 35px 45px 65px;
  margin-bottom: 70px;
}
.text-title{
  font-size: 32px;
  line-height: 32px;
  height: 40px;
  border-bottom: 1px solid black;
}
.table-title{
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}
.table-top-title{
  padding-top: 10px;
}
/*关于我们*/
.about-left-area{
  height: 317px;
  border:1px solid #dbdbdb;
  font-size: 14px;
  color: #888181;
  background-color: white;
  border-radius: 5px;
  margin-top: 18px;
  border-top: 0px solid #dbdbdb;
}
.tips-area{
    height: 45px;
    width: 100%;
    display: block;
    color: inherit;
    text-decoration: none;
    border-top: 1px solid #dbdbdb;
}
.tips-area:hover{
    color: inherit;
    background-color: #f7e9e8;
    text-decoration: none;
}
.tips-area:active{
    background-color: #e14526;
    text-decoration: none;
    color: white;
}
.tips-area p{
    margin: 0;
    height: 100%;
    text-align: left;
    padding-top: 12px;
    font-size: 14px;
    text-decoration: none;
    padding-left: 30px;
}
.left-top-radius{
  border-top: 0px solid #fff;
  border-top-left-radius: 5px;
}
.left-bottom-radius{
  border-bottom-left-radius: 5px;
}
.on-it{
  background-color: #fbeeec;
  color: #e14526;
  text-decoration: none;
}
.on-it div{
  float: left;
  width: 3px;
  height: 100%;
  background-color: #e14526;
}
.on-it:hover{
  color: #e14526;
  text-decoration: none;
}
.on-it:active{
  text-decoration: none;
  color: white;
}
.dynamic-height{
  height: 770px;
}
.introduction-height{
  height: 600px;
}
.dynamic-height,
.introduction-height{
  margin-bottom: 25px;
}
.right-title {
  height: 40px;
  width: 100%;
  background: url(/images/sprite.png) -858px -130px no-repeat;
  padding-top: 7px;
  font-size: 18px;
  padding-left: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}
.introduction-area{
  padding:0px 72px !important;
  color: #9a9595;
}
.img-area{
  margin-top: 20px; 
  height: 300px;
}
.img-introduction{
  height: 150px;
  background-color: grey;
  margin-right: 13px;
  float: left;
}
.dynamic-show{
  height: 135px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
}
.img-dynamic{
  height: 114px;
  background-color: black;
}
.p-title-dynamic{
  display: block;
  font-size: 18px;
  color: #9a9595;
  height: 30px;
}
.p-title-dynamic:hover,
.web-show a:hover{
  color: #e14526;
}
.p-date{
  margin-top: 2px;
  font-size: 14px;
  color: #9a9595;
  float: right;
}
.p-dynamic-show{
  height: 65px;
  font-size: 14px;
  color: #9a9595;
  line-height: 24px;
}
.p-dynamic-show:hover{
  text-decoration: underline;
  color: #9a9595;
}
.table-link-us{
  font-size: 14px;
  color: #9a9595;
}
.table-link-us tr{
  height: 30px;
}
.p-right{
  float: right;
  height: 20px;
  padding: 5px 0;
}
.p-title-introduction{
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 60px;
  color: #9a9595;
}
/*个人中心*/
.left-area{
    height: 415px;
    border:1px solid #dbdbdb;
    font-size: 12px;
    color: #888181;
    background-color: white;
    border-radius: 5px;
}
.personal-information{
    height: 180px;
}
.account-message {
  height: 325px;
}
/*个人中心右侧*/
.right-area{
    border:1px solid #dbdbdb;
    font-size: 14px;
    color: #888181;
    background-color: white;
    border-radius: 5px;
}
.account-height {
  height: 670px;
}
/*person_set*/
.head{
    height: 125px;
    width: 100%;
}
.back-ground{
    height: 858px;
    width: 100%;
    padding-top: 38px;
    background-color: #fdfbfb;
}
.main-area{
    height: 820px;
    width: 990px;
    margin: 0 auto;
    position: relative;
}
.p-user-name{
    padding-top: 10px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}
.p-user-name strong{
  font-size: 20px;
}
.safe-pic{
    height: 47px;
    width: 47px;
    margin: 15px 3px 0 3px;
    float: left;
}
.security-level{
    height: 12px;
    width: 145px;
    margin: 12px auto 10px auto;
}
.a-up-level{
  float: right;
  margin-top: -28px;
}
.center-tips{
    height: 45px;
    width: 100%;
    border-top: 1px solid #f5f5f5;
    padding-left: 17px;
    padding-top: 15px;
    margin: 0;
}
.ico-area{
    height: 30px;
    width: 30px;
    float: left;
    margin-top: 5px;
    margin-left: 15px;
}

.now {
  color: #ee7259;
}
.now:active{
  color: white;
}
.tips-show {
  background-color: #fbeeec;
}
.left-show-area {
  height: 100%;
  width: 4px;
  float: left;
}
.left-show-area-bg{
  background-color: #e14526;
}

.safe-part,
.right-tips-area {
  height: 50px;
  width: 100%;
}
.safe-part p,
.right-user-message p {
  float: left;
  margin-bottom: 0;
}
.tips {
  height: inherit;
  text-align: center;
}
.message {
  height: 100%;
  text-align: center;
}
.activity {
  height: 100%;
  text-align: left;
  cursor: pointer;
}
.hadset {
  color: #77d21c;
  cursor: default;
}
.check-ok {
  float: left;
  height: 17px;
  width: 17px;
  background: url(/images/sprite.png) -96px -305px no-repeat;
  margin-left: 10px;
  margin-top: 4px;
}
.safeset-height {
  height: 1190px;
}
.basic-area {
  height: 255px;
  width: 100%;
}
.right-user-head {
  height: 55%;
  background: url(/images/sprite.png) -512px -533px no-repeat;
  float: left;
  margin-left: 37px;
  margin-right: 15px;
}
.right-user-message {
  height: 100%;
  float: left;
}
.right-tips {
  height: inherit;
  text-align: left;
}
.verify-area {
  height: 235px;
  width: 100%;
  padding: 40px 115px 0 200px;
  border-top: 1px solid #f5f5f5;
}
.userCenter .form-group {
  height: 40px;
  margin: 0 auto;
}
.verify-input {
  height: 30px;
  border: 1px solid #dbdbdb;
  background-color: #f7f5f5;
  padding: 8px 10px;
  font-size: 12px;
}
.verify-input:focus {
  outline: none;
}
.verify-button {
  height: 30px;
  border: 1px solid #e94828;
  background-color: #e94828;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  outline: none;
}
.verify-button:hover {
  background-color: #f27b64;
}
.verify-button:active {
  background-color: #d23d1f;
}
.get-verify-button {
  border: 1px solid #e94828;
  border-radius: 3px;
  height: 30px;
  background-color: white;
  margin-top: 6px;
  margin-left: 3px;
  color: #e94828;
  outline-style: none;
}
.get-verify-button:hover {
  background-color: #e94828;
  color: white;
}
.get-verify-button:active {
  background-color: #d23d1f;
  outline-style: none;
  color: white;
}
.mail-area {
  margin: 25px 0 15px 0;
}
.userCenter p.title {
  margin-left: 40px;
}
.mail-button {
  margin-left: 55px;
}
.assets-height {
  height: 890px;
}
.right-assets-height{
  min-height: 815px;
}
.account-pic,
.assets-pic {
  height: 313px;
  margin: 0px auto 30px auto;
}
.account-pic {
  margin: -15px 0 0 0px;
  float: left;
}
.left-message {
  height: 260px;
  border-right: 1px solid #f5f5f5;
  float: left;
}
.left-message-show {
  height: 100px;
  border-bottom: 1px solid #f5f5f5;
}
.last-show {
  border-bottom: 0px solid #f5f5f5;
}
.assets-ico {
  height: 14px;
  width: 14px;
  float: left;
  border-radius: 3px;
}
.available-balance {
  background-color: #d2cb3f;
}
.proceeds-to-be-received,
.account-balance {
  background-color: #62cbc6;
}
.principal-amount-to-be-received,
.net-income {
  background-color: #f9b81e;
}
.freezing-of-funds {
  background-color: #6aabe1;
}
.income-received {
  background-color: #913969;
}
.accumulated-investment,
.total-assets {
  background-color: #e94828;
}
.asset-tips {
  height: 20px;
  margin-left: 20px;
  line-height: 14px;
}
.asset-money {
  font-size: 24px;
  font-weight: bold;
  margin: -10px 0 0 0;
}
.assets-money small,
.asset-money small{
  font-size: 16px;
  font-weight: normal;
}
.right-message {
  height: 260px;
}
.right-message .left-message-show {
  margin-left: 40px;
}
.account-button {
  height: 30px;
  margin-top: -10px;
  text-align: center;
  margin-left: 45px;
  border-radius: 5px;
}
.account-button:hover {
  color: #fff;
}
.right-area .account-right-button {
  margin-left: 15px;
  border-radius: 5px;
}
.view-more {
  color: #cecdcd;
  float: right;
  margin-top: 30px;
  margin-right: 70px;
}
.view-more:hover {
  color: inherit;
}
.account-investment {
  height: 135px;
}
.account-investment-show {
  height: 74px;
  margin-right: 73px;
  padding: 25px;
  color: #717071;
  float: left;
}
.account-number {
  font-size: 24px;
  margin: 0;
  text-align: center;
  color: #e14526
}
.account-number-message {
  margin-top: -6px;
  text-align: center;
}
.account-number span{
  color: #888181;
}
.investment-more {
  margin: 20px 100px 0 0;
}
.userCenter label {
  font-weight: normal;
  padding-top: 2px;
}
 .read,
 .read-check {
  float: left;
}
 .read {
  margin-top: -2px;
  margin-left: 10px;
}
 .read-area {
  height: 30px;
}
 .real-name-tips {
  font-size: 12px;
  height: 160px;
  margin: 60px auto 0 auto;
}
 .word-less-title {
  padding-left: 80px;
}
 .right-area .border-none {
  border: none;
}
 .padding-l {
  padding-left: 30px;
}
.userCenter .form-group select {
  background-color: #f7f5f5;
  height: 30px;
  border: 1px solid #dbdbdb;
  outline: none;
}
 .bank-list {
  width: 245px;
}
.userCenter #Select1 {
  width: 120px;
}
.userCenter #Select2 {
  width: 121px;
}
.userCenter .margin-l {
  margin-left: 155px;
}
 .verify-area .tip {
  margin-top: 50px;
}
 .verify-tip {
  height: 35px;
  line-height: 35px;
  background-color: #e4e4e4;
  margin-top: 150px;
  padding-left: 15px;
}
 .verify-tip a {
  color: #e94828;
}
 .bank-img {
  border-radius: 3px;
}
 .recharge .pic-verify,
 .withdraw .pic-verify {
  margin-top: 0;
  margin-left: 5px;
}
 .recharge .a-verify,
 .withdraw .a-verify {
  left: 245px;
}
 .recharge .agree-area {
  padding-left: 35px;
  margin-top: 25px;
}
 .recharge .verify-button,
 .withdraw .verify-button {
  height: 30px;
  margin-left: 105px;
  border-radius: 3px;
  margin-top: 0;
}
 .recharge .mgn-top,
 .withdraw .mgn-top {
  margin-top: 10px;
}
 .recharge .mgn-top p,
 .withdraw .mgn-top p {
  padding-top: 5px;
}
 .recharge .tip,
 .withdraw .tip {
  padding-left: 201px;
  padding-top: 45px;
}
 .real-name .set-transactionPwd {
  background-color: #e94828;
  height: 30px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 0;
}
.set-transactionPwd:hover {
  background-color: #f27b64;
}
.safe-process{
  height: 135px;
  margin-bottom: 25px;
  border-bottom: 1px solid #cecdcd;
  margin-left: 25px;
}
.process-tips{
  height: 80px;
  padding-top: 70px;
  text-align: center;
}
.grey-safe-pwd{
  background: url(/images/sprite.png) -12px -1277px no-repeat;
}
.grey-safe-phone{
  background: url(/images/sprite.png) -140px -1277px no-repeat;
}
.grey-safe-mail{
  background: url(/images/sprite.png) -269px -1277px no-repeat;
}
.grey-safe-realname{
  background: url(/images/sprite.png) -400px -1277px no-repeat;
}
.red-safe-pwd{
  background: url(/images/sprite.png) -12px -1390px no-repeat;
}
.red-safe-phone{
  background: url(/images/sprite.png) -140px -1390px no-repeat;
}
.red-safe-mail{
  background: url(/images/sprite.png) -269px -1390px no-repeat;
}
.red-safe-realname{
  background: url(/images/sprite.png) -400px -1390px no-repeat;
}
.blue-safe-pwd{
  background: url(/images/sprite.png) -12px -1485px no-repeat;
}
.blue-safe-phone{
  background: url(/images/sprite.png) -140px -1485px no-repeat;
}
.blue-safe-mail{
  background: url(/images/sprite.png) -269px -1485px no-repeat;
}
.blue-safe-realname{
  background: url(/images/sprite.png) -400px -1485px no-repeat;
}
.change-area{
  border: 1px solid #dfdfdf; 
  margin: -15px auto 10px auto;
}
.change-pwd-height{
  height: 240px;
}
.change-mail-height{
  height: 140px;
}
.change-phone-height{
  height: 190px;
}
.verify-index{
  margin-top: 0;
}
.safe-form-group{
  height: 50px;
  margin: 0 auto;
}
.user-check-img{
  float: left;
  margin: 7px 7px 0 3px;
}
.user-tips-area{
  height: 20px;
}
.safe-tips-area{
  margin-right: -70px;
}
.grey,
.grey:hover{
  color: #a39f9f;
  background-color: #e2e2e2;
  border: 1px solid #c4c4c4;
}
.p-assets{
  margin-top: -200px;
  margin-left: 105px;
}
.assets-money{
  font-size: 30px;
  padding-left: 20px;
}
.safe-email-change{
  margin-top: -29px;
}
.safe-card-tips{
  margin: 0 0 20px 0; 
}
.mid-line{
  height: 74px;
  width: 1px;
  background-color: #dbdbdb;
  float: left;
}
.safe-pic-area{
  width: 165px;
  margin: 0 auto;
}
/*bgPicChange*/
.card-ok{
    background: url(/images/sprite.png) -77px -370px no-repeat;
}
.card-no{
    background: url(/images/sprite.png) -77px -424px no-repeat;
}
.phone-ok{
    background: url(/images/sprite.png) -136px -370px no-repeat;
}
.phone-no{
    background: url(/images/sprite.png) -136px -424px no-repeat;
}
.mail-ok{
    background: url(/images/sprite.png) -199px -370px no-repeat;
}
.mail-no{
    background: url(/images/sprite.png) -199px -424px no-repeat;
}
.high-level{
  background: url(/images/sprite.png) -35px -1165px no-repeat;
}
.mid-level{
  background: url(/images/sprite.png) -35px -1228px no-repeat;
}
.low-level{
  background: url(/images/sprite.png) -35px -1197px no-repeat;
}
.red-account{
    background: url(/images/sprite.png) -427px -463px no-repeat;
}
.grey-account {
  background: url(/images/sprite.png) -394px -463px no-repeat;
}
.tips-area:active .grey-account,
.tips-area:active .red-account{
    background: url(/images/sprite.png) -463px -463px no-repeat;
}

.red-bankcard{
    background: url(/images/sprite.png) -429px -499px no-repeat;
}
.grey-bankcard {
  background: url(/images/sprite.png) -395px -499px no-repeat;
}
.tips-area:active .grey-bankcard,
.tips-area:active .red-bankcard{
    background: url(/images/sprite.png) -463px -499px no-repeat;
}

.red-safeset{
    background: url(/images/sprite.png) -429px -534px no-repeat;
}
.grey-safeset {
  background: url(/images/sprite.png) -395px -534px no-repeat;
}
.tips-area:active .grey-safeset,
.tips-area:active .red-safeset{
    background: url(/images/sprite.png) -463px -534px no-repeat;
}

.red-assets{
    background: url(/images/sprite.png) -429px -569px no-repeat;
}
.grey-assets {
  background: url(/images/sprite.png) -395px -569px no-repeat;
}
.tips-area:active .grey-assets,
.tips-area:active .red-assets{
    background: url(/images/sprite.png) -463px -569px no-repeat;
}

.red-recharge{
    background: url(/images/sprite.png) -429px -604px no-repeat;
}
.grey-recharge {
  background: url(/images/sprite.png) -395px -604px no-repeat;
}
.tips-area:active .grey-recharge,
.tips-area:active .red-recharge{
    background: url(/images/sprite.png) -463px -604px no-repeat;
}

.red-withdraw{
    background: url(/images/sprite.png) -429px -641px no-repeat;
}
.grey-withdraw {
  background: url(/images/sprite.png) -395px -641px no-repeat;
}
.tips-area:active .grey-withdraw,
.tips-area:active .red-withdraw{
    background: url(/images/sprite.png) -463px -641px no-repeat;
}

.red-record {
  background: url(/images/sprite.png) -429px -673px no-repeat;
}
.grey-record {
  background: url(/images/sprite.png) -395px -673px no-repeat;
}
.tips-area:active .grey-record,
.tips-area:active .red-record {
  background: url(/images/sprite.png) -463px -673px no-repeat;
}

.red-investment {
  background: url(/images/sprite.png) -429px -709px no-repeat;
}
.grey-investment {
  background: url(/images/sprite.png) -395px -709px no-repeat;
}
.tips-area:active .grey-investment,
.tips-area:active .red-investment {
  background: url(/images/sprite.png) -463px -709px no-repeat;
}

.red-news {
  background: url(/images/sprite.png) -429px -743px no-repeat;
}
.grey-news {
  background: url(/images/sprite.png) -395px -743px no-repeat;
}
.tips-area:active .grey-news,
.tips-area:active .red-news{
  background: url(/images/sprite.png) -463px -743px no-repeat;
}
.account-pic-bg{
  background: url(/images/sprite.png) -1300px -304px no-repeat;
}
/*about-us*/
.about-us div,
.help-center div{
  line-height: 23px;
}
.about-us .padding-b {
  padding-bottom: 120px;
}
.web-show{
  height: 40px;
  padding: 10px 5px;
}
.web-show a,
.web-show p,
.news-nav span a{
  font-size: 14px;
  color: #9a9595;
}
.web-show .p-date{
  margin-top: 0px;
}
.news-nav{
  height: 35px;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 60px;
  margin-top: -10px;
}
.news-nav span{
  display: block;
  height: 35px;
  width: 110px;
  border: 1px solid #dfdfdf;
  float: left;
  background-color: #faf8f8;
  margin-right: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.news-nav span a{
  margin-top: 8px;
  margin-left: 25px;
  display: block;
}
.news-nav .active{
  background-color: white;
  border-bottom: 1px solid white;
}
.details-title{
  width: 280px;
  margin: 0px auto 10px auto;
  text-align: center;
}
.p-details{
  margin-top: 50px;
}
.bank-card-show{
  height: 142px;
  width: 214px;
  background-color: #fdfbfb;
  background-image: url(/images/sprite.png);
  background-position: -795px -1380px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}
.add-card{
  color: #cecdcd;
  font-size: 14px;
  font-weight: bold;
  margin: 90px 0 0 71px;
}
.regist-check-img,
.login-check-img{
  margin-top: -4px;
}
.input-tips {
  font-size: 12px;
  color: #d8271c;
  margin: 0px;
}
.user-input-tips{
  float: left;
  margin-left: -3px;
  margin-top: 8px;
}
.regist-input-tips,
.login-input-tips{
  margin-top: -19px;
  margin-left: 19px;
}
.login-input-tips{
  margin-right: -60px;
}
.form-div{
  padding-top: 10px;
}
.p-click{
  cursor: pointer;
  line-height: 18px;
}
.p-click:hover{
  color: #e14526;
}
.help-height{
  height: 226px;
}
.news-details{
  height: inherit;
  overflow: hidden;
}
.news-details p{
  line-height: 22px;
}
.news-details img,
.news-details h1{
  display: none;
}
.magn {
  margin-left: 72px;
}
.aboutUs-right-title {
  padding-left: 72px !important;
}
.aboutUs-introduction-area {
  word-wrap: break-word;
  word-break: break-all;
  text-indent: 2em;
}
.file-padding{
  padding: 0 5px !important;
}
.file-head{
  margin: 0 !important;
  text-align: center;
}
.invest-check{
  height: 13px;
  width: 20px;
}
.help-ico{
  height: 16px;
  width: 16px;
  background: url(/images/sprite.png) -105px -1779px no-repeat;
  float: left;
  cursor: pointer;
}
.open{
  background: url(/images/sprite.png) -31px -1777px no-repeat;
}
.friends-ship{
  font-size: 18px;
}
.friends-ship a{
  display: block;
  margin: 20px 20px 10px 10px;
  float: left;
}
.smile-bg{
  float: left;
  width: 95px;
  height: 95px;
  background: url(/images/sprite.png) -40px -730px no-repeat;
}
.success-page{
  height: 200px;
  margin-top: 100px;
}
.success-tips{
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
}
.button-div{
  margin: 20px 0;
}
.p-pay-success{
  margin-top: 9px;
}
.p-pay-begin{
  margin-left: 60px;
}
.p-invitation{
  font-size: 18px;
  margin-top: 20px;
}
.p-invitation strong{
  color: #e14526;
}