body {
  margin: 0;
  color: #333;
  text-rendering: optimizelegibility;
  _background-attachment: fixed;
  _background-image: url(about:blank);
}
a:hover {
  text-decoration: none !important;
}
label {
  font-weight: normal !important;
  padding: 5px 8px 0 !important;
  text-align: right !important;
}
input {
  height: 100%;
  border: 1px solid #dbdbdb;
  padding: 6px !important;
  background-color: #fdfbfb;
}
input:focus {
  border: 1px solid #3399cc;
  outline: none;
  background-color: #fdfbfb;
}
.bg {
  padding-top: 18px;
}
.grey-safe-pwd, .grey-safe-phone, .grey-safe-mail, .grey-safe-realname, .blue-safe-pwd, .blue-safe-phone, .blue-safe-mail, .blue-safe-realname, .card-no, .phone-no, .mail-no, .blue-mail-ok, .blue-phone-ok, .blue-card-ok, .grey-account, .tips-area:active .grey-account, .blue-account, .tips-area:active .blue-account, .grey-bankcard, .tips-area:active .grey-bankcard, .blue-bankcard, .tips-area:active .blue-bankcard, .grey-safeset, .tips-area:active .grey-safeset, .blue-safeset, .tips-area:active .blue-safeset, .grey-recharge, .tips-area:active .grey-recharge, .blue-recharge, .tips-area:active .blue-recharge,  .grey-transaction, .tips-area:active .grey-transaction, .blue-transaction, .tips-area:active .blue-transaction, .grey-withdraw, .tips-area:active .grey-withdraw, .blue-withdraw, .tips-area:active .blue-withdraw, .login-right-area, .regist-right-area, .refresh-pic, .triangle, .right-title, .check-ok, .right-user-head, .high-level, .mid-level, .low-level, .account-pic-bg, .help-ico, .open, .smile-bg, .bank-card-show, .bank-card-show-verify {
  background: url(/images/sprite.png) no-repeat;
}
.login-right-area {
  background-position: -1388px -1121px;
}
.right-title {
  background-position: -858px -130px;
}
.check-ok {
  background-position: -83px -305px;
}
.right-user-head {
  background-position: -512px -533px;
}
.grey-safe-pwd {
  background-position: 44px -1277px;
}
.grey-safe-phone {
  background-position: -179px -1277px;
}
.grey-safe-mail {
  background-position: -269px -1277px;
}
.grey-safe-realname {
  background-position: -364px -1277px;
}
.blue-safe-pwd {
  background-position: 44px -1485px;
}
.blue-safe-phone {
  background-position: -179px -1485px;
}
.blue-safe-mail {
  background-position: -269px -1485px;
}
.blue-safe-realname {
  background-position: -364px -1485px;
}
.card-no {
  background-position: -77px -424px;
}
.phone-no {
  background-position: -136px -424px;
}
.mail-no {
  background-position: -199px -424px;
}
.blue-mail-ok {
  background-position: -199px -481px;
}
.blue-phone-ok {
  background-position: -136px -481px;
}
.blue-card-ok {
  background-position: -77px -481px;
}
.high-level {
  background-position: -23px -1165px;
}
.mid-level {
  background-position: -23px -1228px;
}
.low-level {
  background-position: -23px -1197px;
}
.grey-account {
  background-position: -394px -463px;
}
.blue-account {
  background-position: -362px -463px;
}
.tips-area:active .grey-account, .tips-area:active .blue-account {
  background-position: -463px -463px;
}
.blue-bankcard {
  background-position: -362px -499px;
}
.grey-bankcard {
  background-position: -395px -499px;
}
.tips-area:active .grey-bankcard, .tips-area:active .blue-bankcard {
  background-position: -463px -499px;
}
.blue-safeset {
  background-position: -362px -534px;
}
.grey-safeset {
  background-position: -395px -534px;
}
.tips-area:active .grey-safeset, .tips-area:active .blue-safeset {
  background-position: -463px -534px;
}
.blue-recharge {
  background-position: -362px -604px;
}
.grey-recharge {
  background-position: -395px -604px;
}
.tips-area:active .grey-recharge, .tips-area:active .blue-recharge {
  background-position: -463px -604px;
}

.grey-safe-cgt, .grey-safe-repayment, .grey-safe-info, .grey-safe-loan, .grey-safe-audit {
  background: url(/images/lend-money-grey.png) no-repeat;
}
.blue-safe-cgt, .blue-safe-repayment, .blue-safe-info, .blue-safe-loan, .blue-safe-audit {
  background: url(/images/lend-money-blue.png) no-repeat;
}
.grey-safe-cgt {
  background-position: 39px 2px;
} 
.grey-safe-repayment {
  background-position: -89px 2px;
} 
.grey-safe-info {
  background-position: -217px 2px;
}
.grey-safe-loan {
  background-position: -347px 2px;
} 
.grey-safe-audit {
  background-position: -475px 2px;
}
.blue-safe-cgt {
  background-position: 39px 0px;
} 
.blue-safe-repayment {
  background-position: -89px 0px;
} 
.blue-safe-info {
  background-position: -217px 0px;
}
.blue-safe-loan {
  background-position: -347px 0px;
} 
.blue-safe-audit {
  background-position: -475px 0px;
}
/*unbankcard*/
.bankCard {
  position: relative;
}
.bankCard a {
  position: absolute;
  bottom: 10px;
  left: -1px;
  display: inline-block;
  width: 330px;
  height: 0px;
  background: url(/images/sprite.png) no-repeat -725px -850px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
}

.blue-transaction {
  background-position: -362px -674px;
}
.grey-transaction {
  background-position: -395px -674px;
}
.tips-area:active .grey-transaction, .tips-area:active .blue-transaction {
  background-position: -463px -674px;
}


.blue-withdraw {
  background-position: -362px -641px;
}
.grey-withdraw {
  background-position: -395px -641px;
}
.tips-area:active .grey-withdraw, .tips-area:active .blue-withdraw {
  background-position: -463px -641px;
}
.account-pic-bg {
  background-position: -1300px -304px;
}
.help-ico {
  background-position: -105px -1779px;
}
.open {
  background-position: -31px -1777px;
}
.smile-bg {
  background-position: -40px -730px;
}
.p-checkbox, .p-remember, .on-it div, .img-introduction, .safe-pic, .ico-area, .left-show-area, .safe-part p, .right-user-message p, .check-ok, .right-user-head, .right-user-message, .account-pic, .left-message, .assets-ico, .account-investment-show, .read, .read-check, .user-check-img, .mid-line, .news-nav span, .user-input-tips, .help-ico, .friends-ship a, .smile-bg, .details-img {
  float: left;
}
.p-forget, .p-date, .p-right, .a-up-level, .view-more {
  float: right;
}
.p-click, .help-ico, .blue-button, .white-button, .pic-verify, .refresh-pic, .activity {
  cursor: pointer;
}
.right-tips, .tips-area p, .activity {
  text-align: left;
}
.blue-button, .white-button, .account-number, .account-number-message, .real-name .set-transactionPwd, .process-tips, .details-title, .file-head, .p-login-right, .p-regist-right, .a-regist, .p-user-name, .tips, .message {
  text-align: center;
}
.tips-area p, .on-it div, .left-show-area, .tips, .message, .activity, .right-user-message, .right-tips, .news-details {
  height: 100%;
}
.tips-area, .right-title, .head, .back-ground, .p-user-name, .center-tips, .safe-part, .right-tips-area, .basic-area, .verify-area {
  width: 100%;
}
.verify-input, .account-button, .read-area, .userCenter .form-group select, .real-name .set-transactionPwd, .p-title-dynamic, .table-link-us tr, .ico-area {
  height: 30px;
}
.pic-verify, .refresh-pic, .blue-button, .white-button {
  height: 34px;
}
.verify-input, .userCenter .form-group select, .agreement-area, .about-left-area, .left-area, .right-area, .right-area, .change-area, .news-nav span {
  border: 1px solid #dbdbdb;
}
.input-tips, .p-remember, .p-forget, .left-area, .verify-input, .real-name-tips {
  font-size: 12px;
}
.web-show a, .web-show p, .news-nav span a, .add-card, .blue-button, .right-area, .about-left-area, .tips-area p, .p-date, .p-dynamic-show, .table-link-us, .right-area {
  font-size: 14px;
}
.table-title, .assets-money small, .asset-money small {
  font-size: 16px;
}
.friends-ship, .p-invitation, .right-title, .p-title-dynamic, .p-title-introduction {
  font-size: 18px;
}
.add-card, .success-tips, .p-login-right a, .p-regist-right a, .table-title.right-title, .asset-money {
  font-weight: bold;
}
.right-area, .account-button, .right-area .account-right-button, .about-left-area, .left-area {
  border-radius: 5px;
}
.assets-ico, .bank-img, .real-name .set-transactionPwd, .bank-card-show, .bank-card-show-verify, .blue-button, .white-button {
  border-radius: 3px;
}
.tips-area p, .center-tips, .account-number, .safe-form-group, .safe-pic-area, .main-area, .input-tips, .triangle {
  margin: 0 auto;
}
.news-nav span, .news-nav span a, .friends-ship a, .a-regist, .tips-area, .p-title-dynamic {
  display: block;
}
.news-details img, .news-details h1 {
  display: none;
}
.real-name .set-transactionPwd, {
  display: inline-block;
}
.account-investment, .safe-process, .dynamic-show, .lend-process {
  height: 135px;
}
.total-assets {
  background-color: #e94828;
}
.available-balance {
  background-color: #d2cb3f;
}
.proceeds-to-be-received, .account-balance {
  background-color: #62cbc6;
}
.principal-amount-to-be-received, .net-income {
  background-color: #f9b81e;
}
.freezing-of-funds {
  background-color: #6aabe1;
}
.income-received {
  background-color: #913969;
}
.accumulated-investment, .white-button:hover, .real-name .set-transactionPwd, .blue-button, .login-title, .red-regist, .left-show-area-bg, .on-it div {
  background-color: #3399cc;
}
.white-button, .p-login-right a, .p-regist-right a, .p-login-right a:hover, .p-regist-right a:hover, .verify-tip a, .view-more, .add-card, .p-forget:hover, .on-it, .on-it:hover, .p-click:hover, .p-title-dynamic:hover, .web-show a:hover, .now, .view-more:hover, .account-number {
  color: #3399cc;
}
.right-area, .about-left-area, .left-area, .right-area, .account-number span, .p-forget, .view-more {
  color: #888181;
}
.input-tips {
  color: #d8271c;
}
.input-strong-tips {
  color: #d8271c;
  font-weight: 600;
}
.p-date, .p-title-dynamic, .p-dynamic-show, .table-link-us, .p-dynamic-show:hover, .web-show a, .web-show p, .news-nav span a {
  color: #9a9595;
}
.blue-button, .white-button:hover, .white-button:active, .login-title, .red-regist, .red-regist:hover, .tips-area:active, .on-it:active, .now:active {
  color: white;
}
.right-area, .left-area, .news-nav .active, .white-button, .right-area, .login-left-area, .regist-left-area, .agreement-area, .about-left-area {
  background-color: white;
}
.blue-button {
  border: 1px solid #3399cc;
  outline: none;
}
.blue-button:hover {
  background-color: #63aed5;
}
.blue-button:active {
  background-color: #3399cc;
}
.blue-button:focus {
  background-color: #3399cc;
}
.white-button {
  border: 1px solid #3399cc;
  outline-style: none;
}
.white-button:active {
  background-color: #3399cc;
  outline-style: none;
}
.grey, .grey:hover {
  color: #a39f9f;
  background-color: #e2e2e2;
  border: 1px solid #c4c4c4;
}
.p-login-right a:hover, .p-regist-right a:hover, .p-dynamic-show:hover, .p-title-introduction {
  text-decoration: underline;
}
.a-regist, .a-regist:hover, .on-it:hover, .on-it:active, .about-left-area a, .tips-area {
  text-decoration: none !important;
}
.news-details, .p-dynamic-show {
  overflow: hidden;
}
.verify-input:focus, .userCenter .form-group select {
  outline: none;
}
.verify-index, .real-name .set-transactionPwd, .pic-verify {
  margin-top: 0;
}
/*main*/

.bg-login {
  height: 412px;
}
.login-area {
  height: 380px;
}
.bg-register {
  height: 500px;
}
.register-area {
  height: 430px;
}
@media(max-width: 1200px) {
  .register-capcha {
    display: inline-block !important;
    width: 43% !important;
  }
}
 @media (min-width: 1201px) {
  .register-capcha {
    display: inline-block !important;
    width: 56% !important;
  }
}
.capcha-left-7 {
  margin-left: 7px;
}
.capcha-left-1 {
  margin-left: 1px;
}
.login-left-area, .regist-left-area {
  margin-top: 20px;
  min-height: 92% !important;
  border: 2px solid #d9d5d6;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #d9d5d6;
  padding: 0;
}
.login-right-area, .regist-right-area {
  height: 92%;
}
.p-login-right, .p-regist-right {
  height: 99%;
  padding-top: 170px;
}
.login-title {
  height: 55px;
  width: 100.9%;
  margin-top: -2px;
  margin-left: -2px;
  padding-top: 18px;
  padding-left: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.form-login, .form-regist {
  padding-top: 30px;
}
.form-div {
  padding-top: 10px;
}
.regist-check-img, .login-check-img {
  margin-top: -4px;
  font-size: 18px;
  color: #d8271c;
}
.regist-input-tips, .login-input-tips {
  margin-top: -6px;
  margin-left: 19px;
}
.login-input-tips {
  margin-right: -60px;
}
.p-checkbox {
  height: 15px;
  width: 15px;
  margin-top: 0 !important;
  padding: 0 !important;
}
.p-forget:hover {
  text-decoration: underline;
}
.bg-regist {
  height: 535px;
}
.regist-area {
  height: 480px;
}
.a-regist {
  font-size: 21px;
  height: 50px;
  padding-top: 10px;
  padding-left: 20px;
}
.a-phone-regist {
  border-top-left-radius: 5px;
}
.a-mail-regist {
  border-top-right-radius: 5px;
}
.grey-regist {
  color: #817774;
  background-color: #dfceca;
}
.triangle-container {
  padding-left: 25px;
}
.triangle {
  height: 12px;
}
.agreement-area {
  padding: 35px 45px 65px;
  margin-bottom: 70px;
}
.dynamic-height {
  height: 770px;
}
.introduction-height {
  height: 600px;
}
.dynamic-height, .introduction-height {
  margin-bottom: 25px;
}
.text-title {
  font-size: 32px;
  line-height: 32px;
  height: 40px;
  border-bottom: 1px solid black;
}
.success-page {
  height: 200px;
  margin-top: 100px;
}
.smile-bg {
  width: 95px;
  height: 95px;
}
.success-tips {
  margin-top: 15px;
  font-size: 22px;
}
.about-us div, .help-center div {
  line-height: 23px;
}
.about-us .padding-b {
  padding-bottom: 120px;
}
.on-it {
  background-color: #dbeef8;
  text-decoration: none;
}
.on-it div, .left-show-area {
  width: 3px;
}
.about-left-area {
  height: 317px;
  margin-top: 18px;
  border-top: 0px solid #dbdbdb;
}
.tips-area {
  height: 45px;
  color: inherit;
  text-decoration: none;
  border-top: 1px solid #dbdbdb;
}
.tips-area:hover {
  color: inherit;
  background-color: #dbeef8;
  text-decoration: none;
}
.tips-area:active {
  background-color: #a3d1e8;
  text-decoration: none;
}
.tips-area p {
  padding-top: 12px;
  text-decoration: none;
  padding-left: 30px;
}
.help-height {
  height: 226px;
}
.right-title {
  height: 40px;
  padding-top: 7px;
  padding-left: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.introduction-area {
  padding: 0px 72px !important;
  color: #9a9595;
}
.img-area {
  margin-top: 20px;
  height: 300px;
}
.help-ico {
  height: 16px;
  width: 16px;
}
.p-click {
  line-height: 18px;
}
.details-title {
  margin: 0px auto 10px auto;
}
.p-date {
  margin-top: 2px;
}
.p-details {
  margin-top: 50px;
}
.dynamic-show {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 20px;
}
.p-dynamic-show {
  height: 65px;
  line-height: 24px;
}
.news-details p {
  line-height: 22px;
}
.magn {
  margin-left: 72px;
}
.aboutUs-introduction-area {
  word-wrap: break-word;
  word-break: break-all;
  text-indent: 2em;
}
.p-right {
  height: 20px;
  padding: 5px 0;
}
.personal-information {
  height: 180px;
}
.p-user-name {
  padding-top: 10px;
  margin-bottom: 0;
}
.p-user-name strong {
  font-size: 20px;
}
.safe-pic-area {
  width: 165px;
}
.safe-pic {
  height: 47px;
  width: 47px;
  margin: 15px 3px 0 3px;
}
.security-level {
  height: 12px;
  width: 145px;
  margin: 12px auto 10px auto;
}
.a-up-level {
  margin-top: -28px;
}
.tips-show {
  background-color: #dbeef8;
}
.ico-area {
  width: 30px;
  margin-top: 5px;
  margin-left: 15px;
}
.account-message {
  height: 325px;
}
.account-message .loan {
  margin: 50px -15px;
}
.account-message1 {
  height: 200px;
}
.account-pic, .assets-pic {
  height: 313px;
  margin: 0px auto 30px auto;
}
.account-pic {
  margin: -15px 0 0 0px;
}
.right-message {
  height: 260px;
}
.right-message .left-message-show {
  margin-left: 40px;
}
.account-button {
  margin-left: 15px;
  margin-top: 10px;
}
.right-area .account-right-button {
  margin-left: 15px;
}
.view-more {
  margin-top: 30px;
  margin-right: 70px;
}
.investment-more {
  margin: 20px 100px 0 0;
}
.left-message-show {
  height: 90px;
  border-bottom: 1px solid #f5f5f5;
}
.assets-ico {
  height: 14px;
  width: 14px;
}
.asset-tips {
  height: 20px;
  margin-left: 20px;
  line-height: 14px;
}
.asset-mar {
  margin-left: -20px;
  margin-bottom: 20px;
}
.asset-money {
  font-size: 24px;
  margin: -10px 0 0 0;
}
.assets-money small, .asset-money small {
  font-weight: normal;
}
.account-number {
  font-size: 24px;
}
.account-number-message {
  margin-top: -6px;
}
.right-assets-height {
  min-height: 815px;
}
.left-message {
  height: 260px;
  border-right: 1px solid #f5f5f5;
}
.last-show {
  border-bottom: 0px solid #f5f5f5;
}
.verify-area {
  height: 235px;
  padding: 40px 115px 0 200px;
  border-top: 1px solid #f5f5f5;
}
.verify-area .tip {
  margin-top: 50px;
}
.right-area .border-none, .no-border {
  border: none !important;
}
.verify-tip {
  height: 35px;
  line-height: 35px;
  background-color: #e4e4e4;
  margin-top: 150px;
  padding-left: 15px;
}
.safe-card-tips {
  margin: 0 0 20px 0;
}
.bank-card-show {
  height: 230px;
  width: 346px;
  background-position: -730px -946px;
  padding-top: 60px;
}
.bank-card-show-verify {
  height: 213px;
  width: 336px;
  background-position: -730px -1182px;
  padding-top: 60px;
}
.add-card {
  font-size: 20px;
  text-align: center;
  padding-top: 35px;
  padding-left: 65px;
}
.add-cardNo {
  font-size: 35px;
  text-align: center;
}
.border-end {
  border-bottom: 1px solid #dbdbdb;
}
.mgn-top {
  margin-top: 10px;
}
.mgn-top p {
  padding-top: 5px;
}
.verify-input {
  background-color: #f7f5f5;
  padding: 8px 10px;
}
.user-tips-area {
  height: 20px;
}
.user-check-img {
  margin: 7px 7px 0 3px;
}
.user-input-tips {
  margin-left: -3px;
  margin-top: 8px;
}
.change-area {
  margin: -15px auto 10px auto;
}
.change-pwd-height {
  height: 240px;
}
.change-mail-height {
  height: 140px;
}
.change-phone-height {
  height: 190px;
}
.safe-process {
  margin-bottom: 25px;
  border-bottom: 1px solid #cecdcd;
  margin-left: 25px;
}
.lend-process {
  margin-bottom: 25px;
  border-bottom: 1px solid #cecdcd;
}
.lend-process-w {
  width: 20%;
  float: left;
  position: relative;
}
.lend-openRealName {
  padding: 30px 0;
}
.process-tips {
  height: 80px;
  padding-top: 70px;
}
.safe-part, .right-tips-area {
  height: 50px;
}
.safe-part p, .right-user-message p {
  margin-bottom: 0;
}
.assets-money {
  font-size: 30px;
  padding-left: 20px;
}
.real-name .set-transactionPwd {
  color: #fff;
  line-height: 30px;
  margin-left: 10px;
}
.safe-form-group {
  height: 50px;
}
.safe-tips-area {
  margin-right: -70px;
}
.recharge .tip, .withdraw .tip {
  padding-left: 201px;
  padding-top: 45px;
}
.safe-email-change {
  margin-top: -29px;
}
.hadset {
  color: #77d21c;
  cursor: default;
}
.check-ok {
  height: 17px;
  width: 17px;
  margin-left: 10px;
  margin-top: 4px;
}
.right-area {
  /* margin-left: 40px; */
  margin-bottom: 30px;
  min-height: 600px !important;
}
.table-title {
  padding-top: 30px;
  padding-bottom: 10px;
}
.table-top-title {
  padding-top: 10px;
}
.friends-ship a {
  margin: 20px 20px 10px 10px;
}
.web-show {
  height: 40px;
  padding: 10px 5px;
}
.web-show .p-date {
  margin-top: 0px;
}
.news-nav {
  height: 35px;
  border-bottom: 1px solid #dfdfdf;
  padding-left: 40px;
  margin-top: -10px;
}
.news-nav span {
  height: 35px;
  width: 90px;
  background-color: #faf8f8;
  margin-right: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.news-nav span a {
  margin-top: 8px;
  /*margin-left: 12px;*/
  text-align: center;
}
.news-nav .active {
  border-bottom: 1px solid white;
}
.project-area {
  padding-left: 60px;
}
.table-stl{
  margin-top: 10px;
}
.security-stl {
  margin-left: 2px;
}
.projects-filter .row > .col-xs-12 > .row .col-xs-1 .project-check, .projects-filter .row > .col-xs-12 > .row .col-xs-2 .project-check{
  display: block;
  background-color:#3399cc;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
}
.project-noncheck{
  display: block;
  background-color: white;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
/* user-center-sidebar */
.safe-pic1{
  height: 45px;
  width: 43px;
  margin-top: 15px;
  margin-left: 7px;
  margin-bottom: 2px;
  margin-right: 3px;
  float: left;
}
.pic-stl1{
  padding-left: 7px;
  padding-top: 10px;
  font-size: 28px;
}
.pic-stl2{
  padding-left: 12px;
  font-size: 45px;
}
.pic-stl3{
  padding-left: 7px;
  padding-top: 7px;
  font-size: 30px;
}
.message1-blue{
  color: #3399cc;
}
.user-card{
  background-color: #dbeef8;
}
.user-cardno{
  background-color: #f7f5f5;
}
.message-1{
  font-size: 20px;
  padding-left: 20px;
  padding-top: 7px;
}
.message-2{
  font-size: 28px;
  padding-left: 21px;
  padding-top: 7px;
}
.margin-t-5 {
  margin-top: 5px;
}
.margin-t-50 {
  margin-top: 50px;
}
.margin-b-20 {
  margin-bottom: 20px;
}
.margin-b-0 {
  margin-bottom: 0 !important;
}
.margin-l-5 {
  margin-left: 5px;
}
.margin-l-15 {
  margin-left: 15px !important;
}
.margin-l-20 {
  margin-left: 20px;
}
.padding-0 {
  padding: 0 !important;
}
.wid-pull {
  width: 100%;
}
.text-right {
  text-align: right;
}
.wid-pull,
.text-right {
  margin-top: 10px;
  padding-right: 10px;
}
.padding-r-0 {
  padding-right: 0 !important;
}
.grey-btn {
  background: #ebebeb !important;
  color: #9A9594 !important;
  border: none !important;
}
.ft-blue {
  color:#3399cc;
}
.cursor-pointer {
  cursor: pointer;
}
.recharge .payment label {
  padding: 0 !important;
}
.recharge .payment #pay1, .recharge .payment #pay2 {
  width: 10px;
  height: 12px;
  margin: 0 5px;
}
.security-blue-button {
  width: 70px !important;
  line-height: 33px;
}
.security-mgn-l {
  margin-left: 10.4%;
}
.project-button {
  color: #5bc0de;
  background-color: #fff;
  border-color: #46b8da;
}
.project-button:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
/* 借款详情 */
.project-bills .repayment-plan {
  width: 85%;
  margin: 0 auto;
}
.project-bills .hidden {
  opacity: 0;
}
.project-bills .each-line {
  clear: both;
}
.project-bills .each-line .column1 {
  width: 15%;
}
.project-bills .each-line .column1 .ed.circle {
  background-color: #ddd;
  box-shadow: 0 2px 16px #ddd, 0 0 2px #ddd, 0 0 2px #ddd;
}
.project-bills .each-line .column1 .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #d9edf7;
  box-shadow: 0 2px 16px #d9edf7, 0 0 2px #d9edf7, 0 0 2px #d9edf7;
  display: block;
  margin: 0 auto;
}
.project-bills .each-line .column1 .first.vertical-line {
  height: 30px;
}
.project-bills .each-line .column1 .ed.vertical-line {
  background-color: #ddd;
}    
.project-bills .each-line .column1 .vertical-line {
  height: 70px;
  width: 3px;
  background-color: #d9edf7;
  display: block;
  margin: 2px auto;
}
.project-bills .each-line .column2 {
  padding: 0 10px;
  background: #d9edf7;
  color: #3399cc;
  font-size: 15px;
  width: 70%;
  margin-top: -17px;
  position: relative;
}
.project-bills .each-line .column2 hr {
  width: 33px;
  border-top: 3px solid #d9edf7;
  position: absolute;
  left: -54px;
}
.project-bills .each-line .column2.ed {
  background: #ddd;
  color: #999;
}
.project-bills .each-line .column2.ed hr {
  width: 33px;
  border-top: 3px solid #ddd;
  position: absolute;
  left: -54px;
}
.project-bills .each-line .column2::before {
  border: 21px solid transparent;
  border-right: 20px solid #d9edf7;
  width: 0;
  height: 0;
  position: absolute;
  content: ' ';
  left: -41px;
}
.project-bills .each-line .column2.ed::before {
  border: 21px solid transparent;
  border-right: 20px solid #ddd;
  width: 0;
  height: 0;
  position: absolute;
  content: ' ';
  left: -41px;
}
.right-area {
  float: right !important;
}
.fl{float:left;}
.fr{float:right;}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}