/*public*/
html,
body {
  font-family: 'microsoft yahei';
  cursor: default;
}
ul{
  list-style: none;
}
@media (min-width: 768px) {
  .container {
    width: 560px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 780px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 980px;
  }
}
.modal-open {
  overflow: visible;
}
.modal-open .btn,
.modal-open .btn:hover {
  border-color: #f27b64;
}
.modal-open .get-verify-button {
  margin-top: 0;
}
.modal-open .btn-default {
  width: 85px;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
hr {
  border-top: 1px solid #d8d8d8;
}
.full-screen {
  width: 100%;
}
.ft-12 {
  font-size: 12px;
}
.ft-16 {
  font-size: 16px;
}
.ft-14 {
  font-size: 14px;
}
.ft-18 {
  font-size: 18px;
}
.ft-20 {
  font-size: 20px;
}
.ft-24 {
  font-size: 24px;
}
.ft-red {
  color: #ea5430;
}
.ftw-b {
  font-weight: bold;
}
.ft-offWhite {
  color: #878484;
}
.ft-grey {
  color: #807979;
}
.ft-grey2 {
  color: #625a5a;
}
.bg-grey {
  background-color: #ebebeb;
}
.bg-offWhite {
  background-color: #fdfbfb;
}
.bg-white {
  background-color: #fff;
}
.mgn-top {
  margin-top: 20px;
}
.mgn-left-0 {
  margin-left: 0;
}
.border {
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}
.border-r {
  border-right: 1px solid #dbdbdb;
}
.border-b {
  border-bottom: 1px solid #dbdbdb;
}
.border-l {
  border-left: 1px solid #dbdbdb;
}
.tel-img {
  background: url('../../../images/sprite.png');
}
.progress-tit {
  float: left;
}
.progress-bar {
  width: 100px;
  height: 15px;
  line-height: 0px;
  margin-top: 3px;
  font-size: 0px;
  background-color: #d5cdcd;
  border-radius: 3px;
  overflow: hidden;
}
.progress-bar .progress {
  height: 15px;
  line-height: 0px;
  font-size: 0px;
  display: block;
  background-color: #f37474;
}
.progress-percent {
  margin-left: 5px;
}
/*_header.html*/
.top-bar {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #878484;
  background-color: #ebebeb;
}
#header .tel-img {
  width: 20px;
  height: 25px;
  display: inline-block;
  background-position: 0 -160px;
}
#header {
  font-size: 18px;
  border-bottom: 1px solid #ebebeb;
}
#header a {
  color: #878484;
  padding-left: 25px;
}
#header a:hover,
#header .logo a:hover {
  color: #e94828;
}
#header .logo .active {
  color: #e94828;
}
#header .navbar-right {
  margin-right: 0;
}
.logo {
  position: relative;
  height: 100px;
}
.logo .nav {
  position: absolute;
  bottom: 15px;
}
#header .logo a {
  color: #807979;
}
#header .logo .navbar-right {
  right: 0;
}
#header .container {
  padding-right: 0;
  padding-left: 0;
}
.logo-img-1 {
  width: 289px;
  height: 80px;
  background: url('/images/sprite.png') -1366px 0;
  cursor: pointer;
}
/*index*/
.main {
  padding-bottom: 20px;
  color: #807979;
}
.advertise {
  font-size: 18px;
  color: #3b3434;
  height: 208px;
}
.advertise small {
  font-size: 14px;
}
.advertise .col-lg-5,
.advertise .col-lg-7 {
  margin-top: 70px;
}
.advertise-img {
  height: 75px;
  background: url('../../../images/sprite.png');
}
.investment {
  background-position: -275px 6px;
}
.finance {
  background-position: -445px 2px;
}
.security {
  background-position: -605px 6px;
}
.recommend-img {
  width: 250px;
  height: 250px;
  background: url('../../../images/bank-img.png');
}
.recommend {
  height: 270px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}
.col-lg-8 .recommend {
  border: 3px solid #e94828;
}
.recommend-details {
  margin-left: 7px;
}
.recommend-details .col-lg-4 {
  text-align: center;
}
.recommend-details .recommend-details-top {
  margin-top: 0;
}
.recommend-details .recommend-details-main {
  margin-top: 30px;
}
.recommend-details .recommend-details-main .ft-24 {
  padding-bottom: 10px;
  display: inline-block;
}
.recommend-details .hot-sale {
  position: absolute;
  right: -22px;
  top: -16px;
  width: 90px;
  height: 90px;
  background: url(../../../images/sprite.png) -280px -90px;
}
.project-name {
  font-size: 24px;
  padding: 10px 0;
}
.col-lg-8 .project-item .col-lg-7 a {
  color: #807979;
}
.col-lg-8 .project-item .col-lg-7 .go {
  color: #fff;
}
.to-invest {
  text-align: center;
}
.index .row .go {
  width: 96%;
  height: 55px;
  outline: none;
  background-color: #ea512e;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  line-height: 55px;
  text-align: center;
  display: block;
}
.go:hover {
  color: #fff;
}
.project-list {
  overflow: hidden;
}
.project-item {
  height: 282px;
  border-bottom: 1px solid #dbdbdb;
}
.project-item .col-lg-7 .row {
  padding: 1px 6px;
}
.project-item .col-lg-7 .go {
  width: 90%;
}
.project-item .col-lg-7 .project-name {
  padding-left: 15px;
}
.project-item .project-name {
  padding-top: 20px;
}
.index .col-lg-8 a {
  color: #b1abab;
}
.project-tit {
  padding: 10px 45px;
}
.project-tit .check-more {
  margin-top: 5px;
}
.project-tit-img {
  width: 35px;
  height: 30px;
  background: url('../../../images/sprite.png') -214px -94px;
}
.project-tit-txt {
  color: #ea5430;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.check-more {
  float: right;
}
.project-item-img {
  padding: 23px 45px 15px 45px;
}
.project-item-img a {
  display: inline-block;
  width: 238px;
  height: 235px;
}
.support-text {
  padding: 10px 35px;
  line-height: 25px;
  font-weight: bold;
}
.support-text .support-text-img {
  width: 35px;
  height: 35px;
  background: url('../../../images/sprite.png') -98px -98px;
  float: left;
}
.recommend-support-details {
  margin-left: 0;
}
.recommend-support-details .col-lg-3 {
  height: 65px;
}
.support-img-1 {
  background: url('../../../images/sprite.png') 32px -85px;
}
.support-img-2 {
  background: url('../../../images/sprite.png') 32px -305px;
}
.support-img-3 {
  background: url('../../../images/sprite.png') 32px -382px;
}
.news {
  height: 157px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}
.news .col-lg-3 {
  text-align: right;
}
.news .row {
  padding: 2px 15px;
}
.news-tit {
  height: 50px;
  line-height: 50px;
}
.news a {
  color: #b1abab;
}
.news-list {
  height: 472px;
}
.cooperation {
  height: 420px;
}
.news-item {
  margin-bottom: 10px;
}
.flow {
  margin-left: 0;
  margin-top: 10px;
}
.flow .col-lg-2,
.flow .col-lg-3 {
  height: 60px;
}
.flow div {
  background: url('../../../images/sprite.png');
  padding: 0;
}
.flow .flow-register {
  background-position: -65px -160px;
}
.flow .flow-arrow {
  background-position: -140px -165px;
}
.flow .flow-login {
  background-position: -203px -170px;
}
.flow .flow-invest {
  background-position: -6px -235px;
}
.cooperation-icon {
  width: 260px;
  height: 80px;
  float: left;
  margin-right: 35px;
  margin-top: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  position: relative;
}
.cooperation-icon img {
  position: absolute;
  top: 5px;
  left: 25px;
}
.cooperation-icon .sponsor-name {
  margin-left: 50px;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.cooperation-icon .sonsor-row {
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  color: #858080;
}
.cooperation-icon .sonsor-row .float-r {
  float: right;
}
.cooperation-list {
  position: relative;
  left: -30px;
}
/*footer*/
#footer {
  height: 310px;
  color: #807979;
}
.footer-info {
  padding: 60px 0;
}
.footer-tabs {
  height: 40px;
  line-height: 40px;
}
.footer-tabs .col-lg-2 {
  text-align: center;
}
.footer-tabs .col-lg-2 a {
  color: #807979;
}
.footer-tele {
  border-left: 1px solid #dbdbdb;
}
.footer-tele .col-lg-3 {
  height: 60px;
  width: 30px;
  background: url('../../../images/sprite.png') -19px -155px;
  margin-left: 20px;
}
.copyright {
  text-align: center;
  font-size: 12px;
  margin-top: 50px;
}
/*project-list*/
.project-list-all {
  padding-top: 15px;
  padding-bottom: 30px;
  color: #717071;
}
.project-list-all .container {
  padding-left: 0;
}
.project-list-all .filter-container label {
  float: left;
  font-weight: normal;
}
.project-list-all .nav-pills li a,
.project-list-all .nav-pills .active a,
.project-list-all .nav-pills .active a:hover {
  color: #717071;
  background: none;
  padding: 0 20px;
}
.project-list-all .page-container {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 30px;
}
.project-list-all .sort {
  padding: 15px 50px;
  border-bottom: 1px solid #dbdbdb;
}
.project-list-all .sort .sort-item {
  padding: 5px 0;
}
.project-list-all .table-responsive ul {
  list-style: none;
  padding-left: 15px;
}
.project-list-all .projects-list .project-item {
  padding: 20px 10px 20px 35px;
  height: 195px;
  overflow: hidden;
}
.project-list-all .projects-list .project-item .col-md-5 {
  padding-left: 55px;
}
.project-list-all .projects-list .project-item .row .col-lg-12,
.project-list-all .projects-list .project-item .row .col-lg-6 {
  padding: 3px 0;
}
.project-list-all .projects-list .project-item .row .project-name {
  padding-bottom: 10px;
  padding-top: 0;
}
.project-list-all .projects-list .project-item .project-progress {
  padding-left: 150px;
}
.project-list-all .go {
  width: 85%;
}
.project-list-all .project-progress .bg-success,
.project-list-all .project-progress .bg-success:hover {
  background-color: #bfb2b2;
}
.project-list-all .bg-row-success {
  background-color: #f5f5f5;
}
.nav-pills li {
  background: url('../images/sprite.png') -95px -238px;
}
.nav-pills .active {
  background: url('../images/sprite.png') -95px -276px;
}
/*project-details*/
.project-details {
  color: #807979;
}
.project-details .recommend {
  border: 1px solid #dbdbdb;
}
.project-details .recommend a {
  color: #807979;
}
.project-details .recommend-details .col-lg-12 {
  padding-left: 25px;
}
.project-details hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.project-details .nav li {
  padding-right: 50px;
  color: #807979;
}
.project-details .nav .active,
.project-details .nav li:hover {
  color: #ea5430;
}
.project-details #mainView {
  margin-top: 20px;
}
.project-details .news {
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.project-details .invest-record {
  padding-bottom: 20px;
}
.project-details .invest-record-col {
  padding: 5px 15px;
}
.project-details .invest-record-col .col-lg-4 {
  padding-left: 10px;
}
.project-details .invest-record-item {
  border-bottom: 1px solid #dbdbdb;
}
.project-details .invest-record-item .col-lg-4 {
  font-size: 12px;
  padding: 3px 5px 3px 10px;
}
.project-details .news-tit {
  margin-top: 10px;
  font-size: 16px;
}
.project-details .news-tit .col-lg-6 {
  padding-left: 10px;
}
.project-details .invest-record-pagination {
  font-size: 18px;
  float: right;
}
.project-details .invest-record-pagination a {
  font-size: 26px;
}
.project-details .recommend .news-tit {
  margin-top: 0;
}
.project-details .recommend-support-details .recommend {
  padding-left: 25px;
  padding-right: 25px;
}
.project-details .recommend-support-details .recommend hr {
  margin-top: 0px;
}
.project-details .padd {
  padding-top: 10px;
  padding-bottom: 5px;
}
.project-details input {
  width: 80%;
  height: 45px;
  margin-top: 10px;
  outline: none;
  padding-left: 10px;
}
.project-details .recommend .go {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.project-details .project-info-tab {
  margin-bottom: 50px;
}
.project-details .project-info-tab .project-tit {
  padding: 20px 45px;
}
.project-details .project-info {
  padding: 30px 0 50px 0;
}
.project-details .project-info .info-item {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  overflow: hidden;
}
.project-details .project-info .info-item img {
  margin-left: 6px;
}
.project-details .project-info .border-none {
  border: none;
}
.project-details .info-item-tips {
  margin-bottom: 10px;
}
.project-details .info-item-icon {
  width: 5px;
  height: 15px;
  background-color: #e94b2a;
  float: left;
  margin-right: 5px;
}
.project-details p {
  text-indent: 2em;
}
.project-details .files-item {
  width: 180px;
  float: left;
  text-align: center;
}
.project-details .files-item span {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 20px;
}
.project-details .progress-icon {
  background: url('../images/sprite.png');
  height: 40px;
  width: 40px;
  float: left;
  position: absolute;
  left: 20px;
}
.project-details .launched .progress-icon {
  background-position: 0 -3px;
  top: 29px;
}
.project-details .raise .progress-icon {
  background-position: -70px -3px;
}
.project-details .loan .progress-icon {
  background-position: -145px -3px;
  left: 17px;
}
.project-details .repayment .progress-icon {
  background-position: -225px -4px;
  left: 17px;
}
.project-details .project-info-tab .project-milestone .repayment {
  border: none;
}
.project-details .project-milestone {
  position: relative;
  padding-left: 35px;
}
.project-details .project-milestone .info-item-tips {
  font-size: 18px;
  line-height: 40px;
  padding-left: 35px;
}
.project-details .project-milestone .info-item {
  height: 115px;
  padding: 0;
  border-bottom: none;
  border-left: 3px solid #dbdbdb;
}
.project-details .project-milestone .info-item span {
  padding: 0 5px;
}
.project-details .project-milestone .info-item .padd {
  padding-left: 15px;
}
.project-details .project-milestone .already {
  border-left: 3px solid #e94b2a;
}
.project-details .form-login {
  margin-top: 0;
}
/**user-center**/
.user-center .right-area,
.left-area {
  margin-top: 40px;
  margin-bottom: 40px;
}
.record p,
.investment p,
.userCenter-news p {
  display: block;
}
.record .sort .nav-tabs,
.investment .sort .nav-tabs,
.userCenter-news .sort .nav-tabs {
  padding-left: 60px;
}
.record .sort .nav-tabs a,
.investment .sort .nav-tabs a,
.userCenter-news .sort .nav-tabs a {
  display: inline-block;
  width: 102px;
  height: 35px;
  text-align: center;
  background-color: #faf8f8;
  margin-right: 25px;
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #717071;
  padding-top: 8px;
  position: relative;
}
.record .sort .nav-tabs span,
.investment .sort .nav-tabs span,
.userCenter-news .sort .nav-tabs span {
  width: 102px;
  height: 35px;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: -1px;
}
.record .sort .nav-tabs span.active a,
.investment .sort .nav-tabs span.active a,
.userCenter-news .sort .nav-tabs span.active a {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: transparent;
}
.record .padd,
.investment .padd,
.userCenter-news .padd {
  padding-left: 75px;
  padding-bottom: 20px;
}
.record .padd strong,
.investment .padd strong,
.userCenter-news .padd strong {
  color: #ea5430;
}
.record .sort-item,
.investment .sort-item,
.userCenter-news .sort-item {
  padding-left: 128px;
  padding-top: 25px;
}
.record .sort-item label,
.investment .sort-item label,
.userCenter-news .sort-item label {
  float: left;
  line-height: 38px;
}
.record .sort-item .nav > li > a,
.investment .sort-item .nav > li > a,
.userCenter-news .sort-item .nav > li > a {
  color: #717071;
}
.record .sort-item .nav > li > a:hover,
.investment .sort-item .nav > li > a:hover,
.userCenter-news .sort-item .nav > li > a:hover,
.record .sort-item .nav > li > a:focus,
.investment .sort-item .nav > li > a:focus,
.userCenter-news .sort-item .nav > li > a:focus {
  background: none;
}
.record .sort-item .nav-pills > li.active > a,
.investment .sort-item .nav-pills > li.active > a,
.userCenter-news .sort-item .nav-pills > li.active > a,
.record .sort-item .nav-pills > li.active > a:hover,
.investment .sort-item .nav-pills > li.active > a:hover,
.userCenter-news .sort-item .nav-pills > li.active > a:hover,
.record .sort-item .nav-pills > li.active > a:focus,
.investment .sort-item .nav-pills > li.active > a:focus,
.userCenter-news .sort-item .nav-pills > li.active > a:focus {
  background: none;
}
.record .sort-item .nav-pills .active,
.investment .sort-item .nav-pills .active,
.userCenter-news .sort-item .nav-pills .active {
  background-position: -95px -264px;
}
.record .sort-item .nav-pills li,
.investment .sort-item .nav-pills li,
.userCenter-news .sort-item .nav-pills li {
  background-position: -95px -227px;
  margin-right: 50px;
}
.record .sort-item .mgn-l,
.investment .sort-item .mgn-l,
.userCenter-news .sort-item .mgn-l {
  margin-left: 30px;
}
.record .record-list,
.investment .record-list,
.userCenter-news .record-list {
  text-align: center;
  width: 703px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  margin-left: 25px;
  border-radius: 4px;
}
.record .record-list .record-list-head,
.investment .record-list .record-list-head,
.userCenter-news .record-list .record-list-head {
  background-color: #eceaea;
  height: 40px;
  padding: 10px 0;
}
.record .record-list .record-item,
.investment .record-list .record-item,
.userCenter-news .record-list .record-item {
  height: 50px;
  line-height: 50px;
  font-size: 12px;
}
.record .datePicker,
.investment .datePicker,
.userCenter-news .datePicker {
  margin: 20px 125px;
}
.record .datePicker label,
.investment .datePicker label,
.userCenter-news .datePicker label {
  float: left;
  margin-bottom: 10px;
}
.record .datePicker .mgn-l,
.investment .datePicker .mgn-l,
.userCenter-news .datePicker .mgn-l {
  margin-left: 75px;
}
.record .datePicker .form-group,
.investment .datePicker .form-group,
.userCenter-news .datePicker .form-group {
  float: left;
  width: 200px;
}
.record .datePicker .control-label,
.investment .datePicker .control-label,
.userCenter-news .datePicker .control-label {
  width: 200px;
  text-align: center;
}
.record .datePicker .fa-arrows-h,
.investment .datePicker .fa-arrows-h,
.userCenter-news .datePicker .fa-arrows-h {
  float: left;
  margin-right: 15px;
}
.userCenter-news .col-md-12 {
  padding: 0;
}
.userCenter-news .news-list {
  padding-left: 30px;
  padding-top: 30px;
}
.userCenter-news .row {
  margin-left: 0;
  margin-right: 0;
}
.userCenter-news .news-item {
  border-bottom: 1px solid #dbdbdb;
  width: 628px;
  margin-left: 50px;
}
.userCenter-news .news-item .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
.userCenter-news .news-item i {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url('../../../images/sprite.png');
}
.userCenter-news .news-item .collapse-img {
  background-position: -395px -810px;
}
.userCenter-news .news-item .uncollapse-img {
  background-position: -430px -805px;
}
.userCenter-news .text-agn {
  text-align: right;
}
.userCenter-news .news-content {
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #f7f5f5;
}
/**sponsorInstitution**/
.sponsorInstitution {
  padding-top: 40px;
}
.sponsorInstitution .col-md-8 {
  padding-left: 50px;
  padding-right: 50px;
}
.sponsorInstitution .col-md-8 .row {
  margin-left: 0;
  margin-right: 0;
}
.sponsorInstitution hr {
  margin: 10px 0 15px 0;
}
.sponsorInstitution label {
  color: #625a5a;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.sponsorInstitution p {
  text-indent: 2em;
  padding: 0;
}
.sponsorInstitution img {
  margin-right: 4px;
}
.sponsorInstitution .imgs {
  margin-top: 5px;
}
.sponsorInstitution .projects-list {
  padding-top: 40px;
}
.sponsorInstitution .data .col-md-4 {
  text-align: center;
}
.sponsorInstitution .col-md-4 span {
  font-size: 30px;
  color: #625a5a;
}
.sponsorInstitution .padd {
  padding-left: 28px;
  padding-top: 10px;
}
.safe .top {
  width: 100%;
  height: 255px;
}
.safe .row {
  margin-left: 0;
}
.safe .nav {
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.safe .nav {
  width: 100%;
  padding-left: 148px;
}
.safe .nav li {
  padding: 0 40px;
}
.safe .list-item {
  padding-top: 40px;
  padding-bottom: 30px;
}
.safe .list-item .col-md-5 {
  height: 190px;
  background: url('../images/sprite.png');
}
.safe .service {
  border-top: 1px solid #dbdbdb;
}
.safe .service .col-md-5 {
  background-position: -750px -470px;
}
.safe .technique .col-md-5 {
  background-position: -750px -675px;
}
.safe .capital .col-md-5 {
  background-position: -750px -940px;
}
.safe .privacy .col-md-5 {
  background-position: -750px -1150px;
}
.safe .content-list {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 0px;
}
.safe .tit2 {
  margin-left: -24px;
  font-weight: bold;
}
.safe #carousel-generic {
  margin-left: 50px;
  width: 865px;
}
.safe #carousel-generic .left {
  left: -30px;
}
.safe .nav > li > a {
  padding: 0;
  color: #717071;
}
.safe .nav > li > a:hover {
  background: none;
  color: #ea5430;
}
/**sponsor carousel**/
#carousel-generic {
  margin-left: 90px;
}
#carousel-generic .carousel-control.left,
#carousel-generic .carousel-control.right {
  background: none;
}
#carousel-generic .carousel-inner,
#carousel-generic .sponsors {
  width: 885px;
}
#carousel-generic .carousel-control {
  width: 0;
}
#carousel-generic .left {
  left: -50px;
}
#carousel-generic .right {
  right: -15px;
}
#carousel-generic .carousel-indicators {
  bottom: -40px;
}
#carousel-generic .carousel-indicators li {
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
}
#carousel-generic .carousel-indicators .active {
  background-color: red;
}
/**sponsorInstitution**/
.slider-container {
  height: 80px;
}
.slides {
  padding-left: 0;
}
.sudyslider .slider-control {
  margin-top: 5px;
  height: 8px;
  background-color: #e5e5e5;
  border-radius: 6px;
}
.sudyslider .slider-control .slider-widget {
  width: 65px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  background-color: #e94828;
  border-radius: 8px;
  cursor: pointer;
}
/**invest-verify**/
.invest-verify {
  padding-top: 20px;
  padding-bottom: 25px;
}
.invest-verify strong {
  border-left: 3px solid #e94828;
}
.invest-verify .list-item {
  padding: 15px 20px 10px 15px;
}
.invest-verify .list-item .col-md-12 {
  padding-bottom: 5px;
}
.invest-verify .nav-pills .active {
  width: 20px;
  height: 20px;
}
.invest-verify .password {
  margin-top: 10px;
  width: 300px;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  outline: none;
  padding: 5px;
}
.invest-verify .verify-button {
  margin-left: 0;
  margin-top: 10px;
}
.invest-verify .get-verify-button {
  width: 85px;
  border-radius: 5px;
  margin-left: 30px;
}
.invest-verify a:hover {
  color: #ea5430;
  text-decoration: underline;
}
.invest-verify .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
