<!--账户总览-->
<div class="right-area right-account-height col-md-8 col-lg-9">
  <div class="row">
    <div class="right-title">账户总览</div>
  </div>
  <!-- 借款方 -->
  <div class="row" ng-if="userType !== 6">
    <div class="account-message">
      <div class="account-pic account-pic-bg col-md-6 col-lg-6 col-lg-offset-1">
        <cjs-doughnut dataset="doughnutAccountData" options="doughnutOptions" height="313"></cjs-doughnut>
      </div>
      <div class="right-message col-md-6 col-lg-5">
        <div class="col-md-12 col-lg-12">
          <div class="assets-ico total-assets"></div>
          <p class="asset-tips">累计募资</p>
          <p class="asset-money">{{(totalFundRaising || 0) | number:2}} 元</p>
          <ul>
            <li><span class="asset-tips asset-mar"><strong>已还本金:</strong> {{totalFundRaising - unPrincipal | number:2}} 元</span> </li>
            <li><span class="asset-tips asset-mar"><strong>待还本金:</strong> {{unPrincipal | number:2}} 元</span>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-lg-12 ">
          <div class="assets-ico net-income"></div>
          <p class="asset-tips">累计利息</p>
          <p class="asset-money">{{(accruedInterest || 0) | number:2}} 元</p>
          <ul>
            <li><span class="asset-tips asset-mar"><strong>待还利息:</strong>{{unInterest | number:2}} 元</span>
            </li>
          </ul>
        </div>

        <div class="last-show col-md-12 col-lg-12 ">
          <div class="assets-ico account-balance"></div>
          <p class="asset-tips">账户余额</p>
          <p class="asset-money">{{(balance || 0)| number:2}} 元</p>
        </div>
        <div class="last-show col-md-12 col-lg-12 " ng-show="userType === 5">
          <div class="assets-ico account-balance"></div>
          <p class="asset-tips">已授权待还金额</p>
          <p class="asset-money">{{(fundsBorrowerWaitingAmount || 0)| number:2}} 元</p>
        </div>

        <div class="last-show col-md-12 col-lg-12 " ng-show="userType === 5">
          <div class="assets-ico account-balance"></div>
          <p class="asset-tips">除去已授权自动还款后的可用金额</p>
          <p class="asset-money">{{(balance - fundsBorrowerWaitingAmount || 0)| number:2}} 元</p>
        </div>

        <div class="last-show col-md-12 col-lg-12 " ng-show="userType === 5">
          <div class="assets-ico account-balance"></div>
          <p class="asset-tips">今天需还款金额</p>
          <p class="asset-money">{{(enterpriseCapital.todayNeedRepayment || 0)| number:2}} 元</p>
        </div>

        <input type="button" ui-sref="root.userCenter.recharge" class="blue-button account-button col-md-3 col-lg-3" value="充值" ng-show="userType != 5"/>
        <input type="button" ui-sref="root.userCenter.withdraw" class="white-button account-button account-right-button col-md-3 col-lg-3" value="提现" ng-show="userType != 5"/>
        <input type="button" class="white-button account-button account-right-button col-md-3 col-lg-3" value="激活存管通" ng-show="pay_company === 'cgt' && isLogged === true && securityStatus.realNameAuthStatus ===1 && securityStatus.userAuth.active === false" ng-click="goActivateUser()"/>
      </div>
    </div>
  </div>
  <!-- 居间人 -->
  <div class="row" ng-if="userType == 6">
    <div class="account-message1">
      <div class="right-message col-md-12 col-lg-12 margin-t-30">
        <div class="last-show col-md-4 col-lg-4 ">
          <div class="assets-ico account-balance"></div>
          <p class="asset-tips">账户余额</p>
          <p class="asset-money margin-0">{{(intermediaryAccount.account.balance || 0)| number:2}} 元</p>
          <ul class="margin-t-50 padding-0 text-center">
            <li><span class="asset-tips asset-mar"><strong>累计充值:</strong> {{intermediaryAccount.accruedCharge || 0 | number:2}} 元</span> </li>
          </ul>
        </div>

        <div class="col-md-4 col-lg-4">
          <div class="assets-ico total-assets"></div>
          <p class="asset-tips">待投资总额</p>
          <p class="asset-money margin-0">{{(intermediaryAccount.totalUnInvest || 0) | number:2}} 元</p>
          <ul class="margin-t-50 padding-0 text-center">
            <li><span class="asset-tips asset-mar"><strong>累计提现:</strong> {{intermediaryAccount.accruedWithdraw || 0 | number:2}} 元</span> </li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4 ">
          <div class="assets-ico net-income"></div>
          <p class="asset-tips">累计利息</p>
          <p class="asset-money margin-0">{{intermediaryAccount.account.totalProfit || 0 | number:2}} 元</p>
          <ul class="margin-t-50 padding-0 text-center">
            <li><span class="asset-tips asset-mar"><strong>募集期累计计息:</strong>{{intermediaryAccount.account.receivedProfit || 0 | number:2}} 元</span>
            </li>
          </ul>
        </div>
        <div class="col-mg-12 col-lg-12 padding-l-0 margin-t-30">
          <input type="button" ui-sref="root.userCenter.recharge" class="blue-button account-button col-md-2 col-lg-2 {{(pay_company === 'cgt' && isLogged === true && securityStatus.realNameAuthStatus ===1 && securityStatus.userAuth.active) === false ? 'col-md-offset-3':'col-md-offset-4'}}" value="充值"/>
          <input type="button" ui-sref="root.userCenter.withdraw" class="white-button account-button account-right-button col-md-2 col-lg-2" value="提现"/>
          <input type="button" class="white-button account-button account-right-button col-md-2 col-lg-2" value="激活存管通" ng-show="pay_company === 'cgt' && isLogged === true && securityStatus.realNameAuthStatus ===1 && securityStatus.userAuth.active === false" ng-click="goActivateUser()"/>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO -->
  <div class="row">
    <div class="right-title">筹资信息</div>
  </div>
  <!-- 借款方 -->
  <div ng-if="userType !== 6">
    <div class="row" ng-show="userType != 5">
      <div class="news-nav account-nav">
        <span ng-click="statusx=4;getPreProjects(page)" class="{{statusx == 4 ?'active':''}}"><a href="javascript:void(0);">审核中</a></span>
        <span ng-click="statusx=1;getEnterpriseProjects(page,1);" class="{{statusx == 1 ?'active':''}}"><a href="javascript:void(0);">还款中</a></span>
        <span ng-click="statusx=2;getEnterpriseProjects(page,2)" class="{{statusx == 2 ?'active':''}}"><a href="javascript:void(0);">募集中</a></span>
        <span ng-click="statusx=3;getEnterpriseProjects(page,3)" class="{{statusx == 3 ?'active':''}}"><a href="javascript:void(0);">已结清</a></span>
      </div>
      <div ng-if="(projectBillDetails && projectBillDetails.length == 0 && statusx !== 4) || (projectBillDetails && preProjects.length == 0 && statusx == 4)" class="project-area">
        <br>
        <br>
        <h4>您暂时没有该类项目</h4>
        <br>
        <br>
      </div>
      <div ng-if="(projectBillDetails.length > 0 && statusx !== 4) || (preProjects.length > 0 && statusx == 4)">
      <br>
      <br>
        <!--审核中-->
        <div ng-repeat="preProject in preProjects" ng-if="statusx === 4">
          <div class="col-md-10 col-md-offset-1 table-stl">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>{{preProject.name}}{{preProject.createTime | date: 'yyyy/MM/dd HH:mm:ss'}}</h5>
              </div>
              <div class="panel-body">
                <table class="table margin-b-5">
                  <tr>
                    <td style="border-bottom: 1px solid #ddd;">项目规模：{{preProject.amount/10000 | number : 2}}万元</td>
                    <td style="border-bottom: 1px solid #ddd;">项目期限：{{preProject.projectDays}}天</td>
                    <td style="border-bottom: 1px solid #ddd;">借款利率：{{preProject.annualEarnings | number:2}}%</td>
                  </tr>
                </table>
                <div style="border-bottom: 1px solid #ddd; padding: 8px;">
                  <p class="margin-b-0">借款用途：{{ preProject.financingPurpose| limitTo: 20}}{{preProject.financingPurpose.length > 20 ? '...':''}}</p>
                </div>
                <div class="wid-pull text-right ft-blue" ng-if="preProject.status == 0">审核中...</div>
                <div class="wid-pull text-right ft-blue" ng-if="preProject.status == 1">未通过</div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 4">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm"  ng-disabled="page === 1"  ng-click="page = page -1;getPreProjects(page)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm"  ng-disabled="page >= totalPage" ng-click="page = page + 1;getPreProjects(page)">下一页</button>
          </div>
        </div>
        <!-- 还款中 -->
        <div ng-repeat="projectBillDetail in projectBillDetails | orderBy:'recentProjectBill.repaymentTimeDate'" ng-if="statusx === 1" ng-show="userType !== 5 ">
          <div class="col-md-10 col-md-offset-1 table-stl" ng-repeat="projectBill in projectBillDetail.projectBills" ng-if="projectBill.status == 0">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>{{projectBillDetail.project.name}}</h5>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>项目代码：HC{{projectBillDetail.project.id}}</td>
                    <td>项目规模：{{projectBillDetail.project.total/10000 | number : 2}}万元</td>
                    <td>项目期限：{{projectBillDetail.project.projectDays}}天</td>
                  </tr>
                  <tr>
                    <td>项目利率：{{projectBillDetail.project.annualEarnings | number:2}}%</td>
                    <td>计息日期：{{projectBillDetail.project.valueDate | date:"yyyy-MM-dd"}}</td>
                    <td>到期日期：{{projectBillDetail.project.repaymentDate | date:"yyyy-MM-dd"}}</td>
                  </tr>
                  <tr>
                    <td>还款日期：{{projectBill.repaymentTime | date:"yyyy-MM-dd"}}</td>
                    <td>应付款项：{{projectBill.repaymentAmount | number : 2}}元</td>
                    <td>期数： 第{{projectBill.repaymentNo}}期</td>
                  </tr>
                  
                </table>
                <input type="button" class="col-xs-offset-4 col-xs-3 btn btn-info btn-lg active" ng-value="true ? '立即还款' : '未到还款日期'" ng-click="repayment(projectBillDetail.project, projectBill.repaymentNo)"  />
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 1" ng-show="userType !== 5">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm" ng-disabled="page == 1" ng-click="page = page -1;getEnterpriseProjects(page,1)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm" ng-disabled="page >= totalPage" ng-click="page = page + 1;getEnterpriseProjects(page,1)">下一页</button>
          </div>
        </div>
        <!--投标中-->
        <div ng-repeat="projectBillDetail in projectBillDetails" ng-if="statusx === 2" ng-show="userType !== 5 ">
          <div class="col-md-10 col-md-offset-1 table-stl">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>{{projectBillDetail.project.name}}</h5>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>项目代码：HC{{projectBillDetail.project.id}}</td>
                    <td>项目规模：{{projectBillDetail.project.total/10000 | number : 2}}万元</td>
                    <td>项目期限：{{projectBillDetail.project.projectDays}}天</td>
                  </tr>
                  <tr>
                    <td>项目利率：{{projectBillDetail.project.annualEarnings | number:2}}%</td>
                    <td>计息日期：{{projectBillDetail.project.valueDate | date:"yyyy-MM-dd" }}</td>
                    <td>到期日期：{{projectBillDetail.project.repaymentDate | date:"yyyy-MM-dd"}}</td>
                  </tr>
                  <tr>
                    <td>募集截止日期：{{projectBillDetail.project.releaseEndTime | date:"yyyy-MM-dd"}}</td>
                    <td>年化收益：{{projectBillDetail.project.annualEarnings| number: 2}}%</td>
                    <td><span style="display:block;float:left">募集进度：</span><span class="gery-bg"><span class="red-show" style="width:{{(projectBillDetail.project.soldStock + projectBillDetail.project.occupancyStock)/projectBillDetail.project.total*10000 | number : 2}}%;"></span></span>&nbsp;{{(projectBillDetail.project.soldStock + projectBillDetail.project.occupancyStock)/projectBillDetail.project.total*10000 | number : 2}}%</td>
                  </tr>
                </table>
              </div>
            </div>
          </div><br>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 2" ng-show="userType !== 5">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm" ng-disabled="page === 1" ng-click="page = page -1;getEnterpriseProjects(page,2)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm" ng-disabled="page >= totalPage" ng-click="page = page + 1;getEnterpriseProjects(page,2)">下一页</button>
          </div>
        </div>

        <!--已结清-->
        <div ng-repeat="projectBillDetail in projectBillDetails" ng-if="statusx === 3" ng-show="userType !== 5 ">
          <div class="col-md-10 col-md-offset-1 table-stl">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>{{projectBillDetail.project.name}}</h5>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>项目代码：HC{{projectBillDetail.project.id}}</td>
                    <td>项目规模：{{projectBillDetail.project.total/10000 | number : 2}}万元</td>
                    <td>项目期限：{{projectBillDetail.project.projectDays}}天</td>
                  </tr>
                  <tr>
                    <td>项目利率：{{projectBillDetail.project.annualEarnings | number:2}}%</td>
                    <td>计息日期：{{projectBillDetail.project.valueDate | date:"yyyy-MM-dd"}}</td>
                    <td>到期日期：{{projectBillDetail.project.repaymentDate | date:"yyyy-MM-dd"}}</td>
                  </tr>
                  <tr>
                    <td>本息两清日：{{projectBillDetail.project.repaymentDate | date:"yyyy-MM-dd"}}</td>
                    <td>已付利息：{{projectBillDetail.projectBackCapital}}元</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 3" ng-show="userType !== 5">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm" ng-disabled="page === 1" ng-click="page = page -1;getEnterpriseProjects(page,3)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm" ng-disabled="page >= totalPage" ng-click="page = page + 1;getEnterpriseProjects(page,3)">下一页</button>
          </div>
        </div>
        <!--没有项目-->

      </div>
    </div>

      <!-- p -->
      <div class="row" ng-show="userType == 5">
        <div class="news-nav account-nav">
          <span ng-click="statusx=0;getNeedAuthorizeAutoRepaymentFundsProjectList()" class="{{statusx == 0 ?'active':''}}"><a href="javascript:void(0);">自动还款授权</a></span>
          <span ng-click="statusx=1;getFundsProject(1)" class="{{statusx == 1 ?'active':''}}"><a href="javascript:void(0);">还款中</a></span>
          <span ng-click="statusx=2;getFundsProject(2)" class="{{statusx == 2 ?'active':''}}"><a href="javascript:void(0);">投标中</a></span>
          <span ng-click="statusx=3;getFundsProject(3)" class="{{statusx == 3 ?'active':''}}"><a href="javascript:void(0);">已结清</a></span>
        </div>
        <div ng-if="projectBillDetails.length == 0" class="project-area">
          <br>
          <br>
          <h4>您暂时没有该类项目</h4>
          <br>
          <br>
        </div>
        <div ng-if="projectBillDetails.length != 0">


          <!--自动还款授权-->
          <div ng-repeat="projectBillDetail in projectBillDetails" ng-if="statusx === 0">
            <div class="col-md-10 col-md-offset-1 table-stl">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h5>{{projectBillDetail.product.name + '  ' + projectBillDetail.project.name}}</h5>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <tr>
                      <td>项目代码：{{projectBillDetail.project.number}}</td>
                      <td>募资总额：{{projectBillDetail.project.soldStock*projectBillDetail.project.increaseAmount/10000 | number : 2}}万元</td>
                    </tr>
                    <tr>
                      <td>还款日期：{{projectBillDetail.projectBill.repaymentTime | date:"yyyy-MM-dd"}}</td>
                      <td>应付款项：{{projectBillDetail.projectBill.repaymentAmount | number : 2}}元</td>
                    </tr>
                  </table>
                  <input type="button" class="col-xs-offset-4 col-xs-3 btn btn-info btn-lg active" ng-value="projectBillDetail.project.isAuthorizeAutoRepayment ? '已授权' : '自动还款授权'" ng-click="authorizeFundsProjectAutoRepayment(projectBillDetail.project)"  />
                </div>
              </div>
            </div>
          </div>

           <!--还款中-->
           <br>
           <br>
           <div ng-repeat="projectBillDetail in projectBillDetails" ng-if="statusx === 1" ng-show="userType == 5 ">
             <div class="col-md-10 col-md-offset-1 table-stl">
               <div class="panel panel-info">
                 <div class="panel-heading">
                   <h5>{{projectBillDetail.product.name + '  ' + projectBillDetail.project.name}}</h5>
                 </div>
                 <div class="panel-body">
                   <table class="table">
                     <tr>
                       <td>项目代码：HC{{projectBillDetail.project.id}}</td>
                       <td>募资总额：{{projectBillDetail.project.soldStock*projectBillDetail.project.increaseAmount/10000 | number : 2}}万元</td>
                     </tr>
                     <tr>
                       <td>还款日期：{{projectBillDetail.projectBill.repaymentTime | date:"yyyy-MM-dd"}}</td>
                       <td>应付款项：{{projectBillDetail.projectBill.repaymentAmount | number : 2}}元</td>
                     </tr>
                     <tr>
                       <td colspan="2">自动还款授权：{{projectBillDetail.project.authorizeAutoRepayment ? '已授权' : '未授权'}}</td>
                     </tr>
                   </table>
                   <span>
                     <input type="button" class="col-xs-offset-1 col-xs-3 btn btn-info btn-lg active" ng-value="true ? '立即还款' : '未到还款日期'" ng-click="fundsRepayment(projectBillDetail.project)"  />
                     <input type="button" class="col-xs-offset-4 col-xs-3 btn btn-info btn-lg active" value="提前还款" ng-click="earlyFundsRepayment(projectBillDetail.project)"  />
                   </span>
                 </div>
               </div>
             </div>
           </div>

           <!--投标中-->
           <div ng-repeat="projectBillDetail in projectBillDetails" ng-if="statusx === 2" ng-show="userType == 5 ">
             <div class="col-md-10 col-md-offset-1 table-stl">
               <div class="panel panel-info">
                 <div class="panel-heading">
                   <h5>{{projectBillDetail.product.name + '  ' + projectBillDetail.project.name}}</h5>
                 </div>
                 <div class="panel-body">
                   <table class="table">
                     <tr>
                       <td>项目代码：HC{{projectBillDetail.project.id}}</td>
                       <td>募资总额：{{projectBillDetail.project.soldStock*projectBillDetail.project.increaseAmount/10000 | number : 2}}万元</td>
                     </tr>
                     <tr>
                       <td>募集截止日期：{{projectBillDetail.project.releaseEndTime | date:"yyyy-MM-dd"}}</td>
                       <td>基本收益率：{{projectBillDetail.product.baseRate| number: 2}}%</td>
                     </tr>
                   </table>
                 </div>
               </div>
             </div>
             <br>
           </div>

           <!--已结清-->
           <div ng-repeat="projectBillDetail in projectBillDetails" ng-if="statusx === 3" ng-show="userType == 5 ">
             <div class="col-md-10 col-md-offset-1 table-stl">
               <div class="panel panel-info">
                 <div class="panel-heading">
                   <h5>{{projectBillDetail.product.name + '  ' + projectBillDetail.project.name}}</h5>
                 </div>
                 <div class="panel-body">
                   <table class="table">
                     <tr>
                       <td>项目代码：HC{{projectBillDetail.project.id}}</td>
                       <td>募资总额：{{projectBillDetail.project.soldStock*projectBillDetail.project.increaseAmount/10000 | number : 2}}万元</td>
                     </tr>
                     <tr>
                       <td>本息两清日：{{projectBillDetail.project.repaymentDate | date:"yyyy-MM-dd"}}</td>
                       <td>已付利息：{{projectBillDetail.project.projectBackProfit || 0  }}元</td>
                     </tr>
                   </table>
                 </div>
               </div>
             </div>
           </div>
        </div>
      </div>
  </div>
  <!-- 居间人-->
  <div ng-if="userType ==  6">
    <div class="row">
      <div class="news-nav account-nav">
        <span ng-click="statusx=4;getPreProjects(page)" class="{{statusx == 4 ?'active':''}}"><a href="javascript:void(0);">审核中</a></span>
        <span ng-click="statusx=5;getEnterpriseProjects(page,2)" class="{{statusx == 5 ?'active':''}}"><a href="javascript:void(0);">待投资</a></span>
        <span ng-click="statusx=2;getEnterpriseAssignments(page,2)" class="{{statusx == 2 ?'active':''}}"><a href="javascript:void(0);">转让中</a></span>
        <span ng-click="statusx=1;getEnterpriseAssignments(page,1)" class="{{statusx == 1 ?'active':''}}"><a href="javascript:void(0);">已转让</a></span>
        <span ng-click="statusx=6;" class="{{statusx == 6 ?'active':''}}"><a href="javascript:void(0);">已逾期</a></span>
        <span ng-click="statusx=3;getEnterpriseProjects(page,3)" class="{{statusx == 3 ?'active':''}}"><a href="javascript:void(0);">已结清</a></span>
      </div>
      <!-- 无数据 -->
      <div ng-if="(projectBillDetails && projectBillDetails.length == 0 && (statusx == 5 || statusx == 3)) || (projectBillDetails && preProjects.length == 0 && statusx === 4) || (enterpriseAssignments && enterpriseAssignments.length == 0 && (statusx ==1 || statusx ==2))" class="project-area">
        <br>
        <br>
        <h4>您暂时没有该类项目</h4>
        <br>
        <br>
      </div>

      <div ng-if="(projectBillDetails.length > 0 && (statusx == 5 || statusx == 3)) || (preProjects.length > 0 && statusx === 4) || (enterpriseAssignments.length > 0 && (statusx ==1 || statusx ==2))">
        <!--审核中-->
        <br>
        <br>
        <div ng-repeat="preProject in preProjects" ng-if="statusx === 4">
          <div class="col-md-10 col-md-offset-1 table-stl">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>{{preProject.name}}{{preProject.createTime | date: 'yyyy/MM/dd HH:mm:ss'}}</h5>
              </div>
              <div class="panel-body">
                <table class="table margin-b-5">
                  <tr>
                    <td style="border-bottom: 1px solid #ddd;">项目规模：{{preProject.amount | number : 2}}万元</td>
                    <td style="border-bottom: 1px solid #ddd;">项目期限：{{preProject.projectDays}}天</td>
                    <td style="border-bottom: 1px solid #ddd;">借款利率：{{preProject.annualEarnings | number:2}}%</td>
                  </tr>
                </table>
                <div style="border-bottom: 1px solid #ddd; padding: 8px;"><p class="margin-b-0">借款用途：{{ preProject.financingPurpose| limitTo: 20}}{{preProject.financingPurpose.length > 20 ? '...':''}}</p></div>
                <div class="wid-pull text-right ft-blue" ng-if="preProject.status == 0">审核中...</div>
                <div class="wid-pull text-right ft-blue" ng-if="preProject.status == 1">未通过</div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 4">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm"  ng-disabled="page === 1"  ng-click="page = page -1;getPreProjects(page)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm"  ng-disabled="page >= totalPage" ng-click="page = page + 1;getPreProjects(page)">下一页</button>
          </div>
        </div>
        <!-- 待投资 -->
        <div ng-repeat="projectBillDetail in projectBillDetails" ng-if="statusx === 5">
          <div class="col-md-10 col-md-offset-1 table-stl">
            <div class="panel panel-info">
              <div class="panel-heading" style="padding: 2px 15px;">
                <h4>{{projectBillDetail.project.name || '无'}}</h4>
              </div>
              <div class="panel-body">
                <div class="row col-md-12">
                  <div class="col-md-3 text-center"><p class="ft-16"><span class="ft-18">{{projectBillDetail.project.annualEarnings || 0 | number:2}}</span>%</p> <p>预期年化收益</p></div>
                  <div class="col-md-3 text-center"><p class="ft-16"><span class="ft-blue ft-20">{{projectBillDetail.project.total/10000 || 0 | number : project.2}}</span>万元</p><p>项目规模</p></div>
                  <div class="col-md-3 text-center"><p class="ft-16"><span class="ft-18">{{projectBillDetail.project.projectDays || 0}}</span>天</p><p>项目期限</p></div>
                  <div class="col-md-3 text-center padding-r-0"><input type="button" name="investBtn" value="立即投资" class="blue-button btn-info wid-pull" ng-click="transfer(projectBillDetail.project)"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 5">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm"  ng-disabled="page === 1"  ng-click="page = page -1;getEnterpriseProjects(page, 2)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm"  ng-disabled="page >= totalPage" ng-click="page = page + 1;getEnterpriseProjects(page, 2)">下一页</button>
          </div>
        </div>
        <!-- 转让中 -->
        <div ng-repeat="assignment in enterpriseAssignments" ng-if="statusx === 2">
          <div class="col-md-10 col-md-offset-1 table-stl">
            <div class="panel panel-info">
              <div class="panel-heading" style="padding: 2px 15px;">
                <h4>{{assignment.project.name}}</h4>
              </div>
              <div class="panel-body">
                <div class="row col-md-12">
                  <div class="col-md-3 text-center"><p class="ft-16"><span class="ft-18">{{assignment.project.annualEarnings || 0| number:2}}</span>%</p> <p>预期年化收益</p></div>
                  <div class="col-md-3 text-center"><p class="ft-16"><span class="ft-18">{{assignment.project.projectDays || 0}}</span>天</p><p>项目期限</p></div>
                  <div class="col-md-3 text-center"><p class="ft-16"><span class="ft-18">{{assignment.project.total/10000 || 0 | number : 2}}</span>万</p><p>项目规模</p></div>
                  <div class="col-md-3 text-center"><p class="ft-16"><span class="ft-blue ft-20">{{assignment.project.currentStock * 100 || 0 | number: 2}}</span>万</p><p>剩余金额</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 2">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm"  ng-disabled="page === 1"  ng-click="page = page -1;getEnterpriseAssignments(page,2)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm"  ng-disabled="page >= totalPage" ng-click="page = page + 1;getEnterpriseAssignments(page,2)">下一页</button>
          </div>
        </div>
        <!-- 已转让 "-->
        <div ng-repeat="assignment in enterpriseAssignments" ng-if="statusx === 1">
          <div class="col-md-10 col-md-offset-1 table-stl" ng-repeat="projectBill in assignment.projectBills" ng-if="projectBill.status === 0">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>{{assignment.project.name}}</h5>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>项目代码：HC{{assignment.project.id}}</td>
                    <td>项目规模：{{assignment.project.total/10000 || 0 | number : 2}}万元</td>
                    <td>项目期限：{{assignment.project.projectDays || 0}}天</td>
                  </tr>
                  <tr>
                    <td>项目利率：{{assignment.project.annualEarnings || 0 | number:2}}%</td>
                    <td>计息日期：{{assignment.project.valueDate || 0| date:"yyyy-MM-dd"}}</td>
                    <td>到期日期：{{assignment.project.repaymentDate || 0 | date:"yyyy-MM-dd"}}</td>
                  </tr>
                  <tr>
                    <td>还款日期：{{projectBill.repaymentTime | date:"yyyy-MM-dd"}}</td>
                    <td>应付款项：{{projectBill.repaymentAmount || 0 | number : 2}}元</td>
                    <td>期数： 第{{projectBill.repaymentNo}}期</td>
                  </tr>
                </table>
                <input type="button" class="col-xs-offset-4 col-xs-3 btn btn-info btn-lg active" value="预回购" ng-click="continueInvest()">
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 1">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm"  ng-disabled="page === 1"  ng-click="page = page -1;getEnterpriseAssignments(page,1)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm"  ng-disabled="page >= totalPage" ng-click="page = page + 1;getEnterpriseAssignments(page,1)">下一页</button>
          </div>
        </div>

        <!-- 已逾期-->
        <div ng-if="statusx === 6">
          <!-- todo -->
        </div>
        <!--已结清-->
        <div ng-repeat="projectBillDetail in projectBillDetails" ng-if="statusx === 3">
          <div class="col-md-10 col-md-offset-1 table-stl">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h5>{{projectBillDetail.project.name}}</h5>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <td>项目代码：HC{{projectBillDetail.project.id}}</td>
                    <td>项目规模：{{projectBillDetail.project.total/10000 | number : 2}}万元</td>
                    <td>项目期限：{{projectBillDetail.project.projectDays}}天</td>
                  </tr>
                  <tr>
                    <td>项目利率：{{projectBillDetail.project.annualEarnings | number:2}}%</td>
                    <td>计息日期：{{projectBillDetail.project.valueDate | date:"yyyy-MM-dd"}}</td>
                    <td>到期日期：{{projectBillDetail.project.repaymentDate | date:"yyyy-MM-dd"}}</td>
                  </tr>
                  <tr>
                    <td>本息两清日：{{projectBillDetail.project.repaymentDate | date:"yyyy-MM-dd"}}</td>
                    <td>已付利息：{{projectBillDetail.projectBackCapital}}元</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix margin-b-20" ng-if="statusx === 3">
          <div class="col-sx-12 text-center">
            <button class="btn btn-sm"  ng-disabled="page === 1"  ng-click="page = page -1;getEnterpriseProjects(page,3)">上一页</button>
            {{ page }} / {{totalPage}} 共 {{total}} 条
            <button class="btn btn-sm"  ng-disabled="page >= totalPage" ng-click="page = page + 1;getEnterpriseProjects(page,3)">下一页</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


