<!--银行卡管理-->
<div class="right-area right-account-height col-xs-12 col-md-8 col-lg-9">
  <div class="row">
    <div class="right-title">银行卡管理</div>
  </div>
  <div class="introduction-area border-none row">
    <a ng-show="isVerifying" ng-init="isAuth=false; haveCard=false;">
      <div class="bank-card-show-verify">
        <p class="add-card">认证中</p>
      </div>
    </a>
    <a ng-show="card.status === 'INIT'" ng-init="isAuth=false; haveCard=false;">
      <div class="bank-card-show-verify">
        <p class="add-card">解绑中，请耐心等待</p>
      </div>
    </a>
    <a ng-show="isAuth && card.status !== 'VERIFIED' " ng-init="isAuth=false" ng-click="bindBankCard()">
      <div class="bank-card-show">
        <p class="add-card"></p>
      </div>
    </a>
    <a ng-show="dosi === false">
      <div class="bank-card-show-verify">
        <p class="add-card">正在绑定,请稍后...</p>
      </div>
    </a>
    <div class="bankCard" ng-show="isAuth && haveCard && !isVerifying">
      <div class="bank-card-show-verify">
        <p class="add-card">{{bankName}}</p>
        <p class="add-cardNo">{{ cardNo }}</p>
        <a ng-click="unbindBankCard()">&nbsp;</a>
      </div>
    </div>
    <!--start 安全认证提示 -->
    <p class="verify-tip safe-card-tips" ng-hide="isVerifying || card.status === 'INIT' || isAuth && card.status !== 'VERIFIED' || dosi === false || isAuth && haveCard && !isVerifying">您未完成安全认证，请先<a ng-click="alertRealName()">开通</a>海口联合农商银行资金存管账户</p>
    <!-- <p class="verify-tip safe-card-tips" ng-show="!isAuth">您未完成安全认证，请前往<a ui-sref="root.userCenter.security-settings">【安全设置】</a>更新状态</p> -->
    <!--end 安全认证提示 -->
    <p class="ft-12">
      <br>
      温馨提示
      <br> 1.您所绑定的银行卡可以用来接收提现资金，也可以用来完成快捷充值；
      <br> 2.更换银行卡时，需要先解绑当前的银行卡；
      <br> 3.仅当您在宏财网的借款项目全部还清后，才可解绑银行卡。
    </p>
  </div>
  <!--end 添加银行卡 -->


</div>
