<!-- 投资产品 -->
<div ng-controller="UserOrderCtrl"  class="right-area right-assets-height investment" >
	<div class="right-title">投资产品</div>
	<div class="padd"><span>当前账户总计投资产品： <strong>{{orderCount.all}}</strong>个。</span><span>其中还款中： <strong>{{orderCount.returning}}</strong>个，</span><span>投资中：<strong>{{orderCount.paying}}</strong>个。</span><span>已结清：<strong>{{orderCount.returned}}</strong>个。</span></div>
	<div class="padd"><span>投资总额： <strong>{{amount.amount}}</strong>元，</span><span>累计收益：<strong>{{amount.profit}}</strong>元。</span></div>
	<div class="row">
		<div class="col-md-12">
			<div class="filter-container sort">
			    <div class="sort-item nav-tabs">
			        <div class="nav nav-pills">
			            <span class="active">
			                <a ui-sref="root.userCenter.investment({status: 1})">&nbsp;还款中的投资</a>
			            </span>
			            <span class="">
			                <a href="#">&nbsp;投标中的投资</a>
			            </span>
			            <span class="">
			                <a href="#">&nbsp;已结清的投资</a>
			            </span>
			        </div>
			    </div>
			    <div class="sort-item">
			        <label>时间：</label>
			        <ul class="nav nav-pills">
						<li class="{{dateInterval == '0' ? 'active' : ''}}">
							<a ui-sref="root.userCenter.investment-query({dateInterval:'0'})">全部</a>
						</li>
						<li class="{{dateInterval == '7' ? 'active' : ''}}">
							<a ui-sref="root.userCenter.investment-query({dateInterval:'7'})">最近七天</a>
						</li>
						<li class="{{dateInterval == '30' ? 'active' : ''}}">
							<a ui-sref="root.userCenter.investment-query({dateInterval:'30'})">一个月</a>
						</li>
						<li class="{{dateInterval == '90' ? 'active' : ''}}">
							<a ui-sref="root.userCenter.investment-query({dateInterval:'90'})">三个月ddd</a>
						</li>
					</ul>
			    </div>
			    <div class="row datePicker">
			        <label>固定期限：</label>
			        <form name="datepickerForm" class="form-inline" role="form">
					  <div class="date">
					    <label class="control-label"><i class="fa fa-calendar"></i><small>开始日期</small></label>
					    <label class="control-label"><i class="fa fa-calendar"></i> <small>截止日期</small></label>
					    <br>
					    <div class="form-group mgn-l">
					      <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker>
					    </div>
					    <i class="fa fa-arrows-h"></i>
					    <div class="form-group">
					      <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker>
					    </div>
					  </div>
					</form>
			    </div>
			    <div class="row record-list">
			    	<div class="col-md-12">
			    		<div class="row record-list-head">
			    			<span class="col-md-2 border-r">项目名称</span>
			    			<span class="col-md-2 border-r">计息日</span>
			    			<span class="col-md-2 border-r">到期日</span>
			    			<span class="col-md-2 border-r">金额</span>
			    			<span class="col-md-2 border-r">预计收益</span>
			    			<span class="col-md-2">已得收益</span>
			    		</div>
			    		<div class="row record-item"  ng-repeat="order in orderList">
			    			<span class="col-md-2">{{order.projectName}}<!-- 数据绑定 --></span>
			    			<span class="col-md-2">{{order.valueDate}}<!-- 数据绑定 --></span>
			    			<span class="col-md-2">{{order.settlementDate}}<!-- 数据绑定 --></span>
			    			<span class="col-md-1">{{order.orderAmount}}<!-- 数据绑定 --></span>
			    			<span class="col-md-2">{{order.profit}}<!-- 数据绑定 --></span>
			    			<span class="col-md-2">{{order.returnProfit}}<!-- 数据绑定 --></span>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
