<!-- 我要借款 -->
<div class="right-area right-assets-height col-md-8 col-lg-9">
  <div class="row">
    <div class="right-title">我要借款</div>
  </div>
  <div class="row">
    <div class="lend-process col-md-12 col-lg-12">
      <div class="row">
        <p class="process-tips grey-safe-cgt lend-process-w {{ haveTrusteeshipAccount ? 'blue-safe-cgt' : ''}}">开通存管通</p>
        <p class="process-tips grey-safe-repayment lend-process-w {{ autoRepayment ? 'blue-safe-repayment' : ''}}">开通自动还款</p>
        <p class="process-tips grey-safe-info lend-process-w {{ infoStatus === 2 ? 'blue-safe-info' : ''}}">完善资料</p>
        <p class="process-tips grey-safe-loan lend-process-w {{ loanInformation ? 'blue-safe-loan' : ''}}">填写借款信息</p>
        <p class="process-tips grey-safe-audit lend-process-w {{ pendingAudit  ? 'blue-safe-audit' : ''}}">等待审核</p>
      </div>
    </div>
  </div>
 
  <!-- 开通第三方托管账户 -->
  <div class="openTrusteeship" ng-show="!haveTrusteeshipAccount">
    <p class="text-center lend-openRealName ">为保证您资金安全，宏财网已接入北京网贷风险监控及资金管理系统（简称存管通）。</p>
    <form class="real-name row" name="openTrusteeshipAccountForm" ng-submit="realNameAuth(user)">
      <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <div class="safe-form-group row">
          <label class="col-md-4 col-lg-4">真实姓名：</label>
          <input type="text" class="verify-input col-md-6 col-lg-6" name="realName" ng-model="user.realName" ng-focus required autofocus="" />
          <div class="user-tips-area safe-tips-area" ng-show="openTrusteeshipAccountForm.realName.$dirty && openTrusteeshipAccountForm.realName.$error.required && !openTrusteeshipAccountForm.realName.$focused">
            <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>不能为空</p>
          </div>
        </div>
        <div class="safe-form-group row">
          <label class="col-md-4 col-lg-4">身份证号：</label>
          <input type="text" class="verify-input col-md-6 col-lg-6" name="idCardNo" ng-model="user.idCardNo" ng-focus required/>
          <div class="user-tips-area safe-tips-area" ng-show="openTrusteeshipAccountForm.idCardNo.$dirty && openTrusteeshipAccountForm.idCardNo.$error.required && !openTrusteeshipAccountForm.idCardNo.$focused">
            <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>不能为空</p>
          </div>
        </div>
        <div class="safe-form-group row">
          <label class="col-md-4 col-lg-4"></label>
          <input type="submit" value="立即开通" class="blue-button col-md-5 col-lg-5 margin-l-10" />
        </div>
      </div>
    </form>
  </div>

  <!-- 自动还款 -->
  <div class="row" ng-show="haveTrusteeshipAccount && !autoRepayment">
    <div class="lend-openRealName text-center">为便于您还款操作，请开通自动还款功能</div>
    <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
      <div class="safe-form-group row">
        <label class="col-md-4 col-lg-4 col-xs-5"></label>
        <input type="submit" value="立即开通" class="blue-button col-md-5 col-lg-5 margin-l-10" ng-click="goToAutoRepayment()" />
      </div>
    </div>
  </div>

  <!-- 完善资料 -->
  <div class="row" ng-show="haveTrusteeshipAccount && autoRepayment && infoStatus === 0">
    <div class="lend-openRealName text-center">为便于您的借款，请您完善资料后再借款</div>
    <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
      <div class="safe-form-group row">
        <label class="col-md-4 col-lg-4 col-xs-5"></label>
        <input type="submit" value="立即完善" class="blue-button col-md-5 col-lg-5 margin-l-10" ng-click="gotoPerfectInformation()" />
      </div>
    </div>
  </div>
  
  <!-- 填写借款信息 -->
  <div class="row" ng-show="haveTrusteeshipAccount && autoRepayment && infoStatus === 2 && !loanInformation">
    <form name="preProjectForm" ng-submit="checkLoanAmount(enterprise)">
      <div class="col-lg-2 ft-16"></div>
      <div class="col-lg-8">
        <!-- 注册资金 -->
        <div class="form-group">
          <div class="form-group input-group">
            <input name="loanAmount" id="loanAmount" type="number" ng-pattern="/[0-9]*[1-9][0-9]*$/" ng-maxlength="11" class="form-control" ng-model="enterprise.loanAmount" required oninvalid="setCustomValidity('请填写借款金额')" oninput="setCustomValidity('')" placeholder="借款金额">
            <span class="input-group-addon">元</span>
          </div>
          <div ng-if="preProjectForm.loanAmount.$dirty && preProjectForm.loanAmount.$invalid && !preProjectForm.loanAmount.$focused" style="padding-left: 15px;">
            <div ng-if="preProjectForm.loanAmount.$error.pattern">
              <p class="input-tips">数字格式有误，且大于0</p>
            </div>
            <div ng-if="preProjectForm.loanAmount.$error.required">
              <p class="input-tips">请填写借款金额</p>
            </div>
          </div>
        </div>
        <!-- 借款期限 -->
        <div class="form-group input-group">
          <input type="number" name="loanDate" id="loanDate" class="form-control" ng-pattern="/^(\+|-)?\d+$/" ng-maxlength="9" ng-model="enterprise.loanDate" placeholder="借款期限" oninvalid="setCustomValidity('请填写借款期限')" oninput="setCustomValidity('')" required>
          <span class="input-group-addon">天</span>
        </div>
        <div ng-if="preProjectForm.loanDate.$dirty && preProjectForm.loanDate.$invalid && !preProjectForm.loanDate.$focused" style="padding-left: 15px;">
          <div ng-if="preProjectForm.loanDate.$error.pattern">
            <p class="input-tips">期限格式有误，请输入大于0且小于11位的数字</p>
          </div>
          <div ng-if="preProjectForm.loanDate.$error.required">
            <p class="input-tips">请填写借款期限</p>
          </div>
        </div>
        <!-- 借款用途 -->
        <div class="form-group">
          <textarea class="form-control" name="loanUsage" id="loanUsage" rows="8" ng-model="enterprise.loanUsage" required  oninvalid="setCustomValidity('请填写借款用途')" oninput="setCustomValidity('')" placeholder="借款用途"></textarea>
          <div ng-if="preProjectForm.loanUsage.$dirty && preProjectForm.loanUsage.$invalid && !preProjectForm.loanUsage.$focused" style="padding-left: 15px;">
            <div ng-if="preProjectForm.loanUsage.$error.required">
              <p class="input-tips">请填写借款用途</p>
            </div>
          </div>
        </div>
        <!-- 下一步 -->
        <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
          <div class="safe-form-group row">
            <label class="col-md-4 col-lg-4"></label>
            <input type="submit" value="下一步" class="blue-button col-md-5 col-lg-5 margin-l-10" ng-disabled="preProjectForm.loanDate.$error.pattern || preProjectForm.loanAmount.$error.pattern"/>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- 等待审核 -->
  <div class="row text-center ft-24" ng-show="showPendingAudit" style="margin-top: 60px;">
    资料审核中，请您耐心等待（{{counter}}s）
  </div>
</div>

