<!-- 我要借款 -->
<div class="right-area right-assets-height col-md-8 col-lg-9">
  <div class="row">
    <div class="right-title">我要借款</div>
  </div>
  <div class="row">
    <div class="lend-process col-md-12 col-lg-12">
      <div class="row">
        <p class="process-tips grey-safe-cgt lend-process-w {{ haveTrusteeshipAccount ? 'blue-safe-cgt' : ''}}">开通存管通</p>
        <p class="process-tips grey-safe-repayment lend-process-w {{ autoRepayment ? 'blue-safe-repayment' : ''}}">开通自动还款</p>
        <p class="process-tips grey-safe-info lend-process-w {{ infoStatus === 1 ? 'blue-safe-info' : ''}}">完善资料</p>
        <p class="process-tips grey-safe-loan lend-process-w {{ loanInformation ? 'blue-safe-loan' : ''}}">填写借款信息</p>
        <p class="process-tips grey-safe-audit lend-process-w {{ pendingAudit  ? 'blue-safe-audit' : ''}}">等待审核</p>
      </div>
    </div>
  </div>
 
  <!-- 开通第三方托管账户 -->
  <div class="openTrusteeship" ng-show="!haveTrusteeshipAccount">
    <p class="text-center lend-openRealName ">为保证您资金安全，宏财网已接入北京网贷风险监控及资金管理系统（简称存管通）。</p>
    <form class="real-name row" name="openTrusteeshipAccountForm" ng-submit="realNameAuth(user)">
      <div class="col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3">
        <div class="safe-form-group row">
          <label class="col-md-4 col-lg-4">真实姓名：</label>
          <input type="text" class="verify-input col-md-6 col-lg-6" name="realName" ng-model="user.realName" ng-focus required autofocus="" />
          <div class="user-tips-area safe-tips-area" ng-show="openTrusteeshipAccountForm.realName.$dirty && openTrusteeshipAccountForm.realName.$error.required && !openTrusteeshipAccountForm.realName.$focused">
            <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>不能为空</p>
          </div>
        </div>
        <div class="safe-form-group row">
          <label class="col-md-4 col-lg-4">身份证号：</label>
          <input type="text" class="verify-input col-md-6 col-lg-6" name="idCardNo" ng-model="user.idCardNo" ng-focus required/>
          <div class="user-tips-area safe-tips-area" ng-show="openTrusteeshipAccountForm.idCardNo.$dirty && openTrusteeshipAccountForm.idCardNo.$error.required && !openTrusteeshipAccountForm.idCardNo.$focused">
            <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>不能为空</p>
          </div>
        </div>
        <div class="safe-form-group row">
          <label class="col-md-4 col-lg-4"></label>
          <input type="submit" value="立即开通" class="blue-button col-md-5 col-lg-5 margin-l-10" />
        </div>
      </div>
    </form>
  </div>

  
</div>

