<!--站内消息-->
<div class="right-area right-assets-height userCenter-news">
	<div class="right-title">站内信息</div>
	<div class="row">
		<div class="col-md-12">
			<div class="filter-container sort">
			    <div class="sort-item nav-tabs">
			        <div class="nav nav-pills">
			            <span class="active">
			                <a href="#">&nbsp;全部</a>
			            </span>
			            <span class="">
			                <a href="#">&nbsp;未读</a>
			            </span>
			            <span class="">
			                <a href="#">&nbsp;已读</a>
			            </span>
			        </div>
			    </div>
			    <div class="row news-list">
			    	<div class="col-md-12">
			    		<div class="row news-item">
			    			<div class="col-md-12">
			    				<div class="row">
			    					<div class="col-md-6 ftw-b">系统通知<i class="collapse-img"></i></div>
			    					<div class="col-md-6 text-agn">展开<span class="uncollapse-button"></span></div>
			    				</div>
			    				<div class="row">
			    					<div class="col-md-12">2014-10-10 10:04:01</div>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="row news-item">
			    			<div class="col-md-12">
			    				<div class="row">
			    					<div class="col-md-6 ftw-b">系统通知<i class="uncollapse-img"></i></div>
			    					<div class="col-md-6 text-agn">收起<span class="collapse-button"></span></div>
			    				</div>
			    				<div class="row">
			    					<div class="col-md-12">2014-10-10 10:04:01</div>
			    				</div>
			    				<div class="row">
			    					<div class="col-md-12 news-content">亲爱的天天天天用户，感谢您加入爱投资！</div>
			    				</div>
			    			</div>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
