<!--充值-->
<div class="right-area right-assets-height recharge col-md-8 col-lg-9">
  <div class="row" ng-show="userType != 5">
    <div class="right-title word-less-title">充值</div>
  </div>
  <div class="row" ng-show="userType === 5">
    <div class="right-title word-less-title">充值和转账</div>
  </div>
  <!--start 安全认证提示 -->
  <div class="introduction-area border-none row">
    <p class="verify-tip safe-card-tips" ng-show="!isSecurityAuth" >您未完成安全认证，请前往<a ui-sref="root.userCenter.security-settings">【安全设置】</a>更新状态</p>
  </div>
  <!--end 安全认证提示 -->

  <!--<p>{{isSecurityAuth}}</p>-->
  <div class="row" ng-show="isSecurityAuth">
    <form class="col-md-offset-1 col-lg-offset-1 col-md-10" name="rechargeForm" ng-show="userDetail.bankCardStatus === 'VERIFIED'">
      <div class="row">
        <div class="form-group mgn-top ">
          <label class="col-md-2 col-lg-2">可用余额：</label>
          <p class="col-2 fl" style="width:20%;float:left;">{{ balance || "0" | number:2}}元</p>
          <div class="payment col-md-3 padding-t-3 cursor-pt" ng-class="{'pay-active':payment ==1}" ng-click="selectPay(1)">快捷支付方式</div>
          <div class="payment col-md-3 padding-t-3 cursor-pt" ng-class="{'pay-active':payment ==2}" ng-click="selectPay(2)">网银支付方式</div>
        </div>
      </div>
      <hr color="#888181" width="97%" height="2px" class="margin-t-0">
      <div class="row">
        <div class="form-group">
          <label class="col-md-3 col-lg-2">充值金额：</label>
          <input name="amount" type="text" class="verify-input" ng-model="rechargeAmount" ng-pattern="/^[0-9]*(\.[0-9]{1,2})?$/" ng-foucus required autofocus/>&nbsp;&nbsp;元
          <div class="user-tips-area col-md-offset-2 col-lg-offset-2" ng-show="rechargeForm.amount.$dirty && rechargeForm.amount.$error.pattern">
            <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>请输入数字(最多精确到小数点后两位)</p>
          </div>
          <div class="user-tips-area col-md-offset-2 col-lg-offset-2" ng-show="rechargeForm.amount.$dirty && rechargeForm.amount.$error.required && !rechargeForm.amount.$focused">
            <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>充值金额不能为空</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <input type="button" value="确认充值" class="white-button col-md-offset-3 col-lg-offset-2" ng-click="recharge(rechargeAmount)" ng-disabled="rechargeForm.$invalid" ng-class="{'white-button':rechargeForm.$invalid, 'blue-button':!rechargeForm.$invalid}" />
        </div>
      </div>
    </form>
    <!--start 未绑卡 -->
    <div class="introduction-area border-none row" ng-show="userDetail.bankCardStatus !== 'VERIFIED'">
      <p class="verify-tip safe-card-tips">充值需要绑定银行卡，请您前往<a ng-click="toBindBank()">【存管通资金系统】</a>完成绑卡操作</p>
    </div>
  </div>

  <!--<p>{{isSecurityAuth}}</p>-->
  <div class="row" ng-show="userType == 5 && isSecurityAuth">
    <form class="col-md-offset-1  col-lg-offset-1 col-md-10" name="transferForm" ng-show="userDetail.bankCardStatus === 'VERIFIED'">
      <div class="row">
        <div class="form-group mgn-top">
          <label class="col-md-3 col-lg-2">可转账余额：</label>
          <p>{{ balance || "0" | number:2}}元</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-md-3 col-lg-2">转账金额：</label>
          <input name="amount" type="text" class="verify-input" ng-model="transferAmount" ng-pattern="/^[0-9]*(\.[0-9]{1,2})?$/" ng-foucus required autofocus/>&nbsp;&nbsp;元
          <div class="user-tips-area col-md-offset-2 col-lg-offset-2" ng-show="transferForm.amount.$dirty && transferForm.amount.$error.pattern">
            <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>请输入数字(最多精确到小数点后两位)</p>
          </div>
          <div class="user-tips-area col-md-offset-2 col-lg-offset-2" ng-show="transferForm.amount.$dirty && transferForm.amount.$error.required && !transferForm.amount.$focused">
            <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>充值金额不能为空</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <input type="button" value="确认转账" class="white-button col-md-offset-3 col-lg-offset-2" ng-click="transferToPlaform(transferAmount)" ng-disabled="transferForm.$invalid" ng-class="{'white-button':transferForm.$invalid, 'blue-button':!transferForm.$invalid}" />
        </div>
      </div>
    </form>
    <!--start 未绑卡 -->
    <div class="introduction-area border-none row" ng-show="userDetail.bankCardStatus !== 'VERIFIED'">
      <p class="verify-tip safe-card-tips">充值需要绑定银行卡，请您前往<a ng-click="toBindBank()">【存管通资金系统】</a>完成绑卡操作</p>
    </div>
  </div>
  <div class="row">
    <div class="ft-12 col-md-offset-1 col-lg-offset-1 col-md-10">
      <p>温馨提示</p>
      <p>1. 您的账户资金将由海口联合农村商业银行进行资金存管；</p>
      <p>2. 首先请注意您是否开通网上银行等功能,可能存在充值超过限额：（充值限额，是银行、第三方支付平台和用户您自己设定的支付限额决定的，取三者最小值）以免造成充值不成功；</p>
      <p>3. 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用；</p>
      <p>4. 如果充值金额没有及时到账，请联系客服，400-900-7626。</p>
    </div>
  </div>
</div>
