<!--支付记录-->
<div class="right-area right-assets-height record">
	<div class="right-title">支付记录</div>
	<div class="padd"><span>当前账户资产总计： <strong>80588.00<!-- 数据绑定 --></strong>元。</span><span>其中可用资产： <strong>5880.00<!-- 数据绑定 --></strong>元，</span><span>冻结资产：<strong>79500.00<!-- 数据绑定 --></strong>元。</span></div>
	<div class="row">
		<div class="col-md-12">
			<div class="filter-container sort">
				<div class="sort-item nav-tabs">
			        <div class="nav nav-pills">
			            <span class="active">
			                <a href="#">&nbsp;全部</a>
			            </span>
			            <span class="">
			                <a href="#">&nbsp;充值</a>
			            </span>
			            <span class="">
			                <a href="#">&nbsp;提现</a>
			            </span>
			            <span class="">
			                <a href="#">&nbsp;投资</a>
			            </span>
			            <span class="">
			                <a href="#">&nbsp;回款</a>
			            </span>
			        </div>
			    </div>
			    <div class="sort-item">
			        <label>时间：</label>
			        <ul class="nav nav-pills">
			            <li class="active mgn-l">
			                <a href="#">&nbsp;全部</a>
			            </li>
			            <li class="">
			                <a href="#">&nbsp;最近七天</a>
			            </li>
			            <li class="">
			                <a href="#">&nbsp;一个月</a>
			            </li>
			            <li class="">
			                <a href="#">&nbsp;三个月</a>
			            </li>
			        </ul>
			    </div>
			    <div class="row datePicker">
			        <label>固定期限：</label>
			        <form name="datepickerForm" class="form-inline" role="form">
					  <div class="date">
					    <label class="control-label"><i class="fa fa-calendar"></i><small>开始日期</small></label>
					    <label class="control-label"><i class="fa fa-calendar"></i> <small>截止日期</small></label>
					    <br>
					    <div class="form-group mgn-l">
					      <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker>
					    </div>
					    <i class="fa fa-arrows-h"></i>
					    <div class="form-group">
					      <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker>
					    </div>
					  </div>
					</form>
			    </div>
			    <div class="row record-list">
			    	<div class="col-md-12">
			    		<div class="row record-list-head">
			    			<span class="col-md-2 border-r">创建时间</span>
			    			<span class="col-md-2 border-r">收支类型</span>
			    			<span class="col-md-2 border-r">收支描述</span>
			    			<span class="col-md-2 border-r">收入</span>
			    			<span class="col-md-1">支出</span>
			    			<span class="col-md-2 border-r border-l">账户现金</span>
			    			<span class="col-md-1 ">备注</span>
			    		</div>
			    		<div class="row record-item">
			    			<span class="col-md-2">2014-10-10<!-- 数据绑定 --></span>
			    			<span class="col-md-2">收支类型<!-- 数据绑定 --></span>
			    			<span class="col-md-2">收支描述<!-- 数据绑定 --></span>
			    			<span class="col-md-2">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-1">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-2">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-1 ">备注<!-- 数据绑定 --></span>
			    		</div>
			    		<div class="row record-item bg-offWhite">
			    			<span class="col-md-2">2014-10-10<!-- 数据绑定 --></span>
			    			<span class="col-md-2">收支类型<!-- 数据绑定 --></span>
			    			<span class="col-md-2">收支描述<!-- 数据绑定 --></span>
			    			<span class="col-md-2">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-1">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-2">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-1 ">备注<!-- 数据绑定 --></span>
			    		</div>
			    		<div class="row record-item">
			    			<span class="col-md-2">2014-10-10<!-- 数据绑定 --></span>
			    			<span class="col-md-2">收支类型<!-- 数据绑定 --></span>
			    			<span class="col-md-2">收支描述<!-- 数据绑定 --></span>
			    			<span class="col-md-2">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-1">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-2">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-1 ">备注<!-- 数据绑定 --></span>
			    		</div>
			    		<div class="row record-item bg-offWhite">
			    			<span class="col-md-2">2014-10-10<!-- 数据绑定 --></span>
			    			<span class="col-md-2">收支类型<!-- 数据绑定 --></span>
			    			<span class="col-md-2">收支描述<!-- 数据绑定 --></span>
			    			<span class="col-md-2">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-1">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-2">8000<!-- 数据绑定 --></span>
			    			<span class="col-md-1 ">备注<!-- 数据绑定 --></span>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
</div>
