<!--user-center-sidebar-->
<div class="left-area col-lg-2 col-md-3">
  <div class="personal-information row">
    <p class="p-user-name">{{welcomeTip}}
      <br><strong>{{ loginName }}</strong>
    </p>
    <div class="row">
      <div class="safe-pic-area">
        <div class="safe-pic1 fa fa-credit-card pic-stl1 {{securityStatus.realNameAuthStatus == 1 ? 'user-card message1-blue' : 'user-cardno'}}"></div>
        <div class="safe-pic1 fa fa-mobile pic-stl2 {{securityStatus.mobileStatus == 1 ? 'user-card message1-blue' : 'user-cardno'}}"></div>
        <div class="safe-pic1 fa fa-envelope-o pic-stl3 {{securityStatus.emailStatus == 1  ? 'user-card message1-blue' : 'user-cardno'}}"></div>
      </div>
    </div>
    <div class="row" ng-switch="securityStatus.realNameAuthStatus + securityStatus.mobileStatus + securityStatus.emailStatus">
      <div class="security-level low-level" ng-switch-default></div>
      <div class="security-level mid-level" ng-switch-when="2"></div>
      <div class="security-level high-level" ng-switch-when="3"></div>
    </div>
    <div class="row" ng-switch="securityStatus.realNameAuthStatus + securityStatus.mobileStatus + securityStatus.emailStatus">
      <div class="col-md-12 col-lg-12">
        <p>&nbsp&nbsp安全等级：
          <span ng-switch-default>低</span>
          <span ng-switch-when="2">中</span>
          <span ng-switch-when="3">高</span>
        </p>
        <a ui-sref="root.userCenter.security-settings" class="a-up-level" ng-show="securityStatus.realNameAuthStatus + securityStatus.mobileStatus + securityStatus.emailStatus != 3">【提升】</a>
      </div>
    </div>
  </div>
  <div class="row">
    <a ui-sref="root.userCenter.account-overview" class="tips-area {{selectSide == 'account-overview' ? 'tips-show' : ''}}">
      <div class="left-show-area {{selectSide == 'account-overview' ? 'left-show-area-bg' : ''}}"></div>
      <div class="ico-area message-1 fa fa-newspaper-o {{selectSide == 'account-overview' ? 'message1-blue' : ''}}"></div>
      <p class="{{selectSide == 'account-overview' ? 'now' : ''}}" style="margin-left:36px;">账户总览</p>
    </a>
  </div>
  <div class="row">
    <a ui-sref="root.userCenter.bankcard-management" class="tips-area {{selectSide == 'bankcard-management' ? 'tips-show' : ''}}">
      <div class="left-show-area {{selectSide == 'bankcard-management' ? 'left-show-area-bg' : ''}}" ng-mousedown="test = 'white-bankcard'"></div>
      <div class="ico-area message-1 fa fa-credit-card {{selectSide == 'bankcard-management' ? 'message1-blue' : ''}}" ng-class="test"></div>
      <p class="{{selectSide == 'bankcard-management' ? 'now' : ''}}" style="margin-left:36px;">银行卡管理</p>
    </a>
  </div>
  <div class="row">
    <a ui-sref="root.userCenter.security-settings" class="tips-area {{selectSide == 'security-settings' ? 'tips-show' : ''}}">
      <div class="left-show-area {{selectSide == 'security-settings' ? 'left-show-area-bg' : ''}}"></div>
      <div class="ico-area  message-2 fa fa-shield {{selectSide == 'security-settings' ? 'message1-blue' : ''}}"></div>
      <p class="{{selectSide == 'security-settings' ? 'now' : ''}}" style="margin-left:36px;">安全设置</p>
    </a>
  </div>
  <div class="row" ng-show="userType != 5">
    <a ui-sref="root.userCenter.recharge" class="tips-area {{selectSide == 'recharge' ? 'tips-show' : ''}}">
      <div class="left-show-area {{selectSide == 'recharge' ? 'left-show-area-bg' : ''}}"></div>
      <div class="ico-area message-1 fa fa-plug {{selectSide == 'recharge' ? 'message1-blue' : ''}}"></div>
      <p class="{{selectSide == 'recharge' ? 'now' : ''}}" style="margin-left:36px;">充值</p>
    </a>
  </div>
  <div class="row" ng-show="userType == 5">
    <a ui-sref="root.userCenter.recharge" class="tips-area {{selectSide == 'recharge' ? 'tips-show' : ''}}">
      <div class="left-show-area {{selectSide == 'recharge' ? 'left-show-area-bg' : ''}}"></div>
      <div class="ico-area message-1 fa fa-plug {{selectSide == 'recharge' ? 'message1-blue' : ''}}"></div>
      <p class="{{selectSide == 'recharge' ? 'now' : ''}}" style="margin-left:36px;">充值转账</p>
    </a>
  </div>
  <div class="row">
    <a ui-sref="root.userCenter.withdraw" class="tips-area {{selectSide == 'withdraw' ? 'tips-show' : ''}}">
      <div class="left-show-area {{selectSide == 'withdraw' ? 'left-show-area-bg' : ''}}"></div>
      <div class="ico-area message-1 fa fa-money {{selectSide == 'withdraw' ? 'message1-blue' : ''}}"></div>
      <p class="{{selectSide == 'withdraw' ? 'now' : ''}}" style="margin-left:36px;">提现</p>
    </a>
  </div>
   <div class="row">
    <a ui-sref="root.userCenter.transaction-record" class="tips-area {{selectSide == 'transaction-record' ? 'tips-show' : ''}}">
      <div class="left-show-area {{selectSide == 'transaction-record' ? 'left-show-area-bg' : ''}}"></div>
      <div class="ico-area  message-1 fa fa-edit {{selectSide == 'transaction-record' ? 'message1-blue' : ''}}"></div>
      <p class="{{selectSide == 'transaction-record' ? 'now' : ''}}" style="margin-left:36px;">交易记录</p>
    </a>
  </div>
  <!--<div class="row">
    <a ui-sref="root.userCenter.news" class="tips-area {{selectSide == 'news' ? 'tips-show' : ''}}">
      <div class="left-show-area {{selectSide == 'news' ? 'left-show-area-bg' : ''}}"></div>
      <div class="ico-area {{selectSide == 'news' ? 'blue-news' : 'grey-news'}}"></div>
      <p class="{{selectSide == 'news' ? 'now' : ''}}">站内消息</p>
    </a>
  </div>-->
</div>
