
<div class="left-area">
	<div class="personal-information">
		<!--临时头像-->
		<div class="left-user-head"></div>
		<p class="p-user-name">{{ loginName }}</p>
		<div class="safe-pic {{isRealNameAuth ? 'card-ok' : 'card-no'}}"></div>
		<div class="safe-pic {{mobile ? 'phone-ok' : 'phone-no'}}"></div>
		<div class="safe-pic {{email ? 'mail-ok' : 'mail-no'}}"></div>
		<div class="security-level low-level"  ng-if="securityLevel == 0"></div>
		<div class="security-level mid-level"  ng-if="securityLevel == 1"></div>
		<div class="security-level high-level"  ng-if="securityLevel == 2"></div>
		<p class="p-security-level" >&nbsp&nbsp安全等级：
			<span ng-if="securityLevel == 0">低</span>
			<span ng-if="securityLevel == 1">中</span>
			<span ng-if="securityLevel == 2">高</span>
		</p>
		<a ui-sref="root.userCenter.security-settings" class="a-up-level" ng-show="securityLevel != 2">【提升】</a>
	</div>

	<a ui-sref="root.userCenter.account-overview" class="tips-area {{selectSide == 'account-overview' ? 'tips-show' : ''}}">
		<div class="left-show-area {{selectSide == 'account-overview' ? 'left-show-area-bg' : ''}}"></div>
		<div class="ico-area {{selectSide == 'account-overview' ? 'red-account' : 'grey-account'}}"></div>
		<p class="{{selectSide == 'account-overview' ? 'now' : ''}}">账户总览</p>
	</a>

	<a ui-sref="root.userCenter.bankcard-management" class="tips-area {{selectSide == 'bankcard-management' ? 'tips-show' : ''}}">
		<div class="left-show-area {{selectSide == 'bankcard-management' ? 'left-show-area-bg' : ''}}" ng-mousedown="test = 'white-bankcard'"></div>
		<div class="ico-area {{selectSide == 'bankcard-management' ? 'red-bankcard' : 'grey-bankcard'}}" ng-class="test" ></div>
		<p class="{{selectSide == 'bankcard-management' ? 'now' : ''}}">银行卡管理</p>
	</a>

	<a ui-sref="root.userCenter.security-settings" class="tips-area {{selectSide == 'security-settings' ? 'tips-show' : ''}}">
		<div class="left-show-area {{selectSide == 'security-settings' ? 'left-show-area-bg' : ''}}"></div>
		<div class="ico-area {{selectSide == 'security-settings' ? 'red-safeset' : 'grey-safeset'}}"></div>
		<p class="{{selectSide == 'security-settings' ? 'now' : ''}}">安全设置</p>
	</a>

	<a ui-sref="root.userCenter.recharge" class="tips-area {{selectSide == 'recharge' ? 'tips-show' : ''}}">
		<div class="left-show-area {{selectSide == 'recharge' ? 'left-show-area-bg' : ''}}"></div>
		<div class="ico-area {{selectSide == 'recharge' ? 'red-recharge' : 'grey-recharge'}}"></div>
		<p class="{{selectSide == 'recharge' ? 'now' : ''}}">充值</p>
	</a>

	<a ui-sref="root.userCenter.withdraw" class="tips-area {{selectSide == 'withdraw' ? 'tips-show' : ''}}">
		<div class="left-show-area {{selectSide == 'withdraw' ? 'left-show-area-bg' : ''}}"></div>
		<div class="ico-area {{selectSide == 'withdraw' ? 'red-withdraw' : 'grey-withdraw'}}"></div>
		<p class="{{selectSide == 'withdraw' ? 'now' : ''}}">提现</p>
	</a>
</div>
