<div ng-switch="page">

  <div class="container bg" ng-switch-when="1">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">注册易宝成功</p>
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">恭喜您注册易宝成功~
              <br>{{counter}}秒后进入个人中心~</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="2">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">充值成功</p>
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">恭喜您充值成功~
              <br>{{counter}}秒后进入个人中心~</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="3">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">取现成功</p>
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">恭喜您取现成功~
              <br>{{counter}}秒后进入个人中心~</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="4">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">交易成功</p>
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">恭喜您交易成功~
              <br>{{counter}}秒后进入个人中心~</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="5">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">绑定申请提交成功</p>
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">提交银行卡绑定申请成功~
              <br>{{counter}}秒后进入个人中心~</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
