<!--提现-->
<div class="right-area right-assets-height withdraw col-md-8 col-lg-9 col-xs-12">
  <div class="row">
    <div class="right-title word-less-title">提现</div>
  </div>
  <div class="introduction-area border-none row">
    <p class="verify-tip safe-card-tips" ng-show="!isSecurityAuth">您未完成安全认证，请先<a ng-click="alertRealName()">开通</a>海口联合农商银行资金存管账户</p>
  </div>
  <div class="row" ng-show="isSecurityAuth">
    <form class="col-xs-offset-2 col-xs-10" name="withdrawForm" ng-show="userDetail.bankCardStatus === 'VERIFIED'">
      <div class="form-group mgn-top">可用余额：{{availableCash | number:2}}元</div>
      <div class="form-group mgn-top" ng-show="MathMin(availableCashRealNo, maxWithdrawAmount) - 2 <= 0">可提现金额：0.00元</div>
      <div class="form-group mgn-top" ng-show="MathMin(availableCashRealNo, maxWithdrawAmount) - 2 > 0">可提现金额：{{(MathMin(availableCashRealNo, maxWithdrawAmount) - 2) | number:2}}元</div>
      <div class="form-group mgn-top">
        <div class="row">
          <div class="fl margin-l-15 margin-t-5">提现金额：</div>
          <div class="col-xs-4 padding-0" >
            <input name="amount" type="text" class="verify-input" ng-model="amount" ng-pattern="/^[0-9]*(\.[0-9]{1,2})?$/" ng-focus ng-disabled="MathMin(availableCashRealNo, maxWithdrawAmount) <= 0" required autofocus/>&nbsp;&nbsp;元
          </div>
          <div class="fl margin-t-5">手续费：2元</div>
        </div>
        
        <div class="user-tips-area col-xs-6 col-lg-6 col-xs-offset-1 col-lg-offset-1 margin-b-15" ng-show="withdrawForm.amount.$dirty && withdrawForm.amount.$error.pattern">
          <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>请输入数字(最多精确到小数点后两位)</p>
        </div>
        <div class="user-tips-area col-xs-6 col-lg-6 col-xs-offset-1 col-lg-offset-1 margin-b-15" ng-show="withdrawForm.amount.$dirty && checkLargestAmount(amount)">
          <p class="input-tips user-input-tips security-stl"><i class="fa fa-times-circle-o login-check-img"></i>不能大于可提现金额</p>
        </div>
        <div class="user-tips-area col-xs-6 col-lg-6 col-xs-offset-1 col-lg-offset-1 margin-b-15" ng-show="withdrawForm.amount.$dirty && withdrawForm.amount.$error.required && !withdrawForm.amount.$focused">
          <img ng-src="images/check_no.png" class="user-check-img">
          <p class="input-tips user-input-tips">提现金额不能为空</p>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-xs-3 col-lg-3"></label>
          <input type="button" value="确认提现" class="white-button" ng-click="withdraw(amount, captcha)" ng-disabled="withdrawForm.$invalid || checkLargestAmount(amount)" ng-class="{'white-button':withdrawForm.$invalid || checkLargestAmount(amount), 'blue-button':!withdrawForm.$invalid && !checkLargestAmount(amount)}" />
        </div>
      </div>
    </form>
    <!--start 未绑卡 -->
    <div class="introduction-area border-none row" ng-show="userDetail.bankCardStatus !== 'VERIFIED'">
      <p class="verify-tip safe-card-tips">充值需要绑定银行卡，请您前往<a ng-click="toBindBank()">【存管通资金系统】</a>完成绑卡操作</p>
    </div>
  </div>
  <div class="row">
    <div class="ft-12 col-xs-offset-1 col-lg-offset-1 col-xs-10">
      <br>
      <p>温馨提示</p>
      <p>1. 目前提现收取2元每笔的提现费用。提现金额的最小额度为1元，即额度大于或等于1元。宏财网平台不收取任何提现费用；</p>
      <p>2. 银行存管系统收到用户提现申请即对提现进行转账操作，提现资金将会在下个工作日到账（如遇双休日或法定节假日顺延）；</p>
      <p>3. 如果用户迟迟未收到提现资金，可能为银行卡信息填写有误，银行正在做退款操作，预计会在1个工作日内完成退款，请用户耐心等候。用户还可以联系客服（400-990-7626），寻求帮助；</p>
      <p>4. 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用；</p>
    </div>
  </div>
</div>
