<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
  <div class="title text-center">
    <strong ng-if="msg === '1'">开通银行资金存管账户</strong>
    <strong ng-if="msg === '2'">申请充值</strong>
    <strong ng-if="msg === '3'">申请提现</strong>
    <strong ng-if="msg === '4'">支付</strong>
    <strong ng-if="msg === '5'">绑定提现银行卡</strong>
    <strong ng-if="msg === '8'">转账</strong>
    <strong ng-if="msg === '9'">自动还款</strong>
    <strong ng-if="msg === '10'">自动投标</strong>
  </div>

  <div class="content" ng-if="msg === '1'">
    <p>您已申请开通银行资金存管账户</p>
    <p>请在新窗口内填写信息，完成银行资金存管账户的开通</p>
  </div>
  <div class="content" ng-if="msg === '2'">
    <p>您已申请进行充值操作，充值金额{{rechargeAmount}}元</p>
    <p>请在新窗口内填写信息，完成充值操作</p>
  </div>
  <div class="content" ng-if="msg === '3'">
    <p>您已申请进行提现操作，提现金额{{withdrawAmount}}元</p>
    <p>请在新窗口内输入支付密码，完成提现申请</p>
  </div>
  <div class="content" ng-if="msg === '4'">
    <p>您已申请对项目进行投资，投资金额为{{investAmount}}元</p>
    <p>请在新窗口内输入支付密码及绑定手机验证码，完成支付操作</p>
  </div>
  <div class="content" ng-if="msg === '5'">
    <p>您已申请绑定提现银行卡</p>
    <p>请在第三方托管平台所提供页面完成绑卡操作</p>
  </div>
  <div class="content" ng-if="msg === '6'">
    <p>您已申请开通预约权限</p>
    <p>请在第三方托管平台所提供页面完成预约授权</p>
  </div>
  <div class="content" ng-if="msg === '7'">
    <p>您已申请取消绑定的银行卡</p>
    <p>请在第三方托管平台所提供页面完成取消绑定</p>
  </div>
  <div class="content" ng-if="msg === '8'">
    <p>您已申请转账</p>
    <p>请在第三方托管平台所提供页面完成转账操作</p>
  </div>
  <div class="content" ng-if="msg === '9'">
    <p>您已申请开通自动还款</p>
    <p>请在新窗口内填写信息，完成自动还款的开通</p>
  </div>
  <div class="content" ng-if="msg === '10'">
    <p>您已申请开通自动投标</p>
    <p>请在新窗口内填写信息，完成自动投标的开通</p>
  </div>
  <div class="content padding-b-0" ng-if="msg === '11' && userDetail.account.tTotalAssets > 2">
    <p class="text-justify padding-l-10 padding-r-10">尊敬的用户，检测到您的账户总资产大于2元，为了您的资金安全，请联系客服进行授权。</p>
  </div>
  <div class="row text-center">
    <p>如遇到问题，请拨打客服电话： 400-990-7626</p>
  </div>
  <div class="bottom col-xs-8 col-xs-offset-4">
    <a class="btn blue-button btn-block" href="javascript:;" ng-click="reload();$hide()">知道了</a>
  </div>

</div>
<div class="mask_layer"></div>
