<!--about-sidebar-->
<div class="about-left-area  about-us-area">
	<a ui-sref="root.about-us.introduction-of-platform" class="tips-area {{ flag == 1 ? 'on-it' : ''}}" >
		<div class="left-show-area left-top-radius {{ flag == 1 ? 'left-show-area-bg' : ''}}"></div>
		<p class="{{ flag == 1 ? 'now' : ''}}">平台简介</p>
	</a>
	<a ui-sref="root.about-us.business-model" class="tips-area {{ flag == 2 ? 'on-it' : ''}}">
		<div class="left-show-area {{ flag == 2 ? 'left-show-area-bg' : ''}}"></div>
		<p class="{{ flag == 2 ? 'now' : ''}}">业务模式</p>
	</a>
	<a ui-sref="root.about-us.company-profile" class="tips-area {{ flag == 3 ? 'on-it' : ''}}">
		<div class="left-show-area {{ flag == 3 ? 'left-show-area-bg' : ''}}"></div>
		<p class="{{ flag == 3 ? 'now' : ''}}">公司简介</p>
	</a>
	<a ui-sref="root.about-us.web-site-announcement" class="tips-area {{ flag == 4 ? 'on-it' : ''}}">
		<div class="left-show-area {{ flag == 4 ? 'left-show-area-bg' : ''}}"></div>
		<p class="{{ flag == 4 ? 'now' : ''}}">网站公告</p>
	</a>
	<a ui-sref="root.about-us.hongcaidynamic" class="tips-area {{ flag == 5 ? 'on-it' : ''}}">
		<div class="left-show-area {{ flag == 5 ? 'left-show-area-bg' : ''}}"></div>
		<p class="{{ flag == 5 ? 'now' : ''}}">宏财动态</p>
	</a>
	<a ui-sref="root.about-us.media-reports" class="tips-area {{ flag == 6 ? 'on-it' : ''}}">
		<div class="left-show-area {{ flag == 6 ? 'left-show-area-bg' : ''}}"></div>
		<p class="{{ flag == 6 ? 'now' : ''}}">媒体报道</p>
	</a>
	<a ui-sref="root.about-us.link-us" class="tips-area {{ flag == 7 ? 'on-it' : ''}}">
		<div class="left-show-area left-bottom-radius {{ flag == 7 ? 'left-show-area-bg' : ''}}"></div>
		<p class="{{ flag == 7 ? 'now' : ''}}">联系我们</p>
	</a>
</div>