<!--业务模式-->
<div class="right-area introduction-height" ng-controller="BusinessModelCtrl">
	<div class="right-title">业务模式</div>
	<div class="introduction-area">
		<p class="p-introduction">{{variable||"投资人通过宏财网平台，将资金出借给企业，获得相应的投资利益。平台上展示的企业，都是通过了宏财网全面风控体系审核，具有良好信誉，以及还款能力的，有借款需求的实体经营企业。投资人的本息，由宏财网挑选合作的，具有良好资质的，多家融资性担保公司提供相应的全额担保。个人或企业，也可以通过债券转让等资产交易形式，实现资金高效安全流动，从而获得资产的保值、增值。"}}</p>
		<div class="img-area">
			<div class="img-introduction"></div>
			<div class="img-introduction"></div>
			<div class="img-introduction"></div>
		</div>
	</div>
</div>