<!--网站公告-->
<div class="right-area introduction-height" ng-controller="HongcaiDynamicCtrl">
	<div class="right-title">宏财动态</div>
	<div class="introduction-area">
		<div class="dynamic-show">
			<a ui-sref="root.about-us.news-details"><div class="img-dynamic"></div></a>
			<a class="p-title-dynamic" ui-sref="root.about-us.news-details">宏财谈个性化服务创新啊啊啊啊啊啊</a>
			<p class="p-date">2014-09-28</p>
			<a ui-sref="root.about-us.news-details" class="p-dynamic-show">8月26日，2014中国互联网大会在北京国际会议中心举行。宏财总经理刘刚出席“互联网金融·中国峰会2014”特色分会，并对P2P行业的个性化服务创新化服务创新发化服务创新发发表...</a>
		</div>
		<div class="dynamic-show">
			<a ui-sref="root.about-us.news-details"><div class="img-dynamic"></div></a>
			<a class="p-title-dynamic" ui-sref="root.about-us.news-details">宏财谈个性化服务创新啊啊啊啊啊啊</a>
			<p class="p-date">2014-09-28</p>
			<a ui-sref="root.about-us.news-details" class="p-dynamic-show">8月26日，2014中国互联网大会在北京国际会议中心举行。宏财总经理刘刚出席“互联网金融·中国峰会2014”特色分会，并对P2P行业的个性化服务创新化服务创新发化服务创新发发表...</a>
		</div>
		<div class="dynamic-show">
			<a ui-sref="root.about-us.news-details"><div class="img-dynamic"></div></a>
			<a class="p-title-dynamic" ui-sref="root.about-us.news-details">宏财谈个性化服务创新啊啊啊啊啊啊</a>
			<p class="p-date">2014-09-28</p>
			<a ui-sref="root.about-us.news-details" class="p-dynamic-show">8月26日，2014中国互联网大会在北京国际会议中心举行。宏财总经理刘刚出席“互联网金融·中国峰会2014”特色分会，并对P2P行业的个性化服务创新化服务创新发化服务创新发发表...</a>
		</div>
		<div class="dynamic-show">
			<a ui-sref="root.about-us.news-details"><div class="img-dynamic"></div></a>
			<a class="p-title-dynamic" ui-sref="root.about-us.news-details">宏财谈个性化服务创新啊啊啊啊啊啊</a>
			<p class="p-date">2014-09-28</p>
			<a ui-sref="root.about-us.news-details" class="p-dynamic-show">8月26日，2014中国互联网大会在北京国际会议中心举行。宏财总经理刘刚出席“互联网金融·中国峰会2014”特色分会，并对P2P行业的个性化服务创新化服务创新发化服务创新发发表...</a>
		</div>
	</div>
</div>