<!--平台简介-->
<div class="right-area introduction-height" ng-controller="IntroductionCtrl">
	<div class="right-title">平台简介</div>
	<div class="introduction-area">
		<p class="p-introduction">{{variable||"宏财网（宏财泰富（北京）科技有限公司）是一家创立于北京的互联网金融平台公司。通过引入国外先进的互联网金融理念和技术，结合国内持续改善的宏观经济发展环境及具体细碎的微观主体金融需求，宏财网构建出一个高效、透明、增值、不断创新的网络投融资及资产流动管理服务平台，致力于帮助个人、企业间资金、资产的自由流动，致力于建设和完善社会信用价值体系及普惠金融，致力于点滴推动经济发展和社会进步。"}}</p>
		<p class="p-title-introduction">{{variable||"公司资质"}}</p>
		<div class="img-area">
			<div class="img-introduction"></div>
			<div class="img-introduction"></div>
			<div class="img-introduction"></div>
		</div>
	</div>
</div>