<!--联系我们-->
<div class="right-area introduction-height" ng-controller="LinkUsCtrl">
	<div class="right-title">联系我们</div>
	<div class="introduction-area">
	<table class="table-link-us">
		<tr>
			<td class="p-right">客服电话：</td>
			<td>400-400-400 （工作日 09:00-21:00 节假日 09:00-18:00）</td>
		</tr>
		<tr>
			<td class="p-right">联系电话：</td>
			<td>010-88888888</td>
		</tr>
		<tr>
			<td class="p-right">商务合作：</td>
			<td>010-88888888（仅限机构商务合作）</td>
		</tr>
		<tr>
			<td class="p-right">移动端商务合作：</td>
			<td>010-88888888（仅限机构商务合作）</td>
		</tr>
		<tr>
			<td class="p-right">邮件反馈：</td>
			<td> service@hongcai.com</td>
		</tr>
		<tr>
			<td class="p-right">网址：</td>
			<td><a href="http://www.hongcai.com">http://www.hongcai.com</a></td>
		</tr>
		<tr>
			<td class="p-right">新浪微博：</td>
			<td><a href="http://www.weibo.com/hongcai">http://www.weibo.com/hongcai</a></td>
		</tr>
	</table>
	</div>
</div>