<!--公告详情-->
<div class="right-area introduction-height" ng-controller="NewsCtrl">
	<div class="introduction-area">
		<h3 class="details-title">新版合同升级上线通知</h3>
		<p class="p-date">2014-09-28</p>
		<p class="p-introduction p-details">爱亲们，大家好！
      	<br>继债权转让规则升级之后, 根据金杜律所意见和部分热心爱亲的相关反馈，对投资相关合同也进行了升级和完善，进一步保护用户权益。新版合同已于9月28日正式启用！
      	<br>此次合同变动主要为以下几点：
      	<br>1. 合同关系更明确：【产品合同从之前1份增加至2份，分别为债权人（投资人），债务人与保证人的三方合同，及爱投资平台与投资人的投资服务协议；
      	<br>2. 项目信息更透明：新版合同上债务人姓名及身份证号全部公开，同时增加投资人需遵守的保密协议条款；
      	<br>3. 电子签名更安全：针对合同上债务人签名（借款企业法定代表人、股东或企业实际控制人，或融资租赁公司法人）增加CFCA安全认证；
      	<br>若有任何疑问和建议，欢迎拨打宏财客服热线：400-400-400咨询。
		<br>宏财网
		<br>2014年9月28日</p>
	</div>
</div>