<!--网站公告-->
<div class="right-area introduction-height" ng-controller="WebSiteCtrl">
	<div class="right-title">网站公告</div>
	<div class="news-nav">
		<span class="active"><a href="#">服务公告</a></span>
		<span class=""><a href="#">支付公告</a></span>
		<span class=""><a href="#">项目公告</a></span>
	</div>
	<div class="introduction-area">
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
		<div class="web-show">
			<a ui-sref="root.about-us.news-details" class="a-web-news">【服务公告】关于国庆期间放假安排通知</a>
			<p class="p-date">2014-09-28</p>
		</div>
	</div>
</div>