<!--宏财网介绍-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">宏财介绍</div>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeIntroduceQ1 =! changeIntroduceQ1">1、宏财网是做什么的网站？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeIntroduceQ1 == true">宏财网是一家国内专业的P2B互联网金融交易模式的平台，企业借款人获得借款资金支持，个人出借人获得丰厚投资收益回报。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeIntroduceQ2 =! changeIntroduceQ2">2、宏财网安全吗？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeIntroduceQ2 == true">网站技术保障
		<br><br>宏财网运用各种先进的安全技术保护用户在宏财网账户中存储的个人信息、账户信息以及交易记录，以免用户账户遭受未经授权的访问、使用以及信息泄露。
		<br><br>宏财网有着完善的安全监测系统，可以及时发现网站的非正常访问并做相应的安全响应。对于用户的账户信息，宏财网会对其进行高强度的加密，以防止用户信息的外泄。
		<br><br>同时，我们还会持续更新和改进网站的安全策略，以保证网站安全策略的有效性和健壮性。
		<br><br>权限管理和隐私安全
		<br><br>我们严格遵守国家相关的法律法规，对用户的隐私信息进行保护。未经您的同意，宏财网不会向任何第三方公司、组织和个人披露您的个人信息、账户信息以及交易信息（法律法规另有规定的除外）。
		<br><br>同时，宏财网公司内部也设有严格、完善的权限管理体系，以保证每一位内部员工都只能查看自己职责和权限之内的数据和信息。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeIntroduceQ3 =! changeIntroduceQ3">3、一旦借款人无法偿还怎么办？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeIntroduceQ3 == true">我们的借款人都是经过保荐机构和风控团队层层筛选的优质企业，如果一旦发生违约风险，保荐机构会对您的本息进行全额担保，保障您的资金安全。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeIntroduceQ4 =! changeIntroduceQ4">4、我是新手，投资有什么门槛吗？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeIntroduceQ4 == true">只要您年满18周岁，拥有一张开通网银功能的银行卡，并有100元投资资金，在宏财网上进行注册即可成为宏财网用户。</p>
	</div>
</div>