<!--投资人-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">投资介绍</div>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeInvestorsQ1 =! changeInvestorsQ1">1、什么人可以进行投资？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeInvestorsQ1 == true">年满18周岁，具有完全民事权利能力和民事行为能力，可以在宏财网网站上进行注册、完成实名认证、绑定银行卡，成为理财人。
		<br><br>宏财网仅向符合中华人民共和国法律规定的具有完全民事权利能力和民事行为能力，能够独立承担民事责任的自然人和机构提供服务。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeInvestorsQ2 =! changeInvestorsQ2">2、理财的收益和期限分别为多少？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeInvestorsQ2 == true">根据不同项目收益区间为7%-20%。
		<br><br>根据不同项目期限区间为1-12个月。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeInvestorsQ3 =! changeInvestorsQ3">3、投资期间是否会产生费用？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeInvestorsQ3 == true">目前宏财网承诺杜绝一切隐性收费，支持开户免费、认证免费、充值免费、本息保障免费，为投资客户提供安全、方便、透明的专业服务。
		<br><br>如有变动请参照具体投资协议和合同。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeInvestorsQ4 =! changeInvestorsQ4">4、投资后的收益该如何计算？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeInvestorsQ4 == true">目前宏财网根据不同产品，采取先息后本和等额本息两种计息方式。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeInvestorsQ5 =! changeInvestorsQ5">5、投资后计息时间从什么时候开始？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeInvestorsQ5 == true">先息后本计息起始日为放款日。</p>
	</div>	
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeInvestorsQ6 =! changeInvestorsQ6">6、收回成本时止息日怎么算？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeInvestorsQ6 == true">企业的项目最后一笔还款的日期，当日是不计入付息天数内。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeInvestorsQ7 =! changeInvestorsQ7">7、投资是否可以提前退出并收回出借的本金？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeInvestorsQ7 == true">目前暂时不可以。</p>
	</div>
</div>