<!--安全认证-->
<div class="col-md-9 col-lg-9 right-area">
	<div class="row">
		<div class="right-title">安全认证</div>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeSafeQ1 =! changeSafeQ1">1、为什么要进行安全认证？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ1 == true">为了保障用户资金的安全性和合同的有效性，宏财网要求所有理财人及借款企业必须通过身份证绑定、手机号绑定以及提现密码设置。安全认证的过程简单便捷，宏财网对于所有个人资料均作严格保密。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeSafeQ2 =! changeSafeQ2">2、什么情况算您完成了实名认证？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ2 == true">
		成功验证您的身份信息。
		<br>成功验证您的手机号码。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeSafeQ3 =! changeSafeQ3">3、身份信息正确，实名认证未通过怎么办？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ3 == true">可能是由于第三方认证系统没有及时更新您的身份信息导致的。您可以联系客服寻求帮助（400-027-8080）。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeSafeQ4 =! changeSafeQ4">4、进行实名认证后，能解绑或重新认证吗？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ4 == true">用户在网站不可以进行解绑操作；
		<br>如果账户资金余额为0且没有借款和理财记录的用户，可以联系客服解绑（400-027-8080）。</p>
	</div>
	<div class="row">
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 p-click" ng-click="changeSafeQ5 =! changeSafeQ5">5、一个手机号能绑定几个宏财网账户？</p>
		<p class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-if="changeSafeQ5 == true">为了保障您的资金安全，我们默认只能绑定一个手机号。</p>
	</div>	
</div>