<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-body panel-get-pwd-back" >
        <ul class="row">
          <li class="col-xs-2 margin-l">
            <span class="get-pwd-back-step-line"></span>
            <span class="get-pwd-back-step"><i class="fa fa-user fa-st"></i></span>
            <p class="get-pwd-back-step-text">输入帐号</p>
          </li>

          <li class="col-xs-2">
            <span class="get-pwd-back-step-line"></span>
            <span class="get-pwd-back-step">
              <i class="fa fa-credit-card fa-st"></i>
            </span>
            <p class="get-pwd-back-step-text">验证身份</p>
          </li>

          <li class="col-xs-2">
            <span class="get-pwd-back-step-line"></span>
            <span class="get-pwd-back-step">
              <i class="fa fa-key fa-st"></i>
            </span>
            <p class="get-pwd-back-step-text">修改密码</p>
          </li>

          <li class="col-xs-2">
              <span class="get-pwd-back-step">
                <i class="fa fa-check fa-st"></i>
              </span>
              <p class="get-pwd-back-step-text">完成</p>
          </li>
        </ul>
        <ul class="row triangle-up" style="margin-top:0px;">
          <li class="col-xs-2 margin-l" ng-class="{'active': areaFlag == 1}">
            <span class="get-pwd-back-step trans">
              <i class="fa fa-sort-asc fa-stl"></i>
            </span>
          </li>
          <li class="col-xs-2" ng-class="{'active': areaFlag == 21 || areaFlag == 22 || areaFlag == 23 }">
            <span class="get-pwd-back-step trans"><i class="fa fa-sort-asc fa-stl"></i></span>
          </li>
          <li class="col-xs-2" ng-class="{'active': areaFlag == 3}">
            <span class="get-pwd-back-step trans"><i class="fa fa-sort-asc fa-stl"></i></span>
          </li>
          <li class="col-xs-2" ng-class="{'active': areaFlag == 4}">
            <span class="get-pwd-back-step trans"><i class="fa fa-sort-asc fa-stl"></i></span>
          </li>
        </ul>
      </div>

  <!-- STEP1 第一步输入帐号 -->
   <!--    <div ng-show="areaFlag == 1" class="margin-b">
        <form class="form-horizontal" role="form" name="getPwdUserForm">
          <div class="form-group">
            <label for="account" class="col-xs-3  col-xs-offset-1 control-label">用户名:</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" name="account" ng-model="getPwd.account" find-account="account" required ng-focnus id="account" placeholder="用户名/邮箱/手机号码">
              <div ng-show="getPwdUserForm.account.$dirty && getPwdUserForm.account.$invalid && !getPwdUserForm.account.$focused && getPwdUserForm.account.$error.unique" class="user-tips-area get-pwd-tips-area">

                <p class="input-tips user-input-tips"><i class="fa fa-times-circle-o login-check-img" style="top:0px;"></i>该账号不存在</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="captcha" class="col-xs-3 col-xs-offset-1 control-label">验证码:</label>
            <div class="col-xs-2 ">
              <input type="text" class="form-control" name="captcha" ng-model="user.captcha" ensure-captcha="captcha" id="captcha" placeholder="请输入验证码" required ng-focus />
              <div ng-show="getPwdUserForm.captcha.$dirty && getPwdUserForm.captcha.$invalid && !getPwdUserForm.captcha.$focused && getPwdUserForm.captcha.$error.check">

                <p class="input-tips user-input-tips"><i class="fa fa-times-circle-o login-check-img" style="top:0px;"></i>验证码错误</p>
              </div>
            </div>
            <img ng-src="{{getPicCaptcha}}" class="" id="checkCaptcha" ng-click="refreshCode()">
            <a href="" ng-click="refreshCode()">看不清?换图片</a>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-3">
              <button type="submit" class="col-xs-6 col-xs-offset-1 btn btn-blue btn-lg" ng-disabled="getPwdUserForm.$invalid" ng-click="verifyAccount(getPwd.account)">下一步</button>
            </div>
          </div>
        </form>
      </div>   -->

      <!-- STEP2-1 通过手机号进行手机验证 -->
      <div ng-show="areaFlag == 21" class="margin-b">
        <div class="col-xs-offset-3">
          <h4>已发送验证码到{{phoneNum||"133*****569"}}，请在下面输入您收到的验证码!</h4>
        </div>
        <form class="form-horizontal" role="form" name="step21From">
          <div class="form-group">
            <label for="step2-mobile" class="col-xs-3 col-xs-offset-1 control-label">输入验证码:</label>
            <div class="col-xs-5">
              <input type="text" class="form-control" name="step2-mobile" ng-model="getPwd.mobileCaptcha"  ng-focnus id="step2-mobile" placeholder="">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-offset-3">
              <button type="submit" class="col-xs-6 col-xs-offset-1 btn btn-blue btn-lg" ng-disabled="step21From.$invalid" ng-click="checkMobileCaptcha(getPwd)">下一步</button>
            </div>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>