<br>
<br>
<div class="container get-pwd-back">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-body panel-get-pwd-back" >
        <ul class="row">
          <li class="col-xs-2 margin-l">
            <span class="get-pwd-back-step-line"></span>
            <span class="get-pwd-back-step"><i class="fa fa-user"></i></span>
            <p class="get-pwd-back-step-text">输入帐号</p>
          </li>

          <li class="col-xs-2">
            <span class="get-pwd-back-step-line"></span>
            <span class="get-pwd-back-step">
              <i class="fa fa-credit-card"></i>
            </span>
            <p class="get-pwd-back-step-text">验证身份</p>
          </li>

          <li class="col-xs-2">
            <span class="get-pwd-back-step-line"></span>
            <span class="get-pwd-back-step">
              <i class="fa fa-key"></i>
            </span>
            <p class="get-pwd-back-step-text">修改密码</p>
          </li>

          <li class="col-xs-2">
              <span class="get-pwd-back-step">
                <i class="fa fa-check"></i>
              </span>
              <p class="get-pwd-back-step-text">完成</p>
          </li>
        </ul>
        <ul class="row triangle-up">
          <li class="col-xs-2 margin-l" ng-class="{'active': areaFlag == 1}">
            <span class="get-pwd-back-step">
              <i class="fa fa-sort-asc"></i>
            </span>
          </li>
          <li class="col-xs-2" ng-class="{'active': areaFlag == 21 || areaFlag == 22 || areaFlag == 23 }">
            <span class="get-pwd-back-step"><i class="fa fa-sort-asc"></i></span>
          </li>
          <li class="col-xs-2" ng-class="{'active': areaFlag == 3}">
            <span class="get-pwd-back-step"><i class="fa fa-sort-asc"></i></span>
          </li>
          <li class="col-xs-2" ng-class="{'active': areaFlag == 4}">
            <span class="get-pwd-back-step"><i class="fa fa-sort-asc"></i></span>
          </li>
        </ul>
      </div>
      <!-- STEP3 -->
      <form class="form-horizontal" role="form" name="Step3SetPwd" ng-show="areaFlag == 3">
        <div class="form-group">
          <label for="password" class="col-sm-3 col-sm-offset-1 control-label">输入新密码:</label>
          <div class="col-sm-5">
            <input type="password" class="form-pwd" name="password" id="password" ng-model="setEmail.password" required />
          </div>
        </div>
        <div class="form-group">
          <label for="repeatPassword" class="col-sm-3 col-sm-offset-1 control-label">确定新密码:</label>
          <div class="col-sm-5">
            <input type="password" class="form-pwd" id="repeatPassword" name="repeatPassword" ng-model="setEmail.repeatPassword" password-match="password" required />
          </div>
          <div ng-show="Step3SetPwd.password.$dirty && Step3SetPwd.password.$invalid && !Step3SetPwd.password.$focused && Step3SetPwd.password.$error.unique" class="user-tips-area get-pwd-tips-area">

            <p class="input-tips user-input-tips"><i class="fa fa-times-circle-o login-check-img"></i>密码输入不一致</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4">
            <button type="submit" class="col-sm-6 btn-blue btn-lg" ng-disabled="Step3SetPwd.$invalid" ng-click="setEmailNewPwd(setEmail)">下一步</button>
          </div>
        </div>
      </form>
      <!-- STEP4 完成跳转-->
      <div ng-show="areaFlag == 4" class="margin-b pwd-success">
        <h4>密码找回成功</h4>
        <h4>{{ counter }} 秒后进入<a ui-sref="root.login" class="active">登录</a>页，请使用新密码进行登录</h4>
      </div>
    </div>
  </div>
</div>
