<div class="agreements-area" ng-show="type == 0">
  <p><h4 style="text-align:center;"><strong>个人信息查询及使用授权书</strong></h4></p>
  <br>
  <br>
  <div class="row">
    <p><strong class="agree-mg">致：北京竞财投资服务有限公司（以下简称“贵司”）</strong></p>
    <p style="text-indent:2em;">本人同意并不可撤销地授权贵司：在办理业务申请及业务存续期间，按国家有关规定查询和使用本人信息，<strong>包括但不限于本人身份信息、住址、电话、通讯录、人法、贷款记录、征信、资产、信用情况等信息；</strong>查询结果仅用于本次业务相关的用途，具体如下：</p>
    <br>
    <p class="agree-tx" style="text-indent:2em;">1、审核本人贷款申请，并对已承诺或已发放的贷款进行贷后管理。</p>
    <p class="agree-tx" style="text-indent:2em;">2、审核本人作为借款人配偶或者担保人配偶的贷款申请，并对已承诺贷款事项、已发放贷款、已承诺担保事项进行贷后管理。</p>
    <p class="agree-tx" style="text-indent:2em;">3、审核本人作为担保人的贷款申请，并对已承诺担保事项进行贷后管理。</p>
    <p class="agree-tx" style="text-indent:2em;">4、受理法人、其他组织的贷款申请或其作为担保人，需要审核其法定代表人、出资人及其他关联人的信用状况，并对已承诺贷款事项、已发放贷款、已承诺担保事项进行贷后管理。</p>
    <p class="agree-tx" style="text-indent:2em;"><strong>5、人工查询手机信息，包括不限于通讯录、短信、微信、支付宝、照片等。</strong></p>
    <p class="agree-tx" style="text-indent:2em;">6、法律法规允许的其他事项。</p>
    <p class="agree-tx ft-bold" style="text-indent:2em;"><strong>本人声明：贵司已依法向本人提示了上述条款（特别是字体加粗的条款），应本人要求对相关概念、内容及法律效果做了说明。本人已经知悉并理解上述条款。无论前述业务申请是否获得批准，本人均同意贵司继续保留本人身份证件复印件、本授权书原件，同意贵司以纸质或电子档案形式留存本人信息查询结果，同意贵司向信息查询数据库报送本人信息。</strong></p>
    <br>
    <br>
    <p>授权人（签名）：</p>
    <br>
    <p>居民身份证号：</p>
    <br>
    <p>授权日期：<span> &nbsp; &nbsp; &nbsp; </span> 年<span> &nbsp; &nbsp; &nbsp; </span>月<span> &nbsp; &nbsp; &nbsp; </span>日</p>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="agreements-area" ng-show="type == 1">
  <p><h4 style="text-align:center;"><strong>企业信息查询及使用授权书</strong></h4></p>
  <br>
  <br>
  <div class="row">
    <p><strong class="agree-mg">致：北京竞财投资服务有限公司（以下简称“贵司”）</strong></p>
    <p style="text-indent:2em;">本公司同意并不可撤销地授权贵司：在办理业务申请及业务存续期间，按国家有关规定查询和使用本公司信息，<strong>包括但不限于本公司工商注册信息、经营信息、联络信息、财务信息、人法记录、借款记录、征信记录、资产负债信息、信用情况等。</strong>查询结果仅用于：本公司借款申请的贷前审核及贷后管理。</p>
    <br>
    <p class="agree-tx" style="text-indent:2em;"><strong>本公司声明：贵司已依法向本公司提示了上述条款（特别是字体加粗的条款），应本公司要求对相关概念、内容及法律效果做了说明。本公司已经知悉并理解上述条款。无论前述业务申请是否获得批准，本公司均同意贵司继续保留本公司证件复印件、本授权书原件，同意贵司以纸质或电子档案形式留存本公司信息查询结果，同意贵司向信息查询数据库报送本公司信息。</strong></p>
    <br>
    <br>
    <p>授权企业（签章）： </p>
    <br>
    <p>统一社会信用代码：</p>
    <br>
    <p>授权日期：<span> &nbsp; &nbsp; &nbsp; </span> 年<span> &nbsp; &nbsp; &nbsp; </span>月<span> &nbsp; &nbsp; &nbsp; </span>日</p>
    <br>
    <br>
    <br>
  </div>
</div>