<div class="agreements-area">
  <p class="text-title">网络借贷信息中介服务协议</p>
  <p class="text-right">合同编号：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</p>
  <div class="row">
    <p><strong class="agree-mg">甲方（借款方）：</strong></p>
    <p><strong class="agree-mg">统一社会信用代码/身份证号：</strong></p>
    <br>
    <p><strong class="agree-mg">乙方（平台方）：北京竞财投资服务有限公司</strong></p>
    <p>统一社会信用代码：</p>
    <br>
    <p><strong class="agree-mg">鉴于：</strong></p>
    <p class="agree-tx">1、乙方是一家依法设立并有效存续的有限责任公司，其运营的宏财网平台（域名：www.hongcai.com ,以下简称“平台”）作为网络借贷信息中介服务平台，依托互联网信息技术，为客户提供借贷信息发布、资信评估、信息交互及借贷交易撮合服务。</p>
    <p class="agree-tx">2、甲方为乙方平台的注册用户，有借款需求；</p>
    <p class="agree-tx">3、乙方同意向甲方提供与借款相关的信息发布、交易撮合等服务，通过乙方运营的网络借贷信息中介平台为甲方发布借款信息，促成甲方与出借人的借款交易。</p>
    <br>
    <p class="agree-tx ft-bold">依据《中华人民共和国合同法》《网络借贷信息中介机构业务活动管理暂行办法》等相关法律法规，经双方协商一致，就乙方向甲方提供资信评估、借款项目信息发布、借贷信息交互、交易撮合等服务，达成如下协议：</p>
    <br>
    <p><strong class="agree-mg">一、甲方拟借款信息</strong></p>
    <p class="agree-tx">1、甲方拟通过乙方运营的宏财网平台（域名：www.hongcai.com  ）借款，预计借款金额为人民币<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>元（大写：<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>元整），借款期限<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>个月，借款年化利率为<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>%，具体以实际借款信息为准。</p>
    <p class="agree-tx">2、甲方此次借款在乙方平台的募集期限拟定为【 15 】日，自借款项目在平台上线之日起算。</p>
    <br>
    <p><strong class="agree-mg">二、乙方提供的服务内容及服务方式</strong></p>
    <p class="agree-tx">1、对甲方及出借人的资格条件、信息的真实性、甲方融资项目的真实性、合法性进行必要审核；</p>
    <p class="agree-tx">2、依据法律法规及合同约定，通过平台为甲方发布借款信息，撮合甲方与出借人的借贷交易；</p>
    <p class="agree-tx">3、接受出借人的授权，向第三方存管银行发出资金划拨指令，将出借人出借款项自出借人银行存管账户划转至甲方银行存管账户，以完成出借人向甲方的资金出借；</p>
    <p class="agree-tx">4、接受甲方的授权，向第三方存管银行发出资金划拨指令，将甲方的还款金额按照借款协议约定自甲方银行存管账户划转至出借人银行存管账户，以完成甲方的还款；</p>
    <p class="agree-tx">5、对出借人进行网络借贷知识普及和风险教育活动；</p>
    <p class="agree-tx">6、妥善保管甲方与借款人的资料和交易信息；</p>
    <p class="agree-tx">7、本合同约定的其他义务。</p>
    <br>
    <p><strong class="agree-mg">三、双方的权利和义务</strong></p>
    <p class="agree-tx">1、甲方的权利和义务</p>
    <p class="agree-tx">（1）甲方应按照乙方的要求，提供其真实、准确、完整的身份信息及融资信息；</p>
    <p class="agree-tx">（2）向乙方提供其在所有网络借贷信息中介机构未偿还借款信息；</p>
    <p class="agree-tx">（3）保证融资项目真实、合法，并按照约定用途使用借贷资金，不得用于出借等其他目的；</p>
    <p class="agree-tx">（4）按照约定向出借人如实报告影响或可能影响出借人权益的重大信息； </p>
    <p class="agree-tx">（5）确保自身具有与借款金额相匹配的还款能力并按照合同约定还款； </p>
    <p class="agree-tx">（6）按照本协议约定及时足额向乙方支付服务费用； </p>
    <p class="agree-tx">（7）严格履行本合同、借款合同及有关协议约定的其他义务。 </p>
    <p class="agree-tx">2、乙方的权利和义务 </p>
    <p class="agree-tx">（1）按照本协议约定就甲方与出借人的借贷交易提供资信评估、交易撮合等信息中介服务； </p>
    <p class="agree-tx">（2）按照本协议约定向甲方收取服务费用； </p>
    <p class="agree-tx">（3）妥善保管甲方和出借人的交易信息及相关资料； </p>
    <p class="agree-tx">（4）法律法规及监管办法规定的其他权利及义务。 </p>
    <br>
    <p><strong class="agree-mg">四、甲方的承诺和保证</strong></p>
    <p class="agree-tx">1、甲方具有签订本协议所需要的民事权利能力和民事行为能力，其签署本协议是其真实的意思表示，不侵害任何第三方的合法权益，不违反其与任何第三方签署的协议约定；</p>
    <p class="agree-tx">2、甲方向乙方提供的所有资料和信息均真实、准确、完整、有效；</p>
    <p class="agree-tx">3、甲方理解并同意遵守乙方平台注册协议、平台交易规则；</p>
    <p class="agree-tx">4、严格按照借款协议约定用途使用资金，不会借款资金用于投资股票、场外配资、期货合约、结构化产品及其他衍生品等高风险的产品；</p>
    <p class="agree-tx">5、及时足额履行还款义务；</p>
    <p class="agree-tx">6、按照本协议约定及时足额支付乙方服务费用；</p>
    <p class="agree-tx">7、甲方通过乙方平台进行网络借贷，不存在以下情形：</p>
    <p class="agree-tx">（1）通过故意变换身份、虚构融资项目、夸大融资项目收益前景等形式的欺诈借款；</p>
    <p class="agree-tx">（2）同时通过多个网络借贷信息中介机构，或者通过变换项目名称、对项目内容进行非实质性变更等方式，就同一融资项目进行重复融资；</p>
    <p class="agree-tx">（3）在网络借贷信息中介机构以外的公开场所发布同一融资项目的信息；</p>
    <p class="agree-tx">（4）法律法规和网络借贷有关监管规定禁止从事的其他活动。</p>
    <br>
    <p><strong class="agree-mg">五、服务费用</strong></p>
    <p class="agree-tx">1、经乙方审核通过，同意通过平台为甲方发布借款信息的，则甲方应向乙方支付平台服务费用，具体计算方式为：甲方实际借款金额*服务费率*借款天数/365。甲方本次借款需向乙方支付的服务费为<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>元（服务费率为<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>%）。</p>
    <p class="agree-tx">2、乙方委托<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>（ <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> ：<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> ） 代其向甲方收取前述服务费用。</p>
    <p class="agree-tx">3、本协议生效后，甲方单方提出解除本协议的，乙方已经收取的费用不予退还。</p>
    <p class="agree-tx">4、如非因甲方原因，甲方未能通过乙方平台借款成功（指在募集期限内未满标，下同），则乙方退还已经收取的服务费用的50%。如因甲方原因导致其未能通过乙方平台借款成功，则乙方已经收取的费用不予退还。</p>
    <br>
    <p><strong class="agree-mg">六、违约责任</strong></p>
    <p class="agree-tx">1、任何一方违反其在本协议项下义务的，构成违约，应向对方承担违约责任；</p>
    <p class="agree-tx">2、甲方知悉并确认，乙方作为网络借款信息中介平台，并不对甲方通过乙方平台借款成功做出任何保证和承诺。甲方未能通过乙方平台出借人达成借款交易或借款金额低于甲方拟借款金额的，乙方并不因此向甲方承担违约责任。</p>
    <p class="agree-tx">3、乙方通过平台为甲方发布借款信息，以甲方按照本协议约定及时足额向乙方支付服务费用为前提，如甲方未履行付款义务，乙方有权拒绝为其提供本协议约定服务，且不因此向其承担违约责任。</p>
    <p class="agree-tx">4、本协议生效后，甲方不得以任何理由要求解除本协议或撤回借款申请，否则因此导致的一切损失均由甲方承担，包括但不限于出借人的利息损失、需要支付给存管银行的转账费用。</p>
    <br>
    <p><strong class="agree-mg">七、保密义务</strong></p>
    <p class="agree-tx">双方应对本协议履行过程中获悉的对方的商业秘密予以保密，未经对方同意，不得向任何第三方泄露，否则应向对方承担违约责任。</p>
    <br>
    <p><strong class="agree-mg">八、争议解决</strong></p>
    <p class="agree-tx">本协议履行过程中发生争议的，应友好协商解决，协商不成的，任何一方均可向乙方注册地北京市【 石景山 】区人民法院提起诉讼解决。</p>
    <br>
    <p><strong class="agree-mg">九、本协议的生效</strong></p>
    <p class="agree-tx">本协议经双方或双方授权代理人通过甲方平台的电子合同签署系统签署后生效，一式二份，双方各持一份，具有同等的法律效力。</p>
    <br>
    <p><strong class="agree-mg">（以下无正文) </strong></p>
    <br>
    <br>
    <div><strong class="agree-mg">甲方：</strong></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div><strong class="agree-mg">乙方：</strong></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <strong class="agree-tx">签署日期：<u> &nbsp; &nbsp; &nbsp; </u> 年<u> &nbsp; &nbsp; &nbsp; </u>月<u> &nbsp; &nbsp; &nbsp; </u>日</strong>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>