<!-- 个人 -->
<div class="agreements-area" ng-show="type == 0">
    <p>北京竞财投资服务有限公司&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;HC-JKSQ</p>
    <p style="margin: 10px;text-align: center;" class="p1">
        <strong style="font-size: 18px;">借款申请表</strong>
    </p>
    <p style="margin: 10px;text-align: right;" class="p2">
        编号：
    </p>
    <table class="t1" border="1" cellspacing="0">
        <tbody>
            <tr class="firstRow">
                <td colspan="4" valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款信息
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款金额
                    </p>
                </td>
                <td valign="middle" class="td1">
                     <span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款期限
                    </p>
                </td>
                <td valign="middle" class="td1">
                     <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  </span><span class="s1">天</span>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款用途
                    </p>
                </td>
                <td colspan="3" valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        还款用途
                    </p>
                </td>
                <td colspan="3" valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td colspan="4" valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款人基本信息
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款人全称
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        证件类型
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        证件号
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        婚姻状况
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        文化程度
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        工作年限
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        工作单位
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        职务
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        手机号
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        邮箱
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        户籍所在地
                    </p>
                </td>
                <td colspan="3" valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        通信地址
                    </p>
                </td>
                <td colspan="3" valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td colspan="4" valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        基本财务信息
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p6">
                        家庭月收入
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p7">
                        <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p8">
                        家庭月支出
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p7">
                        <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p6">
                        家庭月债务支出
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p7">
                        <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p8">
                        当前家庭对外担保总额
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p7">
                        <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4" valign="middle" class="td1">
                    <p style="margin: 10px;" class="p6">
                        借款人声明及授权
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4" valign="middle" class="td1" style="word-break: break-all;">
                    <p style="margin: 10px;" class="p6">
                        本借款申请人承诺<span class="s2">:</span>
                    </p>
                    <p style="margin: 10px;" class="p6">
                        <span class="s2">1</span>、本申请表填写内容真实<span class="s2">,</span>如有不实<span class="s2">,</span>本人愿承担相应法律责任。
                    </p>
                    <p style="margin: 10px;" class="p6">
                        2、借款资金不会以任何形式进入证券市场<span class="s2">,</span>或用于股本权益性投资；不用于国家明令禁止或限制的经营活动；不用于房地产项目开发。
                    </p>
                    <p style="margin: 10px;" class="p6">
                        3、本人授权北京竞财投资服务有限公司<span class="s2">(</span>以下简称<span class="s2">“</span>贵公司<span class="s2">”)</span>在任何依法成立的征信机构及银行了解和查询本人财产、个人信用记录等信息<span class="s2">,</span>并同意贵公司<span class="s2">:</span>
                    </p>
                    <p style="margin: 10px;" class="p6">
                        <span class="s2">1</span>）收集本人的有关资料作为本次借款申请之用；
                    </p>
                    <p style="margin: 10px;" class="p6">
                        <span class="s2">2</span>）有权处理本人所有相关个人信息及资料<span class="s2">(</span>包括但不限于将本人信息、个人信贷交易记录以及其它相关信息）报送依法成立的相关征信机构及其他第三方信息共享系统；
                    </p>
                    <p style="margin: 10px;">
                        <span class="s2">3</span>）贵公司有权同意或拒绝本人借款申请且无须提供任何理由及无须退回所有申请资料。
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin: 10px;" class="p9">
        <br/>
    </p>
    <p style="margin: 10px;text-align: left; text-indent: 18em;">
        借款人签章：
    </p>
    <p style="margin: 10px;text-align: left; text-indent: 18em;">
        <span class="s3">签署日期：</span> <span class="Apple-converted-space">&nbsp; &nbsp; </span><span class="s3">年</span> <span class="Apple-converted-space">&nbsp; </span><span class="s3">月</span><span class="Apple-converted-space">&nbsp; </span><span class="s3">日</span>
    </p>
    <p style="margin: 10px;">
        <br/>
    </p>
</div>
<!-- 企业 -->
<div class="agreements-area" ng-show="type == 1">
    <p>北京竞财投资服务有限公司&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;HC-JKSQ</p>
    <p style="margin: 10px;text-align: center;" class="p1">
        <strong style="font-size: 18px;">借款申请表</strong>
    </p>
    <p style="margin: 10px;text-align: right;" class="p2">
        编号：
    </p>
    <table class="t1" border="1" cellspacing="0">
        <tbody>
            <tr class="firstRow">
                <td colspan="4" valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款信息
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款金额
                    </p>
                </td>
                <td valign="middle" class="td1">
                     <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款期限
                    </p>
                </td>
                <td valign="middle" class="td1">
                     <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  </span><span class="s1">天</span>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款用途
                    </p>
                </td>
                <td colspan="3" valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        还款用途
                    </p>
                </td>
                <td colspan="3" valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td colspan="4" valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        借款企业基本信息
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        企业全称
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        证件类型
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        统一社会信用代码
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        法定代表人
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        身份证号
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        注册时间
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        注册地址
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        注册资本
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        企业性质
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        所属行业
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        联系人姓名
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        联系人手机
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        联系人邮箱
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        公司电话
                    </p>
                </td>
                <td valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        现办公地址
                    </p>
                </td>
                <td colspan="3" valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        通信地址
                    </p>
                </td>
                <td colspan="3" valign="middle" class="td1"></td>
            </tr>
            <tr>
                <td colspan="4" valign="middle" class="td1">
                    <p style="margin: 10px;" class="p3">
                        基本财务信息
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p6">
                        企业月净利润
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p7">
                        <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p8">
                        企业月总支出
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p7">
                        <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p6">
                        企业月债务支出
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p7">
                        <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p8">
                        企业当前对外担保总额
                    </p>
                </td>
                <td valign="middle" class="td1">
                    <p style="margin: 10px;" class="p7">
                        <span class="Apple-converted-space">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span><span class="s1">元</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4" valign="middle" class="td1">
                    <p style="margin: 10px;" class="p6">
                        借款企业声明及授权
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4" valign="middle" class="td1" style="word-break: break-all;">
                    <p style="margin: 10px;" class="p6">
                        本借款企业承诺<span class="s2">:</span>
                    </p>
                    <p style="margin: 10px;" class="p6">
                        1、本申请表填写内容真实,如有不实,本企业愿承担相应法律责任。
                    </p>
                    <p style="margin: 10px;" class="p6">
                        2、借款资金不会以任何形式进入证券市场,或用于股本权益性投资；不用于国家明令禁止或限制的经营活动；不用于房地产项目开发。
                    </p>
                    <p style="margin: 10px;" class="p6">
                        3、本企业授权北京竞财投资服务有限公司(以下简称“贵公司”)在任何依法成立的征信机构及银行了解和查询本企业财产、信用记录等信息,并同意贵公司:
                    </p>
                    <p style="margin: 10px;" class="p6">
                        <span class="s2">1</span>）收集本企业的有关资料作为本次借款申请之用；
                    </p>
                    <p style="margin: 10px;" class="p6">
                        <span class="s2">2</span>）有权处理本企业所有相关企业信息及资料(包括但不限于将本企业信息、借款记录以及其它相关信息）报送依法成立的相关征信机构及其他第三方信息共享系统；
                    </p>
                    <p style="margin: 10px;">
                        <span class="s2">3</span>）贵公司有权同意或拒绝本企业借款申请且无须提供任何理由及无须退回所有申请资料。
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <p style="margin: 10px;" class="p9">
        <br/>
    </p>
    <p style="margin: 10px;text-align: left; text-indent: 18em;">
        借款企业签章：
    </p>
    <p style="margin: 10px;text-align: left; text-indent: 18em;">
        <span class="s3">签署日期：</span> <span class="Apple-converted-space">&nbsp; &nbsp; </span><span class="s3">年</span> <span class="Apple-converted-space">&nbsp; </span><span class="s3">月</span><span class="Apple-converted-space">&nbsp; </span><span class="s3">日</span>
    </p>
    <p style="margin: 10px;">
        <br/>
    </p>
</div>