<div id="footer">
	<div class="container-fluid bg-grey-d footer-up">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9 links">
					<div class="row">
						<!--<div class="col-xs-4 col-md-2"><a ui-sref="root.about-us.introduction-of-platform">关于我们</a></div>
						<div class="col-xs-4 col-md-2"><a ui-sref="root.about-us.link-us">联系我们</a></div>
						<div class="col-xs-4 col-md-2"><a href="newbie-guide.html" target="_blank">新手引导</a></div>
						<div class="col-xs-4 col-md-2"><a ui-sref="root.help-center.introduce">帮助中心</a></div>
						<div class="col-xs-4 col-md-2"><a ui-sref="root.project-list-query({status: '6,7,8,9', minCycle: 0, maxCycle: 100, minEarning: 0, maxEarning: 100, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:'release_start_time', sortType: false })">我要理财</a></div>
						<div class="col-xs-4 col-md-2"><a ui-sref="root.friends-ship" target="_blank">友情链接</a></div>-->
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<div class="row">
						<div class="col-xs-12">
							<div class="media">
								<a class="pull-left"><i class="fa fa-phone text-muted ft-3em"></i></a>
								<div class="media-body">
									<h4 class="media-heading">400-990-7626</h4>
									<p><small>(客服工作时间：9:00-18:00)</small></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-grey-l footer-down">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 icons">
					<p class="text-center">&copy; 2014-2015  宏财 All rights reserved &nbsp;&nbsp; 宏财泰富（北京）科技有限公司 &nbsp;&nbsp; 京ICP备14051673号-1</p>
					<img src="images/icon-1.png">
					<img src="images/icon-2.png">
					<img src="images/icon-3.png">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->
