<div id="footer">
  <div class="container-fluid bg-grey-d footer-up">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 links">
          <div class="row">
            <!--<div class="col-xs-4 col-md-2"><a ui-sref="root.about-us.introduction-of-platform">关于我们</a></div>
            <div class="col-xs-4 col-md-2"><a ui-sref="root.about-us.link-us">联系我们</a></div>
            <div class="col-xs-4 col-md-2"><a href="newbie-guide.html" target="_blank">新手引导</a></div>
            <div class="col-xs-4 col-md-2"><a ui-sref="root.help-center.introduce">帮助中心</a></div>
            <div class="col-xs-4 col-md-2"><a ui-sref="root.project-list-query({status: '6,7,8,9', minCycle: 0, maxCycle: 100, minEarning: 0, maxEarning: 100, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:'release_start_time', sortType: false })">我要理财</a></div>
            <div class="col-xs-4 col-md-2"><a ui-sref="root.friends-ship" target="_blank">友情链接</a></div>-->
          </div>
        </div>
        <div class="col-xs-12 col-sm-3">
          <div class="row">
            <div class="col-xs-12">
              <div class="media">
                <a class="pull-left"><i class="fa fa-phone text-muted ft-3em"></i></a>
                <div class="media-body">
                  <h4 class="media-heading">400-990-7626</h4>
                  <p><small>(客服工作时间：9:00-18:00)</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-grey-l footer-down">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 icons">
          <p class="text-center" id="copyright"></p>
          <!-- <img src="images/icon-1.png">
          <img src="images/icon-2.png">
          <img src="images/icon-3.png"> -->
          <div class="col-xs-2 col-md-offset-2 margin-t-20 margin-l-40" width="135" align="center" valign="top">
            <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.hongcai.com&amp;size=L&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=zh_cn"></script>
            <a href="https://sealsplash.geotrust.com/splash?&dn=www.hongcai.com" target="_blank" rel="nofollow"><img src="https://sealsplash.geotrust.com/images/ssl-valid-en-M.gif" class="display-bl" height="43px" width="110px">
            </a>
          </div>
          <div class="col-xs-2 margin-t-20">
            <a id="_pingansec_bottomimagesmall_p2p" target="_blank" href="http://sealinfo.trustutn.org/info?sn=138170327000572766785"><img src="images/unity.jpg" class="display-bl margin-r-25"/></a>
          </div>
          <div class="col-xs-2 margin-t-20">
            <a target="_blank" href="https://credit.szfw.org/CX20170405033527381657.html"><img src="images/cert-min.png" class="display-bl"/></a>
          </div>
          <div class="col-xs-2 margin-t-20">
            <script src="https://kxlogo.knet.cn/seallogo.dll?sn=e17040711010767295ggzi000000&size=4"></script>
            <a target="_blank" href="https://ss.knet.cn/verifyseal.dll?sn=e17040711010767295ggzi000000&comefrom=trust"><img src="images/kexin.png" height="44px"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->
<script type="text/javascript">
  $('#copyright').html('&copy; 2014-' + new Date().getFullYear() + ' 宏财 All rights reserved &nbsp;&nbsp; 北京竞财投资服务有限公司 &nbsp;&nbsp; 京ICP备15025477号-1')
</script>
