<!-- start header -->
<div id="header">
    <div class="full-screen top-bar">
        <div class="container" ng-controller="LoginCtrl">
            <ul class="nav navbar-nav">
                <li>您好，欢迎来到宏财！</li>
                <li class="tel-img"></li>
                <li>400-400-400-400</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <div ng-if="isLogged === true" >
                    <p ng-if="loginResult.ret == 1">欢迎</p>
                    <a ui-sref="root.userCenter.account-overview">{{loginName}}</a>
                    <a ng-href="#" ng-click="logout();">退出</a>
                    <a ui-sref="root.help-center.introduce" class="help">帮助中心</a>
                </div>
                <div ng-if="isLogged !== true">
                    <a ui-sref="root.help-center.introduce" class="help">帮助中心</a>
                </div>
            </ul>
        </div>
    </div>
    <div class="full-screen">
        <div class="container logo">
            <ul class="nav navbar-nav">
                <!-- <li  ui-sref="root.login" class="logo-img-1"></li> -->
                <li ng-if="isLogged === true" ui-sref="root.userCenter.account-overview" class="logo-img-1"></li>
                <li ng-if="isLogged !== true" ui-sref="root.login" class="logo-img-1"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<a class="active" href="/">首页</a>
                <a href="/project-list/6,7,8,9/0/100/0/20/0/200000000/release_start_time/false">投资产品</a>-->
                <a href="/safe">安全保障</a>
                <a ui-sref="root.about-us.introduction-of-platform">关于我们</a>
            </ul>
        </div>
    </div>
</div>
<!-- end header -->
