<!-- start header -->
<!-- Static navbar -->
<nav id="mini-bar" class="navbar navbar-default navbar-static-top hidden-xs" role="navigation" style="">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Project name</a> -->
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <p class="navbar-text">您好，欢迎来到宏财！<i class="fa fa-phone"></i>400-990-7626</p>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="isLogged === true">
          <span>欢迎，<a ui-sref="root.userCenter.account-overview">{{loginName}}</a> <a ng-href="#" ng-click="logout();" class="logout">退出</a></span>
        </li>
        <li ng-if="isLogged !== true">
          <!-- <a ui-sref="root.login">登录</a> -->
        </li>
        <li ng-if="isLogged !== true">
          <a ui-sref="root.registerMobile">注册</a>
        </li>
        <!--<li><a class="ft-red" href="newbie-guide.html" target="_blank">新手引导</a></li>-->
        <!-- <li><a class="ft-red" href="newbie-guide.html" onclick="window.location.reload()">新手引导</a></li> -->
        <!--<li><a ui-sref="root.help-center.introduce" class="help">帮助中心</a></li>-->
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<!-- Static navbar -->
<!-- <div id="major-bar"> -->

<nav id="major-bar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <a class="navbar-brand logo-img-1 hidden-xs" href="/">&nbsp;</a>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--<li><a ui-sref="root.main" class={{selectPage==''?'active':''}}>首页</a></li>
          <li><a ui-sref="root.project-list-query({status: '6,7,8,9,10', minCycle: 0, maxCycle: 100, minEarning: 0, maxEarning: 100, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:'release_start_time', sortType: false })" class={{selectPage=='project-list'?'active':''}}>我要理财</a></li>
          <li><a ui-sref="root.safe" class={{selectPage=='safe'?'active':''}}>安全保障</a></li>
          <li><a ui-sref="root.about-us.introduction-of-platform" class={{selectPage=='introduction-of-platform'?'active':''}}>关于我们</a></li>-->
    </ul>
  </div>
</nav>

<!-- </div> -->
<!-- end header -->
