<!--login-->
<div class="bg bg-offWhite" ng-controller="LoginCtrl">
	<div class="bg-login-height bg-login-regist-width">
		<div class="login-area form-area">
			<p class="login-title">登录宏财</p>
			<form class="form-horizontal form-login" role="form" name="loginForm" ng-submit="login(user)">
				<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
				<div class="login-regist-form-group">
					<label for="account" class="big-tips">账户：</label>
					<input type="text" 
						class="input-message" 
						id="account" 
						name="account" 
						ng-model="user.account" 
						required 
						autofocus>
					<div ng-show="loginForm.account.$dirty && loginForm.account.$invalid">
						<div ng-show="loginForm.account.$error.required">
							<img ng-src="images/check_no.png" class="check-img login-check-img">
							<p class="input-tips login-input-tips">账号不能为空</p>
						</div>
					</div>
				</div>
				<div class="login-regist-form-group">
					<label for="password" class="big-tips">密码：</label>
					<input type="password" 
						class="input-message" 
						name="password" 
						ng-model="user.password"
						required 
						autofocus>
					<div ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
						<div ng-show="loginForm.password.$error.required">
							<img ng-src="images/check_no.png" class="check-img login-check-img">
							<p class="input-tips login-input-tips">密码不能为空</p>
						</div>
					</div>
					<div ng-show="isPasswordError" ng-init="isPasswordError=false">
							<img ng-src="images/check_no.png" class="check-img login-check-img">
							<p class="input-tips login-input-tips">账号或密码错误</p>
					</div>
				</div>
				<div class="login-regist-form-group remember-height">
					<label for="password" class="big-tips"></label>
					<!--<img src="images/check_01.png" class="pic-check" onclick="change_agree_pic(this);">
					<p class="p-remember">记住用户名</p>-->
					<!--<a ui-sref="root.get-pwd-back" class="p-forget">忘记密码？</a>-->
				</div>
				<div class="form-group">
					<input type="submit" class="red-button" ng-disabled="loginForm.$invalid" value="立即登录">
				</div>
			</form>
		</div>
		<div class="right-show login-right">
			<p class="p-right-show p-login-right"></p>
		</div>
	</div>
</div>
