<!-- start 主体 -->
<div class="container advertise">
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-5 advertise-img investment"></div>
      <div class="col-lg-7"><span>我要投资</span><br><small>年化利率10%+<br>专业风控，本息保障</small></div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-5 advertise-img finance"></div>
      <div class="col-lg-7"><span>理财服务</span><br><small>稳定高收益，超定存3倍<br>专业风控，本息保障</small></div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-5 advertise-img security"></div>
      <div class="col-lg-7"><span>安全保障</span><br><small>100%本金保障<br>保障客户信息安全</small></div>
    </div>
  </div>
</div>
<div class="full-screen bg-offWhite main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row mgn-top bg-white recommend">
          <div class="col-lg-5 recommend-img"></div>
          <div class="col-lg-7 recommend-details">
            <div class="hot-sale"></div>
            <div class="row recommend-details-top">
              <div class="col-lg-12"><span class="project-name">光大理财产品（9月）<!-- 数据绑定 --></span><br><span class="ft-18">项目规模：1000万<!-- 数据绑定 --></span></div>
            </div>
            <div class="row recommend-details-main">
              <div class="col-lg-4 border-r"><span class="ft-24">12%<!-- 数据绑定 --></span><br><span class="ft-18">年化收益</span></div>
              <div class="col-lg-4 border-r"><span class="ft-24">52%<!-- 数据绑定 --></span><br><span class="ft-18">投资进度</span></div>
              <div class="col-lg-4"><span class="ft-24">12月<!-- 数据绑定 --></span><br><span class="ft-18">按月付息</span></div>
            </div>
            <div class="row to-invest">
              <div class="col-lg-12">
                <a class="go" href="/project-details">立即投资</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mgn-top border bg-white project-list">
          <div class="row border-b project-tit">
            <ul class="nav navbar-nav">
                  <li class="project-tit-img"></li>
                  <li class="project-tit-txt">推荐产品</li>
                </ul>
                <a class="check-more" href="/project-list">更多产品></a>
          </div>
          <section>
            <div class="row project-item" ng-repeat="project in projectList.projectList">
              <div class="col-lg-5 project-item-img"><a ui-sref="root.project-details({projectId: project.id})"><img src="images/project-img.png" width="238" height="235" alt="{{project.name}}"></a></div>
              <div class="col-lg-7">
                <div class="row">
                  <div class="col-lg-12 project-name"><a ui-sref="root.project-details({projectId: project.id})">{{project.name}}</a></div>
                </div>
                <div class="row">
                  <div class="col-lg-12">担保机构：<span><a ui-sref="root.project-sponsorInstitution">{{project.guaranteeName}}</a></span></div>
                </div>
                <div class="row">
                  <div class="col-lg-12">还款方式：<span>{{project.repaymentName}}</span>&nbsp;&nbsp;<span>100%本息担保</span></div>
                </div>
                <div class="row">
                  <div class="col-lg-6">投资进度:<span>{{project.progress}}%</span></div>
                  <div class="col-lg-6">项目状态：<span>{{project.statusText}}</span></div>
                </div>
                <div class="row">
                  <div class="col-lg-6">项目规模：<span>{{project.total/10000}}万</span></div>
                  <div class="col-lg-6">可投金额：<span>{{project.total - project.minInvest * project.countInvest}}元</span></div>
                </div>
                <div class="row">
                  <div class="col-lg-6">年化收益:<span>{{project.annualEarnings}}%</span></div>
                  <div class="col-lg-6">项目期限：<span>{{project.cycle}}个月</span></div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <a class="go" ui-sref="root.project-details({projectId: project.id})">立即投资</a>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row mgn-top recommend-support-details">
          <div class="col-lg-12 recommend bg-white">
            <div class="row">
              <div class="col-lg-12 support-text">
                <div class="support-text-img"></div>
                统计数据
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 support-img-1"></div>
              <div class="col-lg-9">总投资额<br><span class="ft-24">258,582,254.53<!-- 数据绑定 --></span>元</div>
            </div>
            <div class="row">
              <div class="col-lg-3 support-img-2"></div>
              <div class="col-lg-9">用户受益<br><span class="ft-24">582,254.53<!-- 数据绑定 --></span>元</div>
            </div>
            <div class="row">
              <div class="col-lg-3 support-img-3"></div>
              <div class="col-lg-9">参与投资<br><span class="ft-24">282,254<!-- 数据绑定 --></span>人</div>
            </div>
          </div>
        </div>
        <div class="row mgn-left-0">
          <div class="col-lg-12 mgn-top news bg-white">
            <div class="row news-tit">
              <div class="col-lg-6 ftw-b">媒体报道</div>
              <div class="col-lg-6"><a class="check-more" href="/">更多></a></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
          </div>
        </div>
        <div class="row mgn-left-0">
          <div class="col-lg-12 mgn-top news bg-white">
            <div class="row news-tit">
              <div class="col-lg-6 ftw-b">网站公告</div>
              <div class="col-lg-6"><a class="check-more" href="/">更多></a></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
          </div>
        </div>
        <div class="row mgn-left-0">
          <div class="col-lg-12 mgn-top news bg-white">
            <div class="row news-tit">
              <div class="col-lg-6 ftw-b">新手引导</div>
            </div>
            <div class="row flow">
              <div class="col-lg-2 flow-register"></div>
              <div class="col-lg-2 flow-arrow"></div>
              <div class="col-lg-3 flow-login"></div>
              <div class="col-lg-2 flow-arrow"></div>
              <div class="col-lg-3 flow-invest"></div>
            </div>
          </div>
        </div>
        <div class="row mgn-left-0">
          <div class="col-lg-12 mgn-top news bg-white">
            <div class="row news-tit">
              <div class="col-lg-6 ftw-b">常见问题</div>
              <div class="col-lg-6"><a class="check-more" href="/">更多></a></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
            <div class="row">
              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
            </div>
          </div>
        </div>
        <div class="row mgn-left-0">
          <div class="col-lg-12 mgn-top news news-list bg-white">
            <div class="row news-tit">
              <div class="col-lg-6 ftw-b">宏财动态</div>
              <div class="col-lg-6"><a class="check-more" href="/">更多></a></div>
            </div>
            <div class="row news-item">
              <div class="col-lg-6"><img src="images/news-img.png" width="132" height="90"><!-- 数据绑定 --></div>
              <div class="col-lg-6">就光荣机构人就光荣交互稿金融机构认购款<!-- 数据绑定 --></div>
            </div>
            <div class="row news-item">
              <div class="col-lg-6"><img src="images/news-img.png" width="132" height="90"><!-- 数据绑定 --></div>
              <div class="col-lg-6">就光荣机构人就光荣交互稿金融机构认购款<!-- 数据绑定 --></div>
            </div>
            <div class="row news-item">
              <div class="col-lg-6"><img src="images/news-img.png" width="132" height="90"><!-- 数据绑定 --></div>
              <div class="col-lg-6">就光荣机构人就光荣交互稿金融机构认购款<!-- 数据绑定 --></div>
            </div>
            <div class="row news-item">
              <div class="col-lg-6"><img src="images/news-img.png" width="132" height="90"><!-- 数据绑定 --></div>
              <div class="col-lg-6">就光荣机构人就光荣交互稿金融机构认购款<!-- 数据绑定 --></div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end 主体 -->

