<section ui-view="slider"></section>
<section class="user-center bg-offWhite">
	<div class="container userCenter">
		<div ui-view="sidebar"></div>
		<div ui-view="user-center" class="user-center-right"></div>
	</div>
</section>
<section class="about-us bg-offWhite">
	<div class="container">
		<div ui-view="about-sidebar" class="about-sidebar"></div>
		<div ui-view="about-us" class="about-us-right"></div>
	</div>
</section>
<section class="help-center">
	<div class="container">
		<div class="row">
			<div ui-view="help-sidebar"></div>
			<div ui-view="help-center-right"></div>
		</div>
	</div>
</section>
<section ui-view></section>
<section ui-view='sponsor'></section>

