<div ng-controller="SafeCtrl" class="project-list-all bg-offWhite ng-scope">
  <div class="container page-container safe bg-white">
    <div class="row">
      <img src="images/safe-top.png" width="100%" height="255">
    </div>
    <div class="row safe-content">
      <ul class="nav navbar-nav">
        <div class="row">
          <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 border-r"><a href="/safe/#service">业务保障</a></li>
          <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 border-r"><a href="/safe/#technique">技术保障</a></li>
          <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 border-r"><a href="/safe/#capital">资金保障</a></li>
          <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2 border-r"><a href="/safe/#privacy">隐私保障</a></li>
          <li class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><a href="/safe/#carousel-generic">保荐机构</a></li>
        </div>
      </ul>
      <div class="row content-list">
        <div class="col-md-12 list-item border-b service" id="service">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <p class="ft-16 ftw-b">业务保障</p>
              <ul class="tit2">
                <li>全额本息担保</li>
              </ul>
              <p>
                不具有管理及监督权的政府机构和金融单位推荐的担保公司，进行本息连带担保并确保在出现风险时可及时足额对投资人进行代偿
              </p>
              <ul class="tit2">
                <li>分散风险</li>
              </ul>
              <p>
                不同项目、不同投资人设计个性化担保方案，地域、行业、人群及时分散风险
              </p>
              <ul class="tit2">
                <li>严格资信审查</li>
              </ul>
              <p>
                专业风控团队通过数据分析及多层信息筛查，从源头把控风险
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 list-item border-b technique" id="technique">
          <div class="row">
            <div class="col-md-7">
              <p class="ft-16 ftw-b">技术保障</p>
              <ul class="tit2">
                <li>专业IT团队</li>
              </ul>
              <p>
                IT团队在信息安全和数据安全方面有非常丰富的经验，让您享受银行级别的安全保障
              </p>
              <ul class="tit2">
                <li>网站安全防护</li>
              </ul>
              <p>
                网站入侵防护工具三层防火墙隔离系统，有效的入侵防范及容灾备份，确保交易数据安全无虞
              </p>
              <ul class="tit2">
                <li>数据安全防护</li>
              </ul>
              <p>
                完备、成熟的多级、异地数据容灾备份方案，避免不可抗力因素对某数据中心的损坏
              </p>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
        <div class="col-md-12 list-item border-b capital" id="capital">
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <p class="ft-16 ftw-b">资金保障</p>
              <ul class="tit2">
                <li>多层保证金制度</li>
              </ul>
              <p>
                由合作机构缴纳一定比例、金额的保证金，如融资人未能及时履行债务可及时代偿
              </p>
              <ul class="tit2">
                <li>三方监管</li>
              </ul>
              <p>
                保证金账户由第三方进行账户监管并接受权威机构审计，为投资人提供有效还款保障
              </p>
              <ul class="tit2">
                <li>流出监管</li>
              </ul>
              <p>
                与优质的第三方支付和银行合作，通过账户托管及代收代付等服务管理，为投资人的资金提供安全保障
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12 list-item privacy" id="privacy">
          <div class="row">
            <div class="col-md-7">
              <p class="ft-16 ftw-b">隐私保障</p>
              <p>
                宏财网上所有的隐私信息都经过MD5技术等加密处理，防止任何人包括公司员工获取用户信息或未经授权地不正当使用。
                <br>
                宏财网在任何情况下都绝不会出售、出租或以任何其他形式泄漏您的信息或用于其他商业行为。
                <br>
                所有客户的信息按照《宏财网投资咨询服务协议》中的规定被严格保护。
              </p>
            </div>
            <div class="col-md-5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
