<div class="container bg">
  <div class="agreement-area row introduction-height">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
            <img src="images/register-success.png">
          </div>
          <div class="success-re col-lg-9 col-md-9">
            <div class="col-lg-12 col-md-12">
              <p ng-if="pay_company === 'cgt'" class="margin-t-20"><strong>您即将进入存管通资金存管系统，请在存管通页面完成剩余操作！</strong>
              </p>
              <p ng-if="pay_company === 'yeepay'" class="margin-t-20"><strong>您即将进入易宝，请在易宝页面完成剩余操作！</strong>
              </p>
              <!-- <div class="border-b list-l col-lg-12 col-md-12"></div> -->
            </div>
            <!-- <div class="col-lg-12 col-md-12 list-l">
              <p class="success-p">
                已成功充入您的账户</p>
              <p class="success-p">心动不如行动，快去投资吧！</p>
            </div>
            <div class="col-lg-12 col-md-12">
              <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.project-list-query({status: [6,7,8,9,10,11,12], minCycle: 0, maxCycle: 100, minEarning: 0, maxEarning: 100, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:'release_start_time', sortType: false})">浏览项目</a>
              <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.userCenter.assets-overview">查看余额</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
